<% if !drafts.empty? %>
  <i class="icon icon-time contact-field-history" rel="history-<%= type %>" onclick="$('.history-<%= type %>').toggle()"></i>
  <ul class="history-list history-<%= type %>" style="display: none">

    <% drafts.each do |c| %>
      
      <% if ["name","short_name","description"].include?(type) %>
        <li><%= c[type].empty? ? "[empty]" : c[type] %> <span class="nowrap time-span"><%= c.created_at.strftime("%d-%b-%Y, %I:%M %p") %>, by <%= c.user.name if c.user.present? %></span></li>
      <% end %>
      
    <% end %>
  </ul>
<% end %>