                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Users', course_types_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-briefcase"></i>
                    	<h3>Program - <span class="semi-bold"> Management</span></h3>	
                </div>
			
			<%= form_tag("", {class: "listing_form", method: "post", target: "_blank"}) do |f| %>
				
				<div class="grid simple ">
                  <div class="grid-body no-border filters course-type-filter">
                  <div class="row order-filters">						
						<div class="col-md-3">
							<h4>Status</h4>							
							<%= select_tag 'status', options_for_select(CourseType.status_options, params[:status]), class: "modern_select width100" %>
						</div>
                  </div>
                  </div>		    
				</div>
				
				
                <div class="row">
                    <div class="col-md-12">
                        <%= link_to 'New Program', new_course_type_path(tab_page: 1), psrc: course_types_path(tab_page:1), title: "New Program", :class => 'btn btn-primary btn-cons tab_page' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Program</span></h4>
                                
                            </div>
							
							<div class="listing_box_actions">
									<div class="btn-group listing_actions"> <a href="#" data-toggle="dropdown" class="btn btn-white dropdown-toggle btn-demo-space"> List Actions (<span class="listing_checked_count">0</span>)<span class="caret"></span> </a>
										<ul class="dropdown-menu">									
											<li><a href="#" rel="<%= approve_all_course_types_path %>" type="ajax">Approve All</a></li>									
										</ul>
									</div>
									<div class="checkbox check-default check_all_page_but" style="display: inline-block">
										<input name="check_all_page" id="checkbox_all_page" type="checkbox" value="all_page" class="check_all_page">
										<label for="checkbox_all_page">Select All Pages</label>
									</div>
									
									
									
								</div>
							
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables datatable-course-types no-filter">
                                        <thead>
                                            <tr>
												<th>
													<div class="checkbox check-default">
														<input id="checkbox_all" type="checkbox" value="all" class="checkall">
														<label for="checkbox_all"></label>
													</div>
												</th>
												<th>Name</th>
												<th>Description</th>
                                                <th class="text-center">Created At</th>
												<th class="text-center" width="1%">Creator</th>
												<th class="text-center" width="1%">Status</th>
												<th class="text-right" width="1%">Actions</th>
                                            </tr>
                                        </thead>                                        
                                    </table>
                            </div>
                        </div>
			
                    </div>
		    
                </div>
<% end %>



