<%= form_for(@course_types_discount_program) do |f| %>
  <% if @course_types_discount_program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_types_discount_program.errors.count, "error") %> prohibited this course_types_discount_program from being saved:</h2>

      <ul>
      <% @course_types_discount_program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_type_id %><br>
    <%= f.number_field :course_type_id %>
  </div>
  <div class="field">
    <%= f.label :discount_program_id %><br>
    <%= f.number_field :discount_program_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
