<%= form_for(@contacts_course) do |f| %>
  <% if @contacts_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contacts_course.errors.count, "error") %> prohibited this contacts_course from being saved:</h2>

      <ul>
      <% @contacts_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.number_field :contact_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :course_register_id %><br>
    <%= f.number_field :course_register_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
