<p id="notice"><%= notice %></p>

<h1>Listing Contacts Courses</h1>

<table>
  <thead>
    <tr>
      <th>Contact</th>
      <th>Course</th>
      <th>Course register</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts_courses.each do |contacts_course| %>
      <tr>
        <td><%= contacts_course.contact_id %></td>
        <td><%= contacts_course.course_id %></td>
        <td><%= contacts_course.course_register_id %></td>
        <td><%= link_to 'Show', contacts_course %></td>
        <td><%= link_to 'Edit', edit_contacts_course_path(contacts_course) %></td>
        <td><%= link_to 'Destroy', contacts_course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contacts course', new_contacts_course_path %>
