       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-titles no-border">
                  <h4><span class="semi-bold">Course Details</span></h4>
                  
                </div>     
                
                <div class="grid-body no-border">
                  
                  
                  <% if @sales_target.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@sales_target.errors.count, "error") %> prohibited this sales target from being saved:</h5>
                  
                        <ul>
                        <% @sales_target.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                  <%= form_for(@sales_target) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
					
					<div class="row">
						 <div class="col-md-4">
                            <div class="form-group">
								   <label class="form-label"><%= f.label :staff %></label>
								   <span class="help">(required)</span>
								   <div class="input-with-icon  right">                                       
									   <i class=""></i>
										<% if @sales_target.id.nil? %>
											 <input name="staff_ids" data="<%= users_path(format: "json") %>" class="select2-ajax-users required width100 multiple" />
										<% else %>
											 <input name="sales_target[staff_id]" data="<%= users_path(format: "json") %>" class="select2-ajax-users required width100" value="<%= @sales_target.staff_id %>" text="<%= @sales_target.staff.name if !@sales_target.staff.nil? %>" />
										<% end %>
								   </div>
							  </div>
						 </div>
                         <div class="col-md-4">
                            <div class="form-group">
                                      <label class="form-label"><%= f.label :report_period %></label>
                                      <span class="help">(required)</span>
                                      <div class="input-with-icon  right">                                       
                                          <i class=""></i>                                          
                                          <input name="sales_target[report_period_id]" data="<%= report_periods_path(format: "json") %>" class="select2-ajax-report-periods required width100" value="<%= @sales_target.report_period_id %>" text="<%= @sales_target.report_period.name if !@sales_target.report_period.nil? %>" />
                                      </div>
							  </div>
						 </div>
                         <div class="col-md-4">
                            <div class="form-group">
                                    <label class="form-label"><%= f.label :amount %></label>
                                    <span class="help">(required)</span>
                                    <div class="input-with-iconz">                                       
									   <i class=""></i>
										 <%= f.text_field :amount, :class => "form-control required price_input" %>
                                    </div>
							  </div>
						 </div>			
					</div>
							  
                    <div class="form-actions">  
                        <div class="pull-right">
                        <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
                        <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
                       </div>
                    </div>
							  
					<% end %>
			   </div>
			 </div>
            </div>
			
      </div>
