       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Discount Program <span class="semi-bold">Details</span></h4>
                  
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  <% if @discount_program.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@discount_program.errors.count, "error") %> prohibited this discount program from being saved:</h5>
                  
                        <ul>
                        <% @discount_program.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@discount_program) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
					
					<div class="row column-seperation">
						 <div class="col-md-6">
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :name %></label>
								<span class="help">(required)</span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_field :name, :class => "form-control required" %>
								</div>
							  </div>
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :description %></label>
								<span class="help"></span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_area :description, :class => "form-control" %>
								</div>
							  </div>
							  							  
							  
							  
							  
							  
						 </div>
						 <div class="col-md-6">
                          
							  <div class="row">
                                      <div class="col-md-8">
										<div class="form-group">
											<label class="form-label"><%= f.label :discount %></label>
											<span class="help">(required)</span>
											<div class="input-with-icon  right">                                       
												<i class=""></i>
												  <%= f.text_field :rate, :class => "form-control number_input required text-right" %>
											</div>
										</div>
									  </div>
									  <div class="col-md-4">
										<div class="form-group">
											<label class="form-label"><%= f.label :type %></label>
											<span class="help">(required)</span>
											<div class="input-with-icon  right">                                       
												<i class=""></i>
												  <div class="input-with-icon right">
													   <select name="discount_program[type_name]" class="modern_select width100 required">
															 <option <%= 'selected="selected"' if @discount_program.type_name == "percent" %> value="percent">Percent (%)</option>
															 <option <%= 'selected="selected"' if @discount_program.type_name == "amount" %> value="amount">Amount (<%= Setting.get("currency_code") %>)</option>
													   </select>
												  </div>
											</div>
										</div>
									  </div>
							  </div>
							  
                              <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label class="form-label"><%= f.label :start_at %></label>
                                              <span class="help">(required)</span>
                                              <div class="input-with-icon  right">                                       
                                                   <i class=""></i>
                                                   <div class="input-append success date col-md-10 no-padding">
                                                     <%= f.text_field :start_at, :class => "form-control required" %>
                                                     <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
                                                   </div>
                                                   <br style="clear: both" />
                                              </div>
                                          </div>	
                                      </div>
                                      
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label class="form-label"><%= f.label :end_at %></label>
                                              <span class="help">(required)</span>
                                              <div class="input-with-icon  right">                                       
                                                   <i class=""></i>
                                                   <div class="input-append success date col-md-10 no-padding">
                                                     <%= f.text_field :end_at, :class => "form-control required" %>
                                                     <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
                                                   </div>
                                                   <br style="clear: both" />
                                              </div>
                                          </div>	
                                      </div>
                              </div>
                              
                              
						 </div>
						 
						 
					</div>
						 
					<div class="form-actions">  
						 <div class="pull-right">
						 <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
						  <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
					   </div>
					</div>
							  
						<% end %>
			   </div>
			 </div>
            </div>
			
     </div>
