       <div class="row">
            <div class="col-md-6">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Tag <span class="semi-bold">Details</span></h4>
                  
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  <% if @contact_tag.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@contact_tag.errors.count, "error") %> prohibited this tag from being saved:</h5>
                  
                        <ul>
                        <% @contact_tag.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@contact_tag) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
					
					<div class="row <%= "draft_form" if @contact_tag.draft? %>">
						 <div class="col-md-12">
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :name %></label>
								<span class="help">(required)</span>
								<%= render "field_history", drafts: @contact_tag.field_history("name"), type: "name" %>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_field :name, :class => "form-control required" %>
								</div>
							  </div>
							  							  							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :description %></label>
								<span class="help"></span>
								<%= render "field_history", drafts: @contact_tag.field_history("description"), type: "description" %>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_area :description, :class => "form-control" %>
								</div>
							  </div>
							  
							  
							  
						 </div>
						 
						 
						 
					</div>
						 
					<div class="form-actions">  
						 <div class="pull-right">
							  <% if !@contact_tag.statuses.include?("deleted") && !@contact_tag.statuses.include?("delete_pending") %>
								   <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
							  <% end %>
							  <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
					   </div>
					</div>
							  
						<% end %>
			   </div>
			 </div>
            </div>
			
      </div>
