<p id="notice"><%= notice %></p>

<h1>Listing Transfer Details</h1>

<table>
  <thead>
    <tr>
      <th>Transfer</th>
      <th>Contacts course</th>
      <th>Courses phrase ids</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transfer_details.each do |transfer_detail| %>
      <tr>
        <td><%= transfer_detail.transfer_id %></td>
        <td><%= transfer_detail.contacts_course_id %></td>
        <td><%= transfer_detail.courses_phrase_ids %></td>
        <td><%= link_to 'Show', transfer_detail %></td>
        <td><%= link_to 'Edit', edit_transfer_detail_path(transfer_detail) %></td>
        <td><%= link_to 'Destroy', transfer_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transfer detail', new_transfer_detail_path %>
