       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Phrase <span class="semi-bold">Details</span></h4>
                  
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  <% if @phrase.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@phrase.errors.count, "error") %> prohibited this phrase from being saved:</h5>
                  
                        <ul>
                        <% @phrase.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@phrase) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
					
					<div class="row column-seperation <%= "draft_form" if @phrase.draft? %>">
						 <div class="col-md-6">
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :name %></label>
								<span class="help">(required)</span>
								<%= render "field_history", drafts: @phrase.field_history("name"), type: "name" %>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_field :name, :class => "form-control required" %>
								</div>
							  </div>
							  
							  <div class="form-group">
                                    <label class="form-label"><%= f.label :paper %></label>
                                    <span class="help">(required)</span>
									<%= render "field_history", drafts: @phrase.field_history("subject"), type: "subject" %>
                                    <div class="input-with-icon  right">                                       
                                           <i class=""></i>
                                           <div class="input-with_add_but">
                                                  <%= link_to '<i class="icon-plus"></i>'.html_safe, new_subject_path(tab_page: 1), title: "New Paper", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
                                                  <input style="width:100%;margin-bottom: 5px;" name="phrase[subject_ids][]" data="<%= subjects_path(format: "json") %>" class="select2-ajax-subjects multiple required" values="<%= @phrase.json_encode_subjects_ids_names %>" /> 
                                           </div>
                                                                                     
                                     
                                    </div>
                               </div>
							  
						 </div>
						 <div class="col-md-6">
							  <div class="form-group">
								<label class="form-label"><%= f.label :description %></label>
								<span class="help"></span>
								<%= render "field_history", drafts: @phrase.field_history("description"), type: "description" %>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_area :description, :class => "form-control" %>
								</div>
							  </div>
						 </div>
						 
						 
					</div>
						 
					<div class="form-actions">  
						 <div class="pull-right">
							  <% if !@phrase.statuses.include?("deleted") && !@phrase.statuses.include?("delete_pending") %>
								   <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
							  <% end %>
							  <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
					   </div>
					</div>
							  
					<% end %>
			   </div>
			 </div>
            </div>
			
     </div>


<script>
	 $(document).ready(function() {
		  vs = JSON.parse($('.select2-ajax-subjects').attr('values'))
		  $('.select2-ajax-subjects').select2('data', vs)
	 });
</script>