                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Phrase Management', phrases_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-briefcase"></i>
                    	<h3>Phrase - <span class="semi-bold"> Management</span></h3>	
                </div>
				
				<div class="grid simple ">
                  <div class="grid-body no-border filters phrase-filter">
                  <div class="row order-filters">
                    
                      <div class="col-md-4">
                        <h4>Program</h4>
						<%= select_tag 'filter[course_types[]]', options_for_select(CourseType.active_course_types.collect{ |u| [u.short_name, u.id] }), class: "modern_select width100", multiple: "multiple" %>
                      </div>
                      
                      <div class="col-md-4">
                        <h4>Paper</h4>
						<%= select_tag 'filter[subjects[]]', options_for_select(Subject.active_subjects.collect{ |u| [u.name, u.id] }), class: "modern_select width100", multiple: "multiple" %>
                      </div>
                      
					  <div class="col-md-3">
							<h4>Status</h4>							
							<%= select_tag 'status', options_for_select(Phrase.status_options, params[:status]), class: "modern_select width100" %>
						</div>
                      
                  </div>
                  </div>		    
				</div>
				
                <div class="row">
                    <div class="col-md-12">
                        <%= link_to 'New Phrase', new_phrase_path(tab_page: 1), psrc: phrases_path(tab_page:1), title: "New Phrase", :class => 'btn btn-primary btn-cons tab_page' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Phrase</span></h4>
                                
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables datatable-phrases no-filter">
                                        <thead>
                                            <tr>                                                
												<th>Name</th>
                                                <th class="text-center">Program</th>
												<th class="text-center">Paper</th>
                                                <th class="text-center">Created At</th>
												<th class="text-center" width="1%">Creator</th>
												<th class="text-center" width="1%">Status</th>
												<th class="text-right" width="1%">Actions</th>
                                            </tr>
                                        </thead>                                        
                                    </table>
                            </div>
                        </div>
			
                    </div>
		    
                </div>

