<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @phrase.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @phrase.subject_id %>
</p>

<%= link_to 'Edit', edit_phrase_path(@phrase) %> |
<%= link_to 'Back', phrases_path %>
