       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Category <span class="semi-bold">Details</span></h4>
                  
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  <% if @user.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h5>
                  
                        <ul>
                        <% @user.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@user, html: { multipart: true }) do |f| %>
					
					<% if params[:tab_page] %>
						 <%= hidden_field_tag "tab_page", 1 %>
					<% end %>
					
					
					
					<div class="row column-seperation">
						 <div class="col-md-6">
							  <div class="form-group">
								   <label class="form-label"><%= f.label :image %></label>
								   <span class="help">(required)</span>
								   <div class="right">                                       
									   <i class=""></i>
									   <!--<div class="nice"><%= f.file_field :image %></div>-->
									   
										<ul id="sortable" class="image-boxes">
											 
											 <li class="image-box ui-state-default">
												  <%= hidden_field_tag "remove_avatar", "", class: "destroy_tag" %>
												  <div class="img-actions">
													   <i class="icon-minus-sign delete-but<% if !@user.image.present? %> hidden<% end %>"></i>
												  </div>
												  <a href="#" class="">
													   <% if @user.image.present? %>
															<img class="current_img current_image_pic" src="<%= @user.avatar(:square2x) %>" />
													   <% end %>
													   <i class="icon-picture current_img current_image_icon<% if @user.image.present? %> hidden<% end %>"></i>
													   <img src="" class="new_picture hidden" />										
												  </a>
												  <%= f.file_field :image, :class => "hidden" %>
											 </li>
					 
										</ul>
										<br style="clear:both" />
								   </div>
							   </div>
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :name %></label>
								<span class="help">(required)</span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_field :name, :class => "form-control required" %>
								</div>
							  </div>
							  
							  <!--<div class="form-group">
								<label class="form-label"><%= f.label :first_name %></label>
								<span class="help">(required)</span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_field :first_name, :class => "form-control required" %>
								</div>
							  </div>
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :last_name %></label>
								<span class="help">(required)</span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_field :last_name, :class => "form-control required" %>
								</div>
							  </div>-->
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :email %></label>
								<span class="help">(required)</span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_field :email, :class => "form-control required" %>
								</div>
							  </div>
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :mobile %></label>
								<span class="help"></span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_field :mobile, :class => "form-control" %>
								</div>
							  </div>
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :old_consultant_id %></label>
								<span class="help">(for importing restore old system only)</span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_field :tmp_ConsultantID, :class => "form-control" %>
								</div>
							  </div>
							  
							  
								   
							  <div class="form-group">
								<label class="form-label"><%= f.label :password %></label>
								<span class="help">(required)</span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
										<%= f.password_field :password, :class => "form-control",  :autocomplete => "off" %>
								</div>
							  </div>
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :password_confirmation %></label>
								<span class="help">(required)</span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
										<%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
								</div>
							  </div>
							  
							  
							  
						 </div>
						 
						 <div class="col-md-6">
							  <div class="form-group">
								<label class="form-label"><%= f.label :roles %></label>
								<span class="help"></span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									
									
									
									
								   <div class="input-with-icon  right">                                       
									<i class=""></i>
									
										<div class="row">
											 <div class="col-md-12">
												  <div class="row-fluid user-role user">
													<div class="checkbox check-info">
													  <input type="checkbox" checked value="<%= Role.get("user").id %>" id="role_<%= Role.get("user").id %>" name="user[role_ids][]">
													  <label for="role_<%= Role.get("user").id %>">User</label>
													</div>
												  </div>
											 </div>
										</div>
										<div class="row">
											 <div class="col-md-12">
												  <div class="row-fluid user-role admin">
													<div class="checkbox check-info">
													  <input type="checkbox" <%= 'checked="checked"'.html_safe if @user.has_role?("admin") %> value="<%= Role.get("admin").id %>" id="role_<%= Role.get("admin").id %>" name="user[role_ids][]">
													  <label for="role_<%= Role.get("admin").id %>">Admin</label>
													</div>
												  </div>
											 </div>
										</div>
										<hr style="margin-top: 0" />
										<div class="row">
											 <div class="col-md-12">
												  <div class="row-fluid user-role manager">
													<div class="checkbox check-info">
													  <input type="checkbox" <%= 'checked="checked"'.html_safe if @user.has_role?("manager") %> value="<%= Role.get("manager").id %>" id="role_<%= Role.get("manager").id %>" name="user[role_ids][]">
													  <label for="role_<%= Role.get("manager").id %>">Manager</label>
													</div>
												  </div>
											 </div>
										</div>
										<hr style="margin-top: 0" />
										<div class="row">											 
											 <div class="col-md-3">
												  <div class="row-fluid user-role education_consultant">
													<div class="checkbox check-info">
													  <input type="checkbox" <%= 'checked="checked"'.html_safe if @user.has_role?("education_consultant") %> value="<%= Role.get("education_consultant").id %>" id="role_<%= Role.get("education_consultant").id %>" name="user[role_ids][]">
													  <label for="role_<%= Role.get("education_consultant").id %>">Education consultant</label>
													</div>
												  </div>
											 </div>
											 <div class="col-md-3">
												  <div class="row-fluid user-role accountant">
													<div class="checkbox check-info">
													  <input type="checkbox" <%= 'checked="checked"'.html_safe if @user.has_role?("accountant") %> value="<%= Role.get("accountant").id %>" id="role_<%= Role.get("accountant").id %>" name="user[role_ids][]">
													  <label for="role_<%= Role.get("accountant").id %>">Accountant</label>
													</div>
												  </div>
											 </div>
											 <div class="col-md-3">
												  <div class="row-fluid user-role storage_manager">
													<div class="checkbox check-info">
													  <input type="checkbox" <%= 'checked="checked"'.html_safe if @user.has_role?("storage_manager") %> value="<%= Role.get("storage_manager").id %>" id="role_<%= Role.get("storage_manager").id %>" name="user[role_ids][]">
													  <label for="role_<%= Role.get("storage_manager").id %>">Storage manager</label>
													</div>
												  </div>
											 </div>
                                            <div class="col-md-5">
                                                <div class="row-fluid user-role education_consultant">
                                                  <div class="checkbox check-info">
                                                    <input type="checkbox" <%= 'checked="checked"'.html_safe if @user.has_role?("junior_education_consultant") %> value="<%= Role.get("junior_education_consultant").id %>" id="role_<%= Role.get("junior_education_consultant").id %>" name="user[role_ids][]">
                                                    <label for="role_<%= Role.get("education_consultant").id %>">Junior Education consultant</label>
                                                  </div>
                                                </div>
                                            </div>
										</div>
										<hr style="margin-top: 0" />
										<div class="row">
											 <div class="col-md-12">												
												  <div class="row-fluid user-role sales_admin">
													<div class="checkbox check-info">
													  <input type="checkbox" <%= 'checked="checked"'.html_safe if @user.has_role?("sales_admin") %> value="<%= Role.get("sales_admin").id %>" id="role_<%= Role.get("sales_admin").id %>" name="user[role_ids][]">
													  <label for="role_<%= Role.get("sales_admin").id %>">Sales admin</label>
													</div>
												  </div>
											 </div>
										</div>
								</div>
									
									
									
									
									
									
								   <!--<% Role.all.each do |role| %>
										<% if current_user.has_role?("admin") || (current_user.has_role?("manager") && !["admin","manager"].include?(role.name)) %>
											 <div class="row-fluid user-role <%= role.name %>">
											   <div class="checkbox check-info">
												 <%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role) || (@user.id.nil? && role.name == "user"), :id => "role_#{role.id}" %>
												 <%= f.label role.name, :for => "role_#{role.id}" %>
											   </div>
											 </div>
										<% end %>
								   <% end %>-->
								</div>
							  </div>
							  
							  <div class="form-group">
								   <label class="form-label"><%= f.label :other_abilities %></label>
								   <span class="help"></span>
								   <div class="row">
										<div class="col-md-12">												
											 <div class="row-fluid user-role sales_admin">
											   <div class="checkbox check-info">
												 <input type="checkbox" <%= 'checked="checked"'.html_safe if @user.has_role?("export_contact_excel") %> value="<%= Role.get("export_contact_excel").id %>" id="role_<%= Role.get("export_contact_excel").id %>" name="user[role_ids][]">
												 <label for="role_<%= Role.get("export_contact_excel").id %>">Export Contact - Excel</label>
											   </div>
											 </div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">												
											 <div class="row-fluid user-role sales_admin">
											   <div class="checkbox check-info">
												 <input type="checkbox" <%= 'checked="checked"'.html_safe if @user.has_role?("export_contact_mobile") %> value="<%= Role.get("export_contact_mobile").id %>" id="role_<%= Role.get("export_contact_mobile").id %>" name="user[role_ids][]">
												 <label for="role_<%= Role.get("export_contact_mobile").id %>">Export Contact Mobiles</label>
											   </div>
											 </div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">												
											 <div class="row-fluid user-role sales_admin">
											   <div class="checkbox check-info">
												 <input type="checkbox" <%= 'checked="checked"'.html_safe if @user.has_role?("export_contact_email") %> value="<%= Role.get("export_contact_email").id %>" id="role_<%= Role.get("export_contact_email").id %>" name="user[role_ids][]">
												 <label for="role_<%= Role.get("export_contact_email").id %>">Export Contact Emails</label>
											   </div>
											 </div>
										</div>
                                    </div>
							  </div>
						 </div>
						 
					</div>
						 
					<div class="form-actions">  
						 <div class="pull-right">
						 <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
						 <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
					   </div>
					</div>
							  
						<% end %>
			   </div>
			 </div>
            </div>
			
      </div>



