                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li>Amin</li>
                </ul>
                
				<div class="page-title">
                        <i class="icon-user"></i>
                    	<h3>Import - <span class="semi-bold"> From Old System</span></h3>	
                </div>
				
				<% if !@result.nil? %>
          <ol>
            <li>OldBook: <%= OldBook.count %></li>
            <li>OldBookDatum: <%= OldBookDatum.count %></li>
            <li>OldCompany: <%= OldCompany.count %></li>
            <li>OldConsultant: <%= OldConsultant.count %></li>
            <li>OldCourse: <%= OldCourse.count %></li>
            <li>OldCourseType: <%= OldCourseType.count %></li>
            <li>OldDelivery: <%= OldDelivery.count %></li>
            <li>OldInvoice: <%= OldInvoice.count %></li>
            <li>OldInvoiceDetail: <%= OldInvoiceDetail.count %></li>
            <li>OldLinkStudent: <%= OldLinkStudent.count %></li>
            <li>OldNoteDetail: <%= OldNoteDetail.count %></li>
            <li>OldStudent: <%= OldStudent.count %></li>
            <li>OldSubject: <%= OldSubject.count %></li>
            <li>OldTag: <%= OldTag.count %></li>
            <li>OldUserLevel: <%= OldUserLevel.count %></li>
            <li>OldUserRole: <%= OldUserRole.count %></li>
          <ol>
				<% end %>
				
				
				<div class="row column-seperation">
				  
				  <div class="col-md-6">                        
                    <div class="grid simple">
                      <div class="grid-title no-border">
                        <h4>Select <span class="semi-bold">Options</span></h4>
                        <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
                      </div>  
                                      
                       <div class="grid-body no-border">
							
                        
                                          <%= form_tag("", multipart: true, class: "import_old_data_form") do |f| %>
												
												<% if params[:tab_page] %>
													<%= hidden_field_tag "tab_page", 1 %>
												<% end %>
												
 
													   
									
													   <div class="form-group">
														<label class="form-label">Select MDB File</label>
														<span class="help">(required)</span>
                                                            <div class="input-with-icon  right">                                       
                                                                    <i class=""></i>
                                                                    <div class="nice">
																		<%= file_field 'upload', 'datafile', class: "required" %>
																	</div>
                                                            </div>
                                                        </div>
                                  
                                  
                                                        <div class="form-actions">  
                                                            <div class="pull-right">
                                                              <input type="submit" name="import" class="btn btn-success btn-cons" value="Restore" />
                                                            </div>
                                                        </div>
                                          
                                          <% end %>
                                  
                       </div>
                       
                       
                                    
                    </div>
                  </div>
                  
                  
                  
                </div>
<script>
	 $(document).ready(function() {
		  $( ".import_old_data_form" ).submit(function( event ) {
			   if( $("input[name='upload[datafile]']").val() != "" ) {
				 $(this).find("input[type=submit]").val("Importing... Please wait.!")
				 $(this).find("input[type=submit]").addClass("btn-warning")
			   }
		  });
	 });
</script>