<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Users', users_url %>
                    </li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
        <h3><span class="semi-bold">User Statistic</span></h3>
      </div>
      
      <div class="grid simple ">
		
		
		
        <form id="user-sales-statistic-filters-form" action="<%= url_for({controller: "users", action: "statistic"})%>">
				<% if params[:tab_page] %>
						 <%= hidden_field_tag "tab_page", 1 %>
				<% end %>
                  <div class="grid-body no-border filters sales_statistic-filter">
                  <div class="row order-filters">
						<div class="col-md-2">
								<h4>From Date</h4>
								<div class="date_select_filter">
								<div class="input-with-icon  right">
									<div class="input-append success date col-md-10 no-padding">
										<%= text_field_tag :from_date, @from_date.strftime("%d-%b-%Y"), :class => "datetime form-control" %>
										<span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
									</div>
									<br style="clear: both" />
									
								</div>
								</div>
							</div>
							<div class="col-md-2">
								<h4>To Date</h4>
								<div class="date_select_filter">
								<div class="input-with-icon  right">
									<div class="input-append success date col-md-10 no-padding">
										<%= text_field_tag :to_date, @to_date.strftime("%d-%b-%Y"), :class => "datetime form-control" %>
										<span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
									</div>
									<br style="clear: both" />
								</div>
								</div>
						</div>
						<% if !current_user.lower?("manager") %>
								<div class="col-md-5">
									<h4>Consultant</h4>
									<div class="">
										<%= select_tag 'users[]', options_for_select(User.all.collect{ |u| [u.name, u.id] }, params[:users]), class: "modern_select width100", multiple: "multiple" %>
									</div>
								</div>
						<% end %>
						<div class="col-md-2">
                                <div class="">
                                    <h4 style="color:#fff">...</h4>
                                    <input type="submit" value="Go" class="btn btn-primary" />
                                </div>
                        </div>
                  </div>
                  </div>
        </form>
	  </div>
      
      <div class="row">
          <div class="col-md-12">
				<%= link_to 'Print', statistic_users_path(format: "pdf", from_date: @from_date, to_date: @to_date), :class => 'btn btn-primary btn-cons', target: "_blank" %>
				<%= link_to 'Print (Excel)', statistic_users_path(format: "xls", from_date: @from_date, to_date: @to_date), :class => 'btn btn-primary btn-cons', target: "_blank" %>
              <div class="grid simple ">                  
                  <div class="grid-body no-border">                       
                        <table class="table no-more-tables no-filter">
                              <thead>
                                  <tr>                                                
                                      <th>Consultant</th>
									  
                                      <th class="text-center">Program</th>
									  <th class="text-center">Note Log</th>
                                      <th class="text-right">Sales</th>
									  <th class="text-right">Receivable</th>
									  <th class="text-center">Paper</th>
									  <th class="text-center">New Inquiry</th>
									  <th class="text-center">New Student</th>									  
									  <th width="1%" class="text-center">
										
									  </th>
                                  </tr>
                              </thead>
								<tr class="total_row" style="background: #efefef">
										<td colspan="2" class="text-right">All Total:</td>
										<td class="text-center"><strong class=" paid"><%= format_price(@all_total[:note_total]) %></strong></td>
										<td class="text-right"><strong class=" paid"><%= format_price(@all_total[:group_total]) %></strong></td>
										<td class="text-right"><strong class=" paid"><%= format_price(@all_total[:receivable_total]) %></strong></td>
										<td class="text-center"><strong class=" paid"><%= @all_total[:paper_total] %></strong></td>
										<td class="text-center"><strong class=" paid"><%= @all_total[:inquiry_total] %></strong></td>
										<td class="text-center"><strong class=" paid"><%= @all_total[:student_total] %></strong></td>
										<td></td>
								</tr>
								<% @result.each do |u| %>										
										<tr class="total_row">
												<td>
														<%= u[:user].name %>
												</td>
												
												<td class="text-center">
														
														All</td>
												<td class="text-center">
														<strong><%= u[:note] %></strong>
												</td>
												<td class="text-right">
														<strong><%= format_price(u[:total]) %></strong>
												</td>
												<td class="text-right">
														<strong><%= format_price(u[:receivable]) %></strong>
												</td>
												<td class="text-center">
														<strong><%= u[:paper] %></strong>
												</td>												
												<td class="text-center">
														<strong><%= u[:inquiry] %></strong>
												</td>
												<td class="text-center">
														<strong><%= u[:student] %></strong>
												</td>
												<td>
														<% if !u[:statistics].empty? %>
																<a onclick="$('.detail-u-<%= u[:user].id %>').toggle()" href="#open">
																		<i class="icon icon-ellipsis-horizontal"></i>
																</a>
														<% end %>
												</td>
										</tr>
										<% u[:statistics].each do |row| %>	
												<tr class="details_row detail-u-<%= u[:user].id %>" style="display: none">                                                
													  <td>
																
													  </td>
													  
													  <td class="text-center">
																<%= row[:course_type].short_name %>
													  </td>
													  <td></td>
													  <td class="text-right">
																<%= format_price(row[:total]) %>
													  </td>
													  <td class="text-right">
																<strong><%= format_price(row[:receivable]) %></strong>
														</td>
													  <td class="text-center">
																<%= row[:paper] %>
													  </td>													  
													  <td class="text-center">
																<%= row[:inquiry] %>
													  </td>
													  <td class="text-center">
																<%= row[:student] %>
													  </td>
													  <td></td>
												</tr>
										<% end %>
								<% end %>
								
								
                          </table>
                  </div>
              </div>
  
          </div>
  
      </div>
	  <style>
		
	  </style>
