<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Users', users_url %>
                    </li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
        <h3><span class="semi-bold">User Statistic</span></h3>
      </div>
      
      <div class="grid simple ">
		
		
        <form id="user-sales-statistic-filters-form" action="<%= url_for({controller: "users", action: "statistics_enhanced"})%>">
				<% if params[:tab_page] %>
						 <%= hidden_field_tag "tab_page", 1 %>
				<% end %>
                  <div class="grid-body no-border filters sales_statistic-filter">
                  <div class="row order-filters">
                      
                      <div class="col-md-5">
                        <h4>Report period</h4>							
                        <div class="date_select_filter">
                          <input name="report_period" data="<%= report_periods_path(format: "json") %>" class="select2-ajax-report-periods width100" value="<%= @report_period.id if !@report_period.nil? %>" text="<%= @report_period.display_name if !@report_period.nil? %>" />
                        </div>
                        <div class="row none_period_dates_select" <% if !@report_period.nil? %>style="display: none"<% end %>>
                          <div class="col-md-6">
                              <h4>From Date</h4>
                              <div class="date_select_filter">
                              <div class="input-with-icon right">
                                <div class="input-append success date col-md-10 no-padding">
                                  <%= text_field_tag :from_date, @from_date.strftime("%d-%b-%Y"), :class => "datetime form-control" %>
                                  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
                                </div>
                                <br style="clear: both" />
                                
                              </div>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <h4>To Date</h4>
                              <div class="date_select_filter">
                              <div class="input-with-icon  right">
                                <div class="input-append success date col-md-10 no-padding">
                                  <%= text_field_tag :to_date, @to_date.strftime("%d-%b-%Y"), :class => "datetime form-control" %>
                                  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
                                </div>
                                <br style="clear: both" />
                              </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    
                      
                      <% if !current_user.lower?("manager") %>
                          <div class="col-md-4">
                            <h4>Consultant</h4>
                            <div class="">
                              <%= select_tag 'users[]', options_for_select(User.all.collect{ |u| [u.name, u.id] }, params[:users]), class: "modern_select width100", multiple: "multiple" %>
                            </div>
                          </div>
                      <% end %>
                      <div class="col-md-2">
                          <div class="">
                              <h4 style="color:#fff">...</h4>
                              <input type="submit" name="calculate" value="Calculate" class="btn btn-primary" />
                              <script>
                                $("input[name=calculate]").click(function() {
                                  $(this).val("System is calculating! Please wait...");
                                  $(this).addClass("btn-warning");
                                });
                              </script>
                          </div>
                        </div>
                  </div>
                  </div>
        </form>
	  </div>
    
  <% if params[:calculate].present? %>
      <hr >
      <div class="row">
            <div class="col-md-12">
          <%= link_to 'Print', download_statistics_users_path(format: "pdf", report_period: params[:report_period], from_date: @from_date, to_date: @to_date, users: params[:users]), :class => 'btn btn-primary btn-cons', target: "_blank" %>
          <%= link_to 'Print (Excel)', download_statistics_users_path(format: "xls", report_period: params[:report_period], from_date: @from_date, to_date: @to_date, users: params[:users]), :class => 'btn btn-primary btn-cons', target: "_blank" %>
                <div class="grid simple ">                  
                    <div class="grid-body no-border">                       
                          <table class="table no-more-tables no-filter">
                                <thead>
                                    <tr>                                                
                                        <th>Consultant</th>
                      
                                        <th class="text-center">Program</th>
                      <th class="text-center">Note Log</th>
                                        <th class="text-right">Sales</th>
                      <th class="text-right">Receivable</th>
                      <% if !@report_period.nil? %>
                        <th class="text-right">Target</th>
                        <th class="text-right nowrap">To_be_achived</th>
                      <% end %>
                      <th class="text-center">Paper</th>
                      <th class="text-center">New Inquiry</th>
                      <th class="text-center">New Student</th>									  
                      <th width="1%" class="text-center">
                      
                      </th>
                                    </tr>
                                </thead>
                  <tr class="total_row" style="background: #efefef">
                      <td colspan="2" class="text-right">All Total:</td>
                      <td class="text-center"><strong class=" paid"><%= format_price(@result[:total][:note]) %></strong></td>
                      <td class="text-right"><strong class=" paid"><%= format_price(@result[:total][:sales]) %></strong></td>
                      <td class="text-right"><strong class=" paid"><%= format_price(@result[:total][:receivable]) %></strong></td>
                      
                      <% if !@report_period.nil? %>
                        <td class="text-right"></td>
                        <td class="text-right nowrap"></td>
                      <% end %>
                      
                      <td class="text-center"><strong class=" paid"><%= format_price(@result[:total][:paper]) %></strong></td>
                      <td class="text-center"><strong class=" paid"><%= format_price(@result[:total][:inquiry]) %></strong></td>
                      <td class="text-center"><strong class=" paid"><%= format_price(@result[:total][:student]) %></strong></td>
                      <td></td>
                  </tr>
                  <% @result[:data].each do |row1| %>
                    <% user_id, user_values = row1 %>
                      <tr class="total_row">
                          <td>
                              <%= user_values[:user].name %>
                          </td>
                          
                          <td class="text-center">
                              
                              All</td>
                          <td class="text-center">
                              <strong><%= format_price(user_values[:note]) %></strong>
                          </td>
                          <td class="text-right">
                              <strong><%= format_price(user_values[:sales]) %></strong>
                          </td>
                          <td class="text-right">
                              <strong><%= format_price(user_values[:receivable]) %></strong>
                          </td>
                          
                          <% if !@report_period.nil? %>
                            <td class="text-right"><strong><%= format_price(user_values[:user].get_sales_target(@report_period)) %></strong></td>
                            <td class="text-right nowrap"><strong><%= format_price(user_values[:user].get_sales_target(@report_period)-user_values[:sales]) %></strong></td>
                          <% end %>
                          
                          <td class="text-center">
                              <strong><%= user_values[:paper] %></strong>
                          </td>												
                          <td class="text-center">
                              <strong><%= user_values[:inquiry] %></strong>
                          </td>
                          <td class="text-center">
                              <strong><%= user_values[:student] %></strong>
                          </td>
                          <td>
                            <% if !user_values[:details].empty? %>
                              <a onclick="$('.detail-u-<%= user_id %>').toggle()" href="#open">
                                      <i class="icon icon-ellipsis-horizontal"></i>
                              </a>
                            <% end %>
                          </td>
                      </tr>
                      <% user_values[:details].each do |row2| %>
                        <% ct_id, ct_values = row2 %>
                          <% if ct_values[:show] %>
                            <tr class="details_row detail-u-<%= user_id %>" style="display: none">
                                <td>
					<%= user_values[:user].name %>
                                </td>
                                <td class="text-center">
                                    <%= ct_values[:course_type].short_name %>
                                </td>
                                <td></td>
                                <td class="text-right">
                                    <%= format_price(ct_values[:sales]) %>
				    <div>
                                        <% ct_values[:cutom_payment_contacts].uniq.each do |c| %>
                                          <div><%= c.contact_link %></div>		
                                        <% end %>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <strong>
                                        <%= format_price(ct_values[:receivable]) %>
                                    </strong>
                                    <div>
                                        <% ct_values[:receivable_contacts].uniq.each do |c| %>
                                          <div><%= c.contact_link %></div>		
                                        <% end %>
                                    </div>
                                </td>
                                <% if !@report_period.nil? %>
                                  <td class="text-right"></td>
                                  <td class="text-right nowrap"></td>
                                <% end %>
                                <td class="text-center">
                                    <%= ct_values[:paper] %>
                                </td>													  
                                <td class="text-center">
                                    <%= ct_values[:inquiry] %>
                                </td>
                                <td class="text-center">
                                    <%= ct_values[:student] %>
                                </td>
                                <td></td>
                            </tr>
                          <% end %>
                      <% end %>
                      
                    <% end %>
                  
                  
                  
                            </table>
                    </div>
                </div>
    
            </div>
    
        </div>
	  
  <% end %>
