       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-titlex no-borderx">
                  <h4><span class="semi-bold">Materials Delivery</span></h4>
                  
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  <% if @delivery.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h5>
                  
                        <ul>
                        <% @delivery.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@delivery) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
                    <%= f.hidden_field :course_register_id %>
					
					<div class="row column-seperation">
						 <div class="col-md-5">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                        <label class="form-label"><%= f.label :contact %></label>
                                        <span class="help">(required)</span>
                                        <div class="input-with-icon  right">                                       
                                            <i class=""></i>
                                            <strong><%= @course_register.contact.display_name %></strong>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                        <label class="form-label"><%= f.label :address %></label>
                                        <span class="help">(required)</span>
                                        <div class="input-with-icon  right">                                       
                                            <i class=""></i>
                                            <strong><%= @course_register.mailing_address %></strong>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                        <label class="form-label"><%= f.label :registered_on %></label>
                                        <span class="help">(required)</span>
                                        <div class="input-with-icon  right">                                       
                                            <i class=""></i>
                                            <strong><%= @course_register.created_at.strftime("%d-%b-%Y") %></strong>
                                        </div>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                            <label class="form-label"><%= f.label :delivery_date %></label>
                                            <span class="help"></span>
                                            <div class="input-with-icon  right">                                       
                                                 <i class=""></i>
                                                 <div class="input-append success date col-md-10 no-padding">
                                                   <%= f.text_field :delivery_date, :class => "form-control", value: (@delivery.delivery_date.nil? ? "" : @delivery.delivery_date.strftime("%d-%b-%Y")) %>
                                                   <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
                                                 </div>
                                                 <br style="clear: both" />
                                            </div>
                                      </div>
                                  </div>
                              </div>

                              
                              
							  
						 </div>
						 <div class="col-md-7">
							  <div class="form-group">
                                    <label class="form-label"><%= f.label :items %></label>
                                    <span class="help"></span>
                                    <div class="input-with-iconx">                                       
                                         <table class="table">
                                            <tr>
                                              <th>Description</th>
											  <th class="text-center">Ordered Quantity</th>
											  <th class="text-center">To-be-delivered Quantity</th>
                                              <th class="text-center">Delivered Quantity</th>
                                              <th class="text-center">Remain Stock</th>
                                            </tr>
                                            
                                            <% @course_register.books_contacts.each_with_index do |bc,index| %>
												  <% if !bc.delivered? %>
													   <tr class="delivery_line_item">
														 <td>
														   <div><strong><%= bc.book.display_name %></strong></div>
														 </td>
														 <td class="text-center">
														   <%= bc.quantity %>
														 </td>
														 
														 <td class="text-center">
														   <span class="to-be-delivered" rel="<%= bc.remain %>"><%= bc.remain - bc.max_delivery %></span>
														 </td>
														 <td class="text-center">
														   <%= hidden_field_tag "delivery_details["+index.to_s+"][book_id]", bc.book_id %>
														   <%= select_tag "delivery_details["+index.to_s+"][quantity]", options_for_select((bc.remain.downto(0)).map {|num| [num,num]}, bc.max_delivery), class: "modern_select width100 required delivered_count" %>
														 </td>
														 <td class="text-center">
															<span class="stock" rel="<%= bc.book.stock %>"><%= bc.book.stock - bc.max_delivery %></span>
														 </td>
													   </tr>
												  <% end %>
                                            <% end %>
                                            
                                         </table>
                                    </div>
                              </div>
						 </div>
						 
						 
					</div>
						 
					<div class="form-actions">  
						 <div class="pull-right">
						 <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Deliver</button>
						  <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
					   </div>
					</div>
							  
						<% end %>
			   </div>
			 </div>
            </div>
			
     </div>
