<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Created On</Data></Cell>
        <Cell><Data ss:Type="String">Student</Data></Cell>
        <Cell><Data ss:Type="String">Address</Data></Cell>
        <Cell><Data ss:Type="String">Company</Data></Cell>
        <Cell><Data ss:Type="String">Phone</Data></Cell>
        <Cell><Data ss:Type="String">Description</Data></Cell>
        <Cell><Data ss:Type="String">Quantity</Data></Cell>
      </Row>
      <%
        statistics = []
        group = {}
        group_name = ""
        count = 0
      %>
      <% @bc_list.each_with_index do |bc, index| %>
        
          <%
            if group_name != bc.book.name
              if group_name != ""
                group[:name] = group_name
                group[:count] = count
                statistics << group
              end
              
              group = {}
              group_name = bc.book.name
              count = bc.remain
            else
              count += bc.remain
            end            
          %>
            <% if bc.remain > 0 %>
                <Row>
                  <Cell><Data ss:Type="String"><%= bc.course_register.created_date.strftime("%d-%b-%Y") %></Data></Cell>
                  <Cell><Data ss:Type="String"><%= bc.course_register.contact.display_name %></Data></Cell>
                  <Cell><Data ss:Type="String"><%= bc.course_register.mailing_address %></Data></Cell>
                  <Cell><Data ss:Type="String"><%= bc.course_register.contact.referrer.display_name if !bc.course_register.contact.referrer.nil? %></Data></Cell>
                  <Cell><Data ss:Type="String"><%= bc.course_register.contact.mobile %></Data></Cell>
                  <Cell><Data ss:Type="String"><%= bc.book.name %> (<%= bc.book.type_name %>)</Data></Cell>
                  <Cell><Data ss:Type="Number"><%= bc.remain %></Data></Cell>
                </Row>
            <% end %>
            
          <%
            if @bc_list.count == index+1
                group[:name] = group_name
                group[:count] = count
                statistics << group
            end            
          %>
          
      <% end %>
      
      <% statistics.each do |row| %>
            <Row>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String"><%= row[:name] %></Data></Cell>
              <Cell><Data ss:Type="Number"><%= row[:count] %></Data></Cell>
            </Row>
        <% end %>

    </Table>
  </Worksheet>
</Workbook>