<%= form_for(@contact_tags_contact) do |f| %>
  <% if @contact_tags_contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact_tags_contact.errors.count, "error") %> prohibited this contact_tags_contact from being saved:</h2>

      <ul>
      <% @contact_tags_contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact_id %><br>
    <%= f.number_field :contact_id %>
  </div>
  <div class="field">
    <%= f.label :contact_type_id %><br>
    <%= f.number_field :contact_type_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
