<div class="activity-filter">
    <%= form_for(@activity) do |f| %>
        <%= f.hidden_field :contact_id %>
            <h4><strong>New Activity</strong></h4>
            <div class="grid simple ">
                <div class="grid-body no-border filters course-filter">
                    <div class="row order-filters">
                        <div class="col-md-6">
                            <div class="form-group">

                                <div class="input-with-iconx right">
                                    <i class=""></i>
                                    <%= f.text_area :note, :class => "form-control required", pattern: ".{3,}", required: "reauired", title: "3 characters minimum" %>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <a href="#" class="submit btn btn-success btn-cons"><i class="icon-ok"></i> Add</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <% end %>
</div>




<div class="row">
    <div class="col-md-12">

        <div class="grid simple ">
            <div class="grid-title no-border">
                <h4>Activity  <span class="semi-bold">Log</span></h4>

            </div>
            <div class="grid-body no-border">

                <table class="table table-striped no-more-tables datatable-activities no-filter">
                    <thead>
                        <tr>
                            <th width="100%">Note</th>
                            <th class="text-center" width="1%">Created At</th>
                            <th class="text-center" width="1%">Contact</th>
                            <th class="text-center" width="1%">Consultant</th>
                            <th class="text-center" width="1%">Status</th>
                            <th class="text-right" width="1%">Actions</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>

    </div>

</div>

<% if @contact.old_student.present? && (!@contact.old_tags.empty? || !@contact.old_note_details.empty?) %>
    <div class="row">
        <div class="col-md-4">
    
            <div class="grid simple ">
                <h4><span class="semi-bold">Old Tag List</span></h4>
                <div class="grid-body no-border">
                    <p><span class="semi-bold"><%= @contact.old_student.student_name + " - " + @contact.old_student.student_id + " - " + @contact.old_student.old_consultant.consultant_name %></span></p>
                    <div class="table-box">
                        <%= render 'tag_list', tag_list: @contact.old_tags.order("old_tags.created_at DESC") %>
                    </div>
                </div>
            </div>

        </div>
    
        <div class="col-md-8">    
            <div class="grid simple ">
                <h4><span class="semi-bold">Old Remark List</span></h4>
                
                <div class="grid-body no-border">
                    <p><span class="semi-bold"><%= @contact.old_student.student_name + " - " + @contact.old_student.student_id + " - " + @contact.old_student.old_consultant.consultant_name %></span></p>
                    <div class="table-box">
                        <%= render 'remark_list', remark_list: @contact.old_note_details.order("old_note_details.note_date DESC")  %>
                    </div>
                </div>
            </div>

    
        </div> 
    
    </div>
    
    
<% end %>

<% @contact.related_contacts.each do |c| %>
    <% if c.old_student.present? && (!c.old_tags.empty? || !c.old_note_details.empty?) %>
        <div class="row">
            <div class="col-md-4">
                    <div class="grid simple ">
                        <h4><span class="semi-bold">Related Tag List</span></h4>
                        <div class="grid-body no-border">
                            <p><span class="semi-bold"><%= c.old_student.student_name + " - " + c.old_student.student_id + " - " + c.old_student.old_consultant.consultant_name %></span></p>
                            <div class="table-box">
                                <%= render 'tag_list', tag_list: c.old_tags.order("old_tags.created_at DESC") %>
                            </div>
                        </div>
                    </div>
            </div>
        
            <div class="col-md-8">
                    <div class="grid simple ">
                        <h4><span class="semi-bold">Related Remark List</span></h4>
                        
                        <div class="grid-body no-border">
                            <p><span class="semi-bold"><%= c.old_student.student_name + " - " + c.old_student.student_id + " - " + c.old_student.old_consultant.consultant_name %></span></p>
                            <div class="table-box">
                                <%= render 'remark_list', remark_list: c.old_note_details.order("old_note_details.note_date DESC") %>
                            </div>
                        </div>
                    </div>
            </div>        
        </div>
    <% end %>
<% end %>