<%= render "books/filters" %>

    <style>
        .student-book-filter {
            position: absolute;
            top: -90000px;
        }
    </style>

    <div class="row">
        <div class="col-md-12">

            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Listing  <span class="semi-bold">Stock</span></h4>

                </div>
                <div class="grid-body no-border">

                    <table class="table table-striped no-more-tables datatable-student-books no-filter">
                        <thead>
                            <tr>
                                <th width="1%">Cover</th>
                                <!--<th class="text-center">Program</th>
																				<th class="text-center">Paper</th>-->
                                <th>Name</th>
                                <th>Publisher</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-center">Created on</th>
								<th class="text-right">Price</th>
								<th class="text-center">Upfront</th>
                                <th class="text-center">Delivery</th>
                                <th class="text-center" width="1%">Creator</th>
                                <th class="text-right" width="1%">Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
	<% if @contact.old_student.present? && !@contact.old_deliverys.empty? %>
		<div class="row">
			<div class="col-md-12">
	
				<div class="grid simple ">
					<div class="grid-title no-border">
						<h4>Old Book List</h4>
					</div>
					<div class="grid-body no-border">
						<p><span class="semi-bold"><%= @contact.old_student.student_name + " - " + @contact.old_student.student_id + " - " + @contact.old_student.consultant_name %></span></p>
						<div class="table-box">
							<%= render 'book_list', book_list: @contact.old_deliverys %>
						</div>
					</div>
				</div>
			</div>
	
		</div>		
	<% end %>
	<% @contact.related_contacts.each do |c| %>
		<% if c.old_student.present? && !c.old_deliverys.empty? %>
			<div class="row">
				<div class="col-md-12">
	
					<div class="grid simple ">
						<div class="grid-title no-border">
							<h4>Related Book List</h4>
						</div>
						<div class="grid-body no-border">
							<p><span class="semi-bold"><%= c.old_student.student_name + " - " + c.old_student.student_id + " - " + c.old_student.consultant_name %></span></p>
							<div class="table-box">
								<%= render 'book_list', book_list: c.old_deliverys %>
							</div>
						</div>
					</div>
				</div>
	
			</div>
		<% end %>
	<% end %>

    