<%= render "courses/filters" %>

    <style>
        .student-course-filter {
            position: absolute;
            top: -90000px;
        }
    </style>

    <div class="row">
        <div class="col-md-12">
            <div class="grid simple ">
                <div class="grid-title no-border">
                    <h4>Listing  <span class="semi-bold">Course</span></h4>
                </div>


                <div class="grid-body no-border">
                    <table class="table table-striped no-more-tables datatable-student-courses no-filter">
                        <thead>
                            <tr>
                                <th class="text-left" width="1%">Intake</th>
                                <th class="text-left nowrap">Course</th>
                                <th class="text-left">Phrase [Date]</th>
                                <th class="text-center">For exam</th>
                                <th class="text-center">Lecturer</th>
                                <th class="text-center">Created On</th>
                                <th class="text-right" width="1%">Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>

    </div>
    
    <% if @contact.old_student.present? %>
        <div class="row">
            <div class="col-md-12">
                <div class="grid simple ">
                    <div class="grid-title no-border">
                        <h4>Old Course List</span></h4>
                    </div>
    
                    <div class="grid-body no-border">
                        <p><span class="semi-bold"><%= @contact.old_student.student_name + " - " + @contact.old_student.student_id + " - " + @contact.old_student.old_consultant.consultant_name %></span></p>
    
                        <div class="table-box">
                            <%= render 'course_list', course_list: @contact.old_link_students %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% @contact.related_contacts.each do |c| %>
            <div class="row">
                <div class="col-md-12">
                    <div class="grid simple ">
                        <div class="grid-title no-border">
                            <h4>Related Course List</span></h4>
                        </div>
    
                        <div class="grid-body no-border">                        
                            <p><span class="semi-bold"><%= c.old_student.student_name + " - " + c.old_student.student_id + " - " + c.old_student.old_consultant.consultant_name %></span></p>
    
                            <div class="table-box">
                                <%= render 'course_list', course_list: c.old_link_students %>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>


    
    