<div class="grid simple " id="contact_filter">
					<div class="grid-body no-border filters">
					<div class="row order-filters">
						
						<form id="">
							<div class="col-md-3 type-contact-filter">
								<h4>Contact Types</h4>
								

									  <div class="input-with-icon right">
											<select name="is_individual" class="modern_select is_individual width100">
												<option value="true">Individual</option>
												<option value="false">Company/Organization</option>
											</select>											
									  </div>


								<div style="margin-top: 20px;" class="personal-box">
									  <div class="input-with-icon right">                                       
											  <i class=""></i>
												<% ContactType.all.each do |ct| %>
													 <div class="row-fluid contact_types">
														  <div class="checkbox check-success">
															  <%= check_box_tag "contact_types[]", ct.id, @types.include?(ct.id.to_s), {id: "checkbox"+ct.id.to_s } %>
															  <label for="checkbox<%= ct.id %>"><%= ct.name %></label>
														  </div>
													 </div>
												<% end %>
												<br style="clear: both" />
									  </div>
								</div>
						  </div>
							
							<div class="col-md-3 personal-box">
								<h4>Intake</h4>
								<div class="date_select_filter">
									<div class="input-with-icon date-group-my right">                                       
									<%= date_select(:filter, :intake, {include_blank: true, use_short_month: true}) %>
									</div>
								</div>
							</div>
							
							<div class="col-md-2 personal-box">
								<h4>Program</h4>							
								<%= select_tag 'course_types[]', options_for_select(CourseType.all.collect{ |u| [u.short_name, u.id] }), class: "modern_select width100", multiple: "multiple" %>
							</div>
							
							<div class="col-md-2 personal-box">
								<h4>Paper</h4>							
								<%= select_tag 'subjects[]', options_for_select(Subject.all.collect{ |u| [u.name, u.id] }), class: "modern_select width100", multiple: "multiple" %>
							</div>
							
							
							
							<!--<div class="col-md-4">
								<h4>(Program) Paper</h4>
								<input style="width:100%;margin-bottom: 5px;" name="program_paper" data="<%= course_types_subjects_path(format: "json") %>" class="select2-ajax-course-types-subjects multiple" value="" text="" /> 
							</div>-->
						  
							<!--<div class="col-md-3">
								<h4>Areas (State/City/District)</h4>
								<div class="">
									<div class="input-with-icon  right">                                       
									<i class=""></i>
									<input id="area_ids" style="width:100%;margin-bottom: 5px;" name="area_ids" data="<%= states_path(format: "json") %>" class="select2-ajax-states multiple" value="" text="" data-placeholder="All"/>
									</div>
								</div>
							</div>
							
							<div class="col-md-3">
								<h4>Companies</h4>
								<div class="">
									<div class="input-with-icon  right">                                       
									<i class=""></i>
									<input style="width:100%;margin-bottom: 5px;" name="companies" data="<%= contacts_path(is_individual: false, format: "json") %>" class="select2-ajax-contacts multiple" value="" text="" data-placeholder="All"/>
									</div>
								</div>
							</div>-->
							
							<div class="col-md-2 personal-box">
								<h4>Tag</h4>
								<%= select_tag 'tags[]', options_for_select(ContactTag.all.collect{ |u| [u.name, u.id] }), class: "modern_select width100", multiple: "multiple" %>
							</div>
							
							<div class="col-md-3 seminar-contact-filter personal-box">
								<h4>Seminar</h4>							
								<input style="width:100%;margin-bottom: 5px;" name="seminars" data="<%= seminars_path(format: "json") %>" class="select2-ajax-seminars multiple" value="<%= @seminar.id if !@seminar.nil? %>" text="<%= @seminar.name if !@seminar.nil? %>" />
							</div>
							
							<div class="col-md-3 course-contact-filter personal-box">
								<h4>Course</h4>							
								<input style="width:100%;margin-bottom: 5px;" name="courses" data="<%= courses_path(format: "json") %>" class="select2-ajax-courses" value="<%= @course.id if !@course.nil? %>" text="<%= @course.display_name if !@course.nil? %>" />
							</div>
							
							<div class="courses_phrases_select">
								
							</div>			
							
							
							


					</div>
					</div>		    
				</div>