                          <% if @contact.errors.any? %>
								<div class="alert alert-error">
								  <button data-dismiss="alert" class="close"></button>
								  <div id="error_explanation">
									<h5><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h5>
							  
									<ul>
									<% @contact.errors.full_messages.each do |msg| %>
									  <li><%= msg %></li>
									<% end %>
									</ul>
								  </div>
								</div>
							  <% end %>
                    
                 
					
                  
							  <%= form_for(@contact,  html: { multipart: true }) do |f| %>
										 
									   <% if !params[:tab_page].nil? %>
										  <%= hidden_field_tag "tab_page", params[:tab_page] %>
									   <% end %>
										 
								  <div class="row column-seperation">
										 
										  <div class="col-md-6">
											
												 <h4><span class="semi-bold">General Infomation</span></h4>
												 
												 <div class="row">
													  <div class="col-md-6">
														   <div class="form-group">
																
																<span class="help"></span>
																<div class="input-with-icon right">                                       
																	 <div class="radio radio-success" style="padding: 5px">
																		  <input id="yes" type="radio" name="contact[is_individual]" value="true"  <% if @contact.is_individual %>checked="checked"<% end %>>
																		  <label for="yes">Individual</label>
																		  <input id="no" type="radio" name="contact[is_individual]" value="false" <% if !@contact.is_individual %>checked="checked"<% end %>>
																		  <label for="no">Company/Organization</label>
																	 </div>
																</div>
														   </div>
												 
														   <div class="personal-box">
																<div class="form-group">															
																		  <span class="help"></span>
																		  <div class="input-with-icon  right">                                       
																				  <i class=""></i>
																					<% ContactType.all.each do |ct| %>
																						 <div class="row-fluid contact_types">
																							  <div class="checkbox check-success">
																								   <%= check_box_tag "contact[contact_type_ids][]", ct.id, @contact.contact_types.include?(ct), {id: "checkbox"+ct.id.to_s, class: "required"} %>
																								<label for="checkbox<%= ct.id %>"><%= ct.name %></label>
																							  </div>
																						 </div>
																					<% end %>
																					<br style="clear: both" />
																		  </div>
																	 </div>
														   </div>
														   
																				  
													  </div>
														   
													  <div class="col-md-6">											 
														   <div class="form-group">
																<label class="form-label"><%= f.label :picture %></label>
																<span class="help"></span>
																<div class="right">                                       
																	<i class=""></i>
																	<!--<div class="nice"><%= f.file_field :image %></div>-->
																	
																	 <ul id="sortable" class="image-boxes">
																		  
																		  <li class="image-box ui-state-default">
																			   <div class="img-actions">
																					<i class="icon-minus-sign delete-but<% if !@contact.image.present? %> hidden<% end %>"></i>
																			   </div>
																			   <a href="#" class="">
																					<% if @contact.image.present? %>
																						 <img class="current_img current_image_pic" src="<%= @contact.logo(:thumb2x) %>" />
																					<% end %>
																					<i class="icon-picture current_img current_image_icon<% if @contact.image.present? %> hidden<% end %>"></i>
																					<img src="" class="new_picture hidden" />										
																			   </a>
																			   <%= f.file_field :image, :class => "hidden" %>
																		  </li>
												  
																	 </ul>
																	 <br style="clear:both" />
																</div>
														   </div>										
													  </div>
												 </div>
								  
												 <div class="form-group">
													  <label class="form-label"><%= f.label :full_name %></label>
													  <span class="help">(required)</span>
													  <div class="input-with-icon  right">                                       
															  <i class=""></i>
															  <%= f.text_field :name, :class => "form-control required" %>
													  </div>
												 </div>
													  
												 <div class="row">
													  <div class="col-md-12">													   
														   <div class="form-group">
																<label class="form-label"><%= f.label :address %></label>
																<span class="help">(required)</span>
																<div class="input-with-icon  right">                                       
																		<i class=""></i>
																		<%= f.text_field :address, :class => "form-control required" %>
																</div>
														   </div>							
													  </div>
													  <!--<div class="col-md-6">
														   <div class="form-group">
																<label class="form-label"><%= f.label :area %></label>
																<span class="help">(required)</span>
																<div class="input-with-icon  right">                                       
																	 <i class=""></i>
																	 <input style="width:100%;margin-bottom: 5px;" name="contact[city_id]" data="<%= cities_path(format: "json") %>" class="select2-ajax-states required" value="<%= @contact.city_id %>" text="<%= @contact.city.name_with_state if !@contact.city.nil? %>" />
																</div>
														   </div>							
													  </div>-->
												 </div>
													  
												 <div class="row">
													  <div class="col-md-6">													   
														   <div class="form-group">
																<label class="form-label"><%= f.label :email %></label>
																<span class="help">(required)</span>
																<div class="input-with-iconx right">                                       
																		<i class=""></i>
																		<%= f.text_field :email, rel: related_info_box_contacts_path(type: "email"), :class => "form-control required email related_info_input" %>
																		<label class="related_info_msg" style="display: none">Has related contact(s)!</label>
																		<div class="related_info_box" style="display: none">
																		   
																		</div>
																</div>
														   </div>						
													  </div>
													  <div class="col-md-6">
														   <div class="form-group">
																<label class="form-label"><%= f.label :email_2 %></label>
																<span class="help"></span>
																<div class="input-with-icon  right">                                       
																		<i class=""></i>
																		<%= f.text_field :email_2, :class => "form-control email" %>
																</div>
														   </div>					
													  </div>
												 </div>
												 
												 <div class="form-group">
													  <label class="form-label">Tag</label>
													  <span class="help"></span>
													  <div class="input-with-icon  right">
														   <select name="contact_tag" class="modern_select width100">
																<% ContactTag.all.each do |ctag| %>
																	 <option <%= 'selected="selected"' if !@contact_tag.nil? && ctag.id == @contact_tag.id %> value="<%= ctag.id %>"><%= ctag.name %></option>															
																<% end %>
														   </select>
													  </div>
												 </div>
													  
												 <div class="form-group">
													  <label class="form-label"><%= f.label :note %></label>
													  <span class="help"></span>
													  <div class="input-with-icon  right">                                       
															  <i class=""></i>
															  <%= f.text_area :note, :class => "form-control" %>
													  </div>
												 </div>
																											  
										  </div>
										  
										  
											<div class="col-md-6">
												 
												 <div class="personal-box">
													  
													  <h4><span class="semi-bold">Personal Infomation</span></h4>							   
													  
													  
											
													  <div class="row">
														   <div class="col-md-6">													   
																<div class="form-group">
																	 <label class="form-label">Gender</label>
																	 <span class="help"></span>
																	 <div class="input-with-icon right">                                       
																		  <div class="radio radio-success" style="padding: 5px">
																			   <input class="required" id="male" type="radio" name="contact[sex]" value="male" <% if @contact.sex == "male" %>checked="checked"<% end %>>
																			   <label for="male">Male</label>
																			   <input class="required" id="female" type="radio" name="contact[sex]" value="female" <% if @contact.sex == "female" %>checked="checked"<% end %>>
																			   <label for="female">Female</label>
																		  </div>
																	 </div>
																</div>									
														   </div>
														   <div class="col-md-6">
																<div class="form-group">
																	 <label class="form-label"><%= f.label :birthday %></label>
																	 <span class="help">(required)</span>
																	 <div class="input-with-icon  right">                                       
																		  <i class=""></i>
																		  <div class="input-append success date col-md-10 no-padding">
																			<%= f.text_field :birthday, :class => "form-control required", value: (@contact.birthday.nil? ? "" : @contact.birthday.strftime("%d-%b-%Y")) %>
																			<span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
																		  </div>
																		  <br style="clear: both" />
																	 </div>
																</div>										
														   </div>
													  </div>
													  
													  <!--<div class="row">
														   <div class="col-md-6">													   
																<div class="form-group">
																	 <label class="form-label"><%= f.label :first_name %></label>
																	 <span class="help">(required)</span>
																	 <div class="input-with-icon  right">                                       
																			 <i class=""></i>
																			 <%= f.text_field :first_name, :class => "form-control required" %>
																	 </div>
																</div>										
														   </div>
														   <div class="col-md-6">
																<div class="form-group">
																	 <label class="form-label"><%= f.label :last_name %></label>
																	 <span class="help">(required)</span>
																	 <div class="input-with-icon  right">                                       
																			 <i class=""></i>
																			 <%= f.text_field :last_name, :class => "form-control required" %>
																	 </div>
																</div>										
														   </div>
													  </div>			-->				   
													  
													  
														   
													  <div class="row">
														   <div class="col-md-6">													   
																<div class="form-group">
																	 <label class="form-label"><%= f.label :mobile %></label>
																	 <span class="help">(required)</span>
																	 <div class="input-with-iconx  right">                                       
																		  <i class=""></i>
																		  <%= f.text_field :mobile, rel: related_info_box_contacts_path(type: "mobile"), :class => "form-control required related_info_input" %>
																		   <label class="related_info_msg" style="display: none">Has related contact(s)!</label>
																		   <div class="related_info_box" style="display: none">
																			  
																		   </div>
																	 </div>
																</div>					
														   </div>
														   <div class="col-md-6">
																<div class="form-group">
																	 <label class="form-label"><%= f.label :mobile_2 %></label>
																	 <span class="help"></span>
																	 <div class="input-with-icon  right">                                       
																			 <i class=""></i>
																			 <%= f.text_field :mobile_2, :class => "form-control" %>
																	 </div>
																</div>							
														   </div>
													  </div>
													  
													  <div class="row">
														   <div class="col-md-6">													   
																<div class="form-group">
																	 <label class="form-label"><%= f.label :company %></label>
																	 <span class="help"></span>
																	 <div class="input-with-icon  right">                                       
																		  <i class=""></i>
																		  <div class="input-with_add_but">
																			   <%= link_to '<i class="icon-plus"></i>'.html_safe, new_contact_path(:is_individual => false, tab_page: 1), title: "New Company", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
																			   <input style="width:100%;margin-bottom: 5px;" name="contact[referrer_id]" data="<%= contacts_path(is_individual: false, format: "json") %>" class="select2-ajax-contacts" value="<%= @contact.referrer_id %>" text="<%= @contact.referrer.name if !@contact.referrer.nil? %>" />
																		  </div>
																	 </div>
																</div>			
														   </div>
														   <div class="col-md-6">
																<strong>Company Info:</strong>
																<div class="selected_company_info">
																	 
																</div>
														   </div>
													  </div>										
													  
													  <div class="row">
														   <div class="col-md-6">													   
																<div class="form-group">
																	 <label class="form-label"><%= f.label :payment_type %></label>
																	 <span class="help">(required)</span>
																	 <div class="input-with-icon right">
																		  <select name="contact[payment_type]" class="modern_select width100 required">
																				<option <%= 'selected="selected"' if @contact.payment_type == "self-financed" %> value="self-financed">Self-financed</option>
																				<option <%= 'selected="selected"' if @contact.payment_type == "company-sponsored" %> value="company-sponsored">Company-sponsored</option>
																		  </select>
																	 </div>
																</div>					
														   </div>
														   <div class="col-md-6">													   
																<div class="form-group">
																	 <label class="form-label"><%= f.label :invoice_required %></label>
																	 <span class="help">(required)</span>
																	 <div class="radio radio-success" style="padding: 5px">
																		  <input id="invoice_yes" type="radio" name="contact[invoice_required]" value="true" <% if @contact.invoice_required %>checked="checked"<% end %>>
																		  <label for="invoice_yes">Yes</label>
																		  <input id="invoice_no" type="radio" name="contact[invoice_required]" value="false" <% if !@contact.invoice_required %>checked="checked"<% end %>>
																		  <label for="invoice_no">No</label>
																	 </div>
																</div>					
														   </div>
													  </div>
													  
													  <div class="row invoice-info-box">
														   <div class="col-md-6">													   
																<div class="form-group">
																	 <label class="form-label"><%= f.label :invoice_info %></label>
																	 <span class="help">(required)</span>
																	 <div class="input-with-icon  right">                                       
																		  <i class=""></i>
																		  <div class="input-with_add_but">
																			   <%= link_to '<i class="icon-plus"></i>'.html_safe, new_contact_path(:is_individual => false, tab_page: 1), title: "New Company", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
																			   <input style="width:100%;margin-bottom: 5px;" name="contact[invoice_info_id]" data="<%= contacts_path(is_individual: false, format: "json") %>" class="select2-ajax-contacts required" value="<%= @contact.invoice_info_id %>" text="<%= @contact.invoice_info.name if !@contact.invoice_info.nil? %>" />
																		  </div>
																	 </div>
																</div>					
														   </div>
														   <div class="col-md-6">													   
																<strong>Invoice Info:</strong>
																<div class="selected_invoice_info">
																	 
																</div>			
														   </div>
													  </div>
														   
													  <div class="row">
														   <div class="col-md-12">													   
																<div class="form-group">
																	 <label class="form-label"><i class="icon-truck"></i> Preferred mailing</label>
																	 <span class="help"></span>
																	 <div class="input-with-icon  right">
																		  <%= f.text_field :preferred_mailing, :class => "form-control" %>
																	 </div>
																</div>					
														   </div>
													  </div>
													  
													  
						  
												 </div>
												 
												 <div class="company-box">
													  
													  <h4><span class="semi-bold">Company Infomation</span></h4>
													  
													  
													  
													  <div class="row">
														   <div class="col-md-6">													   
																<div class="form-group">
																	 <label class="form-label"><%= f.label :phone %></label>
																	 <span class="help"></span>
																	 <div class="input-with-icon  right">                                       
																			 <i class=""></i>
																			 <%= f.text_field :phone, :class => "form-control" %>
																	 </div>
																</div>										
														   </div>
														   <div class="col-md-6">
																<div class="form-group">
																	 <label class="form-label"><%= f.label :fax %></label>
																	 <span class="help"></span>
																	 <div class="input-with-icon  right">                                       
																			 <i class=""></i>
																			 <%= f.text_field :fax, :class => "form-control" %>
																	 </div>
																</div>										
														   </div>
													  </div>
													  
													  <div class="row">
														   <div class="col-md-6">													   
																<div class="form-group">
																	 <label class="form-label"><%= f.label :tax_code %></label>
																	 <span class="help"></span>
																	 <div class="input-with-icon  right">                                       
																			 <i class=""></i>
																			 <%= f.text_field :tax_code, :class => "form-control" %>
																	 </div>
																</div>							
														   </div>
														   <div class="col-md-6">
																<div class="form-group">
																	 <label class="form-label"><%= f.label :website %></label>
																	 <span class="help"></span>
																	 <div class="input-with-icon  right">                                       
																			 <i class=""></i>
																			 <%= f.text_field :website, :class => "form-control" %>
																	 </div>
																</div>						
														   </div>
													  </div>
													  
													  <div class="row">
														   <div class="col-md-6">													   
																<div class="form-group">
																	 <label class="form-label"><%= f.label :account_number %></label>
																	 <span class="help"></span>
																	 <div class="input-with-icon  right">                                       
																			 <i class=""></i>
																			 <%= f.text_field :account_number, :class => "form-control" %>
																	 </div>
																</div>								
														   </div>
														   <div class="col-md-6">
																<div class="form-group">
																	 <label class="form-label"><%= f.label :bank %></label>
																	 <span class="help"></span>
																	 <div class="input-with-icon  right">                                       
																			 <i class=""></i>
																			 <%= f.text_field :bank, :class => "form-control" %>
																	 </div>
																</div>								
														   </div>
													  </div>
													  
													  
												  </div>
												 
											</div>
									  
								  </div>
									
								<div class="form-actions">  
								  <div class="pull-right">
									   <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
									   <%= link_to 'Cancel', contacts_path, :class => "btn btn-white btn-cons cancel-but" %>
								  </div>
								  </div>
							  <% end %>