<% if @contact.old_student.present? %>
	<h3><span class="semi-bold"><%= @contact.old_student.student_name + " - " + @contact.old_student.student_id + " - " + @contact.old_student.old_consultant.consultant_name %></span></h3>
	<%= render "old_info_group", old_student: @contact.old_student %>
	
	<% @contact.related_contacts.each do |c| %>
		<% if c.old_student.present? %>
			<h3><span class="semi-bold"><%= c.old_student.student_name + " - " + c.old_student.student_id + " - " + c.old_student.old_consultant.consultant_name %></span>
			<a confirm-message="Are you sure you want to remove this connection?" href="<%= remove_related_contact_contacts_path(id: @contact.id, remove_id: c.id) %>" class="btn btn-small btn-warning remove_related_contact_link">This is not the same contact!</a>
			</h3>
		
			<%= render "old_info_group", old_student: @contact.old_student %>
		<% end %>
	<% end %>
<% end %>

<% if !@contact.no_related_contacts.empty? %>
	<h3 class="semi-bold">Removed Related Contact</h3>
	<% @contact.no_related_contacts.each do |c| %>
		
		<h4><span class="semi-bold"><%= c.name + c.account_manager.name %></span>
		<a confirm-message="Are you sure you want to remove this connection?" href="<%= undo_remove_related_contact_contacts_path(id: @contact.id, remove_id: c.id) %>" class="btn btn-small btn-white">Reconnect!</a>
		</h4>
	
	<% end %>
<% end %>




