                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Contacts', contacts_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-user"></i>
                    	<h3>Contact - <span class="semi-bold"> Management</span></h3>	
                </div>
				
				<div class="grid simple ">
					<div class="grid-body no-border filters">
					<div class="row order-filters">
						
						<form id="contact_filter">
						  
						  <div class="col-md-3">
							  <h4>Contact Types</h4>
							  
							  <div style="margin-top: 20px;">
									<div class="input-with-icon right">                                       
											<i class=""></i>
											<div class="row-fluid individual_statuses">
												<div class="checkbox check-success">
													<%= check_box_tag "individual_statuses[]", "true", @individual_statuses.include?("true"), {id: "checkbox_true" } %>
													<label for="checkbox_true">Individual</label>
												</div>
										   </div>
											<div class="row-fluid individual_statuses">
												<div class="checkbox check-success">
													<%= check_box_tag "individual_statuses[]", "false", @individual_statuses.include?("false"), {id: "checkbox_false" } %>
													<label for="checkbox_false">Company/Organization</label>
												</div>
										   </div>
									</div>
							  </div>
						  </div>
						  
							<div class="col-md-3">
								<h4>Areas (State/City/District)</h4>
								<div class="">
									<div class="input-with-icon  right">                                       
									<i class=""></i>
									<input id="area_ids" style="width:100%;margin-bottom: 5px;" name="area_ids" data="<%= states_path(format: "json") %>" class="select2-ajax-states multiple" value="" text="" data-placeholder="All"/>
									</div>
								</div>
							</div>
							
							<div class="col-md-3">
								<h4>Companies</h4>
								<div class="">
									<div class="input-with-icon  right">                                       
									<i class=""></i>
									<input style="width:100%;margin-bottom: 5px;" name="companies" data="<%= contacts_path(is_individual: false, format: "json") %>" class="select2-ajax-contacts multiple" value="" text="" data-placeholder="All"/>
									</div>
								</div>
							</div>
							
							<div class="col-md-3">
								<h4>Tags</h4>
								<%= select_tag 'tags', options_for_select(ContactTag.all.collect{ |u| [u.name, u.id] }), class: "modern_select width100", multiple: "multiple" %>
							</div>
							
						</form>

					</div>
					</div>		    
				</div>
				
				
                <div class="row">                  
                    <div class="col-md-12">
						<%= link_to 'New Contact', new_contact_path(tab_page: 1),title: "New Contact", psrc: contacts_url(tab_page: 1), :class => 'btn btn-primary btn-cons tab_page' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Contacts</span></h4>
                                
                            </div>
                            <div class="grid-body no-border">
                                 
                                    <table class="table table-striped no-more-tables datatable-contacts no-filter">
                                        <thead>
                                            <tr>
												<th width="1%" class="text-center">Logo</th>
                                                <th class="text-left">Name</th>
												<th class="text-left">Info</th>
												<th class="text-center">Area</th>
												<!--<th class="text-left">Referrer</th>-->
												<th class="text-center">Tag</th>
												<th class="text-right">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          
                                            
					    
                                        </tbody>
									</table>
                            </div>
                        </div>
			
                        
                        
		    <div class="tmp_hide">
			<h2>Import Contacts</h2>
			<%= form_tag import_contacts_path, multipart: true do %>
			  <%= file_field_tag :file %>
			  <%= submit_tag "Import" %>
			<% end %>
		    </div>


                    </div>
                </div>
