
      <h3>Deferred/Transferred Money History</h3>
      <div><strong><%= @contact.display_name %></strong></div>
      <table class="table">
        <tr>
          <th width="5%" class="text-left">Datetime</th>
          <th class="text-left">Content</th>
          <th width="1%" class="text-right">Money</th>
        </tr>
        <% @contact.budget_money_logs.each do |log| %>
          <tr>
            <td><%= log[:datetime].strftime("%d-%b-%Y<br> %H:%I %p").html_safe %></td>
            <td><%= log[:content].html_safe %></td>
            <td class="text-right"><%= log[:sign] %><%= format_price(log[:money]) %></td>
          </tr>
        <% end %>
        <tr>
            <td colspan="2" class="text-right">Remain</td>
            <td class="text-right"><strong class="confirmed big-info"><%= format_price(@contact.budget_money) %></strong></td>
          </tr>
      </table>
