                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Stock Management', courses_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-book"></i>
                    	<h3>Stock - <span class="semi-bold"> Management</span></h3>	
                </div>
                
			
			<%= form_tag("", {class: "listing_form", method: "post", target: "_blank"}) do |f| %>
			
				<%= render "filters" %>
                
                <div class="row">
                    <div class="col-md-12">
                        <%= link_to 'New Stock', new_book_path(tab_page: 1), psrc: books_path(tab_page:1), title: "New Book", :class => 'btn btn-primary btn-cons tab_page' %>
						<%= link_to 'Import/Export Stock', import_export_books_path(tab_page: 1), psrc: books_path(tab_page:1), title: "Import/Export Stock", :class => 'btn btn-primary btn-cons tab_page' %>
                        <div class="grid simple ">
                            <div class="grid-title no-border">
                                <h4>Listing  <span class="semi-bold">Books</span></h4>
                                
                            </div>
							
							<div class="listing_box_actions">
									<div class="btn-group listing_actions"> <a href="#" data-toggle="dropdown" class="btn btn-white dropdown-toggle btn-demo-space"> List Actions (<span class="listing_checked_count">0</span>)<span class="caret"></span> </a>
										<ul class="dropdown-menu">									
											<li><a href="#" rel="<%= approve_all_books_path %>" type="ajax">Approve All</a></li>									
										</ul>
									</div>
									<div class="checkbox check-default check_all_page_but" style="display: inline-block">
										<input name="check_all_page" id="checkbox_all_page" type="checkbox" value="all_page" class="check_all_page">
										<label for="checkbox_all_page">Select All Pages</label>
									</div>
									
									
									
								</div>
							
                            <div class="grid-body no-border">
                                 
                                    <table class="table no-more-tables datatable-books no-filter">
                                        <thead>
                                            <tr>
												<th>
													<div class="checkbox check-default">
														<input id="checkbox_all" type="checkbox" value="all" class="checkall">
														<label for="checkbox_all"></label>
													</div>
												</th>
												<th width="1%">Cover</th>                                                
												<th class="text-left">Name</th>
												<!--<th class="text-center">Type</th>-->
                                                <th>Publisher</th>
												<th class="text-right">List Price</th>
												<th class="text-center">Actual Stock</th>
												<th class="text-center">To-be-delivered</th>
												<th class="text-center">Actual-ordered</th>
												<th class="text-center">To-be-Imported</th>
												<th class="text-center" width="1%">Creator</th>
												<th class="text-center" width="1%">Status</th>
												<th class="text-right" width="1%">Actions</th>
                                            </tr>
                                        </thead>                                        
                                    </table>
                            </div>
                        </div>
			
                    </div>
		    
                </div>
			<% end %>
