                            <% @books.each_with_index do |book,number| %>
							  <div class="row  intake_box column-seperation item_box stock_box stock_box_<%= number %>" rel="<%= number %>">
                                    <div class="stock_box_label">Stock #<%= number+1 %></div>
									<!--<div class="stock_box_close" rel="<%= number.to_s %>"><i class="icon icon-remove"></i></div>-->
								   <div class="col-md-12">
										<hr />
								   </div>								   
								   <div class="col-md-12">
										<div class="row">
                                              <div class="col-md-1">
                                                  <div class="text-center">
                                                    <%= book.cover_link %>
                                                  </div>
                                              </div>
                                              <div class="col-md-2">
                                                  <div class="">
                                                    <strong><%= book.display_name %></strong>
													<div class="nowrap"><%= book.display_valid_time %></div>
                                                    <%= hidden_field_tag "books_contacts["+number.to_s+"][book_id]", book.id %>
                                                  </div>
                                              </div>
                                              <div class="col-md-1">
                                                   <div class="form-group">
                                                        <label class="form-label"><label>Quantity</label></label>
                                                        <span class="help"></span>
                                                        <div class="input-with-iconz date-group right">                                       
                                                             <i class=""></i>
                                                             <div class="input-with_add_but">
                                                                  <%= text_field_tag "books_contacts["+number.to_s+"][quantity]", 1, class: "form-control number_input_0 required text-center" %>
                                                             </div>
                                                        </div>
                                                   </div>
                                              </div>
											  <div class="col-md-2">
												<div class="form-group" style="margin-bottom: 5px;">
													  <label class="form-label">Upfront?</label>
													  <span class="help"></span>
													  <div class="input-with-icon right">                                       
														   <div class="radio radio-success" style="padding: 5px">
																<input class="upfront_radio required" id="<%= number %>_upfront_true" type="radio" name="books_contacts[<%= number.to_s %>][upfront]" value="true">
																<label for="<%= number %>_upfront_true">Yes</label>
																<input checked="checked" class="upfront_radio required" id="<%= number %>_upfront_false" type="radio" name="books_contacts[<%= number.to_s %>][upfront]" value="false">
																<label for="<%= number %>_upfront_false">No</label>
														   </div>
													  </div>
												 </div>
												 <!--<div class="intake_group">
													 <h4>Intake</h4>
													 <div class="date_select_filter">
														 <div class="input-with-icon date-group-my right">                                       
														 <%= date_select("books_contacts["+number.to_s+"]", :intake, default: 3.days.from_now, use_short_month: true, discard_day: true) %>
														 </div>
													 </div>
												 </div>-->
											  </div>
                                              <div class="col-md-3">
                                                    <div class="form-group">
                                                      <label class="form-label"><label>Price</label></label>
                                                      <span class="help"></span>
                                                      <div class="input-with-icon  right">                                       
                                                           <i class=""></i>
                                                           <div class="input-with-iconz right">
                                                                <select name="books_contacts[<%= number.to_s %>][price]" class="text-right modern_select width100 required price_stock">
                                                                  <% book.prices.each do |price| %>
                                                                      <option value="<%= price %>" class="text-right"><%= format_price(price) %></option>
                                                                  <% end %>
																	<option value="no_price" class="text-right">No Price</option>
                                                                </select>
                                                           </div>
                                                      </div>
                                                    </div>	                                                                                                                          

                                                    <div class="form-group no_price_group">
                                                          <label class="form-label"><label>Discount Program</label></label>
                                                          <span class="help"></span>
														  <div>
															<% (0..9).each do |num| %>
															  <div  class="discount_program_box input-with-icon right item_box phrase_boxx item_box_<%= num.to_s %> <%= 'hidden'.html_safe if num > 0 %>">                                       
																   <i class=""></i>
																	<div class="input-with_add_but">
																	  <%= link_to '<i class="icon-plus"></i>'.html_safe, new_discount_program_path(tab_page: 1), title: "New Discount Program", :class => 'btn btn-sm btn-small btn-white tab_page' %>
																	  <input style="width:100%;margin-bottom: 5px;" name="books_contacts[<%= number.to_s %>][discount_programs][<%= num.to_s %>][id]" data="<%= discount_programs_path(format: "json") %>" class="select2-ajax-discount-programs price_discount_program main_input" /> 
																	</div>
															  </div>
															<% end %>
														  </div>
                                                    </div>
                                               
                                                    <div class="form-group no_price_group">
                                                          <label class="form-label"><label>Other discount/credit</label></label>
                                                          <span class="help"></span>
                                                          <div class="input-with-iconz right">                                       
                                                              <%= text_field_tag "books_contacts["+number.to_s+"][discount]", "", class: "form-control price_input price_discount" %>
                                                          </div>
                                                    </div>
														
													<div class="form-group no_price_group">
                                                          <label class="form-label"><label>Description</label></label>
                                                          <span class="help"></span>
                                                          <div class="input-with-iconz">                                       
                                                              <%= text_area_tag "books_contacts["+number.to_s+"][description]", "", class: "form-control width100" %>
                                                          </div>
                                                    </div>
													
                                               </div>
                                               <div class="col-md-2">
                                                    <div class="form-group no_price_group">
                                                          <label class="form-label"><label>Total</label></label>
                                                          <span class="help"></span>
                                                          <div class="input-with-iconz right">                                       
                                                              <h4 class="text-right" style="margin: 0">
                                                                   <strong class="total_stock total_stock_<%= number %>"></strong>
                                                              </h4>
                                                          </div>
                                                    </div>
													
                                               </div>
                                               <div class="col-md-1">
                                                    <div class="form-group">
                                                          <label class="form-label"><label></label></label>
                                                          <span class="help"></span>
                                                          <div class="input-with-iconz t">                                       
                                                              <div class="checkbox check-success" style="margin-top: 15px">
                                                                  <%= check_box_tag "books_contacts["+number.to_s+"][selected]", true, true, {id: "stock_check_"+number.to_s, class: "stock_check" } %>
                                                                  <label for="stock_check_<%= number %>"></label>
                                                              </div>
                                                          </div>
                                                    </div>
                                               </div>
                                        </div>
								   </div>
								   <div class="col-md-5">
										<div class="form_volumn_list_<%= number %>"></div>
								   </div>
							  </div>
							  
						 <% end %>
						 
                          <!--<hr />
                          <a href="#add" class="btn btn-white add-more-stock-form"><i class="icon icon-plus"></i> Add Stock</a>
                          <hr />-->
                         
                          