                <div class="grid simple payment-record-filter">
                  <div class="grid-body no-border filters">
                    <div class="row order-filters">
					  <div class="col-md-2">
						  <h4>From Date</h4>
						  <div class="date_select_filter">
						  <div class="input-with-icon  right">
							  <div class="input-append success date col-md-10 no-padding">
								  <%= text_field_tag :from_date, nil, :class => "datetime form-control" %>
								  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
							  </div>
							  <br style="clear: both" />
							  
						  </div>
						  </div>
					  </div>
					  <div class="col-md-2">
						  <h4>To Date</h4>
						  <div class="date_select_filter">
						  <div class="input-with-icon  right">
							  <div class="input-append success date col-md-10 no-padding">
								  <%= text_field_tag :to_date, Time.now.strftime("%d-%b-%Y"), :class => "datetime form-control" %>
								  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
							  </div>
							  <br style="clear: both" />
						  </div>
						  </div>
					  </div>
						
						<% if current_user.has_role?("manager") || current_user.has_role?("admin") || current_user.has_role?("accountant") %>
						  <div class="col-md-2">
							  <h4>Consultant</h4>
							  <div class="">
								  <input style="width:100%;margin-bottom: 5px;" name="account_manager" data="<%= users_path %>" class="select2-ajax-users multiple" />
							  </div>
						  </div>
						<% end %>
						
						<div class="col-md-3">
						  <h4>Bank Account</h4>
								<div class="input-with-icon  right">                                       
									 <i class=""></i>
									 <div class="input-with_add_butz">												   													   
										  <%= select_tag 'bank_account', options_for_select(BankAccount.active_bank_accounts.collect{ |u| [u.name, u.id] }), :include_blank => 'All', class: "modern_select width100 required" %>
									 </div>
								</div>
						</div>
						<!--<div class="col-md-2">
							<h4>Program</h4>							
							<%= select_tag 'course_types[]', options_for_select(CourseType.active_course_types.collect{ |u| [u.short_name, u.id] }), :include_blank => 'All', class: "modern_select width100" %>
						</div>-->
						<div class="col-md-3">
							<h4>Course</h4>							
							<input style="width:100%;margin-bottom: 5px;" name="courses" data="<%= courses_path(format: "json") %>" class="select2-ajax-courses" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
								<h4>Education Consultant</h4>
								<div class="">
									<%= select_tag 'user', options_for_select(User.main_users.collect{ |u| [u.name, u.id] }) , {:include_blank => 'All', class: "modern_select width100"} %>
								</div>
							</div>
                        <!--<div class="col-md-3 student-payment-filter">
							<h4>Student</h4>
							<div class="students-filter-box">
								<input style="width:100%;margin-bottom: 5px;" name="filter[students[]]" data="<%= contacts_path(is_individual: true, contact_type_id: ContactType.student.id,format: "json") %>" class="select2-ajax-students multiple" value="<%= @student.id if !@student.nil? %>" text="<%= @student.display_name if !@student.nil? %>" />
							</div>
						</div>-->
						
						<div class="col-md-3">
							<h4>Company</h4>
							<div class="">
								<input style="width:100%;margin-bottom: 5px;" name="company" data="<%= contacts_path(is_individual: false, format: "json") %>" class="select2-ajax-companies" />
							</div>
						</div>
						
						<div class="col-md-3">
							<h4>Payment For/By</h4>
							<div class="form-group" style="margin-bottom: 5px;">								 
								 <div class="input-with-icon right">                                       
									  <div class="radio radio-success" style="padding: 5px">
											<input class="required" id="paymentfor_all" type="radio" name="payment_for" value="" checked="checked">
											<label style="display: inline-block; width: 100px" for="paymentfor_all">All</label>
											<input class="required" id="paymentfor_student" type="radio" name="payment_for" value="student">
											<label style="display: inline-block; width: 100px" for="paymentfor_student">Student</label>
											<input class="required" id="paymentfor_company" type="radio" name="payment_for" value="company">
											<label style="display: inline-block; width: 100px" for="paymentfor_company">Company</label>
											<input class="required" id="paymentfor_transfer" type="radio" name="payment_for" value="transfer">
											<label style="display: inline-block; width: 100px" for="paymentfor_transfer">Defer/Transfer</label>
									  </div>
								 </div>
							</div>
							
						</div>
						
						<div class="col-md-3">
						  <div class="company_receivable_box" style="display: none">
							<h4>Company Receivable?</h4>
							<div class="form-group" style="margin-bottom: 5px;">								 
								 <div class="input-with-icon right">                                       
									  <div class="radio radio-success" style="padding: 5px">
											<input class="required" id="receivable_all" type="radio" name="receivable" value="" checked="checked">
										   <label for="receivable_all">All</label>
										   <input class="required" id="receivable_true" type="radio" name="receivable" value="receivable">
										   <label for="receivable_true">Yes</label>
										   <input class="required" id="receivable_false" type="radio" name="receivable" value="paid">
										   <label for="receivable_false">No</label>
									  </div>
								 </div>
							</div>
						  </div>
						  <h4>Status</h4>							
						  <%= select_tag 'status', options_for_select(PaymentRecord.status_options, params[:status]), class: "modern_select width100" %>
						</div>
                        
                        
                    </div>
						
					
                  </div>		    
				</div>