                <div class="grid simple payment-record-filter student-payment-filter">
                  <div class="grid-body no-border filters">
                    <div class="row order-filters">
					  <div class="col-md-2">
						  <h4>From Date</h4>
						  <div class="date_select_filter">
						  <div class="input-with-icon  right">
							  <div class="input-append success date col-md-10 no-padding">
								  <%= text_field_tag :from_date, nil, :class => "datetime form-control" %>
								  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
							  </div>
							  <br style="clear: both" />
							  
						  </div>
						  </div>
					  </div>
					  <div class="col-md-2">
						  <h4>To Date</h4>
						  <div class="date_select_filter">
						  <div class="input-with-icon  right">
							  <div class="input-append success date col-md-10 no-padding">
								  <%= text_field_tag :to_date, Time.now.strftime("%d-%b-%Y"), :class => "datetime form-control" %>
								  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
							  </div>
							  <br style="clear: both" />
						  </div>
						  </div>
					  </div>
						
						<% if current_user.has_role?("manager") || current_user.has_role?("admin") || current_user.has_role?("accountant") %>
						  <div class="col-md-2 student-course-filter">
							  <h4>Consultant</h4>
							  <div class="">
								  <input style="width:100%;margin-bottom: 5px;" name="account_manager" data="<%= users_path %>" class="select2-ajax-users multiple" />
							  </div>
						  </div>
						<% end %>
						
						<div class="col-md-2">
						  <h4>Bank Account</h4>
								<div class="input-with-icon  right">                                       
									 <i class=""></i>
									 <div class="input-with_add_butz">												   													   
										  <%= select_tag 'bank_account', options_for_select(BankAccount.active_bank_accounts.collect{ |u| [u.name, u.id] }), :include_blank => 'All', class: "modern_select width100 required" %>
									 </div>
								</div>
						</div>
						<div class="col-md-2">
							<h4>Program</h4>							
							<%= select_tag 'course_types[]', options_for_select(CourseType.active_course_types.collect{ |u| [u.short_name, u.id] }), :include_blank => 'All', class: "modern_select width100" %>
						</div>
						<div class="col-md-2">
							<h4>Course</h4>							
							<input style="width:100%;margin-bottom: 5px;" name="courses" data="<%= courses_path(format: "json") %>" class="select2-ajax-courses" />
						</div>
					</div>
					<div class="row">
						
                        <div class="col-md-3 student-course-filter">
							<h4>Student</h4>
							<div class="students-filter-box">
								<input style="width:100%;margin-bottom: 5px;" name="filter[students[]]" data="<%= contacts_path(is_individual: true, contact_type_id: ContactType.student.id,format: "json") %>" class="select2-ajax-students multiple" value="<%= @student.id if !@student.nil? %>" text="<%= @student.display_name if !@student.nil? %>" />
							</div>
						</div>
						
						<div class="col-md-3 student-course-filter">
							<h4>Company</h4>
							<div class="">
								<input style="width:100%;margin-bottom: 5px;" name="company" data="<%= contacts_path(is_individual: false, format: "json") %>" class="select2-ajax-companies" />
							</div>
						</div>
                        
                        
                    </div>
                  </div>		    
				</div>