<style>
  * {
    font-family: arial;
  }
  .page {
    padding: 0;
  }
  .logo img {
    width: 220px;
    padding: 0;
    margin: 0;
  }
  .heading {
    text-align: center;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .list {
    width: 100%;
    margin-top: 20px;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: none;
    border-right: none;
  }
  .list th {
      background: none repeat scroll 0 0 #EFEFEF;
      border-bottom: 1px solid #000000;
      border-right: 1px solid #000000;
      border-top: none;
      border-left: none;
      padding: 5px;
  }
  .list td {
      border-bottom: 1px solid #000000;
      border-right: 1px solid #000000;
      border-top: none;
      border-left: none;
      padding: 5px;
  }
</style>

<div class="page">
  <div class="logo">
    <img src="<%= params[:action] == "print" ? "file://"+File.join(Rails.root, 'public', 'img', 'FTMSGlobalNew_transparent.png') : url_for("/img/FTMSGlobalNew_transparent.png") %>" class="login-logo" />
  </div>
  
  <div class="heading">
    <h1>PAYMENT NOTE</h1>
  </div>
  
  
  <table cellpadding="5">
    <tr>
      <td>
        <strong>Student:</strong>
      </td>
      <td width="60%">
        <%= @payment_record.course_register.contact.display_name %>
      </td>
      <td>
        <strong>Date:</strong>
      </td>
      <td>
        <%= @payment_record.payment_date.strftime("%d-%b-%Y") %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Amount:</strong>
      </td>
      <td colspan="2">
        <%= format_price(@payment_record.amount) %> <%= Setting.get("currency_code") %>
      </td>
      
    </tr>
    <tr>
      <td>
        <strong>Company:</strong>
      </td>
      <td colspan="2">
        <%= @payment_record.course_register.contact.referrer.display_name if !@payment_record.course_register.contact.referrer.nil? %>
      </td>
      
    </tr>
    <tr>
      <td>
        <strong>Address:</strong>
      </td>
      <td colspan="2">
        <%= @payment_record.course_register.mailing_address %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Phone:</strong>
      </td>
      <td colspan="2">
        <%= @payment_record.course_register.contact.mobile %>
      </td>
    </tr>
  </table>
  
  
  <p></p>
  <br />
  
  <table width="100%" cellpadding="10">
    <tr>
      <th class="text-center" width="50%" valign="top">Received by
      <br />
      <br />
      <br />
      <br />
      <br />
      <span style="font-weight: normal"><%= @payment_record.user.name %></span>
      </th>
      <th class="text-center" valign="top">Paid by
      
      </th>      
    </tr>
    
  </table>
  
</div>