<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Gender</Data></Cell>
        <Cell><Data ss:Type="String">Full Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Mobile</Data></Cell>
        <Cell><Data ss:Type="String">EC</Data></Cell>
        <Cell><Data ss:Type="String">Course</Data></Cell>
        <Cell><Data ss:Type="String">Money</Data></Cell>
        <Cell><Data ss:Type="String">Receivable</Data></Cell>
        <Cell><Data ss:Type="String">Payment Date</Data></Cell>
        <Cell><Data ss:Type="String">Bank Account</Data></Cell>
        <Cell><Data ss:Type="String">Bank Ref</Data></Cell>
        <Cell><Data ss:Type="String">Defer/Transfer from</Data></Cell>
      </Row>
      <% total = 0.0 %>


      <% @data[:records].each do |contact| %>
          <% @data[:courses].each do |course| %>
              <% if (contact.active_courses_with_phrases.map {|c| c[:course].id}).include?(course.id) %>
                  <% if contact.find_related_payment_record_details(course).each do |prd| %>
                      <% pr = prd.payment_record %>
                      <Row>
                          <Cell><Data ss:Type="String"><%= contact.sex == "female" ? "[Ms]" : "[Mr]" %></Data></Cell>
                          <Cell><Data ss:Type="String"><%= contact.name.titleize %></Data></Cell>
                          <Cell><Data ss:Type="String"><%= contact.email %><%= (";"+contact.email_2s.join(";")).html_safe if !contact.email_2s.empty? %></Data></Cell>
                          <Cell><Data ss:Type="String"><%= contact.mobile %><%= (";"+contact.mobile_2s.join(";")).html_safe if !contact.mobile_2s.empty? %></Data></Cell>
                          <Cell><Data ss:Type="String"><%= contact.account_manager_name %></Data></Cell>
                          <Cell><Data ss:Type="String"><%= course.display_name %></Data></Cell>
                          <Cell><Data ss:Type="String"><%= format_price(prd.real_amount) %></Data></Cell>
                          <Cell><Data ss:Type="String"><%= format_price(prd.remain_amount) %></Data></Cell>
                          <Cell><Data ss:Type="String"><%= pr.payment_date.strftime("%d-%b-%Y") %></Data></Cell>
                          <Cell><Data ss:Type="String"><%= pr.bank_account_name %></Data></Cell>
                          <Cell><Data ss:Type="String"><%= pr.bank_ref %></Data></Cell>
                          <Cell><Data ss:Type="String"></Data></Cell>
                      </Row>
                      <% total += prd.real_amount %>
                  <% end.empty? %>
                      <% if !contact.active_received_transfers.where(to_course_id: course.id).empty? %>
                          <% from_course = Course.find(contact.active_received_transfers.where(to_course_id: course.id).first.course_id) %>
                          <% if contact.find_related_payment_record_details(from_course).each do |prd| %>
                              <% pr = prd.payment_record %>
                              <Row>
                                  <Cell><Data ss:Type="String"><%= contact.sex == "female" ? "[Ms]" : "[Mr]" %></Data></Cell>
                                  <Cell><Data ss:Type="String"><%= contact.name.titleize %></Data></Cell>
                                  <Cell><Data ss:Type="String"><%= contact.email %><%= (";"+contact.email_2s.join(";")).html_safe if !contact.email_2s.empty? %></Data></Cell>
                                  <Cell><Data ss:Type="String"><%= contact.mobile %><%= (";"+contact.mobile_2s.join(";")).html_safe if !contact.mobile_2s.empty? %></Data></Cell>
                                  <Cell><Data ss:Type="String"><%= contact.account_manager_name %></Data></Cell>
                                  <Cell><Data ss:Type="String"><%= course.display_name %></Data></Cell>
                                  <Cell><Data ss:Type="String"><%= format_price(prd.real_amount) %></Data></Cell>
                                  <Cell><Data ss:Type="String"><%= format_price(prd.remain_amount) %></Data></Cell>
                                  <Cell><Data ss:Type="String"><%= pr.payment_date.strftime("%d-%b-%Y") %></Data></Cell>
                                  <Cell><Data ss:Type="String"><%= pr.bank_account_name %></Data></Cell>
                                  <Cell><Data ss:Type="String"><%= pr.bank_ref %></Data></Cell>
                                  <Cell><Data ss:Type="String"><%= from_course.display_name %></Data></Cell>
                              </Row>
                              <% total += prd.real_amount %>
                          <% end.empty? %>
                              <% if !contact.active_received_transfers.where(to_course_id: from_course.id).empty? %>
                                  <% from_course_2 = Course.find(contact.active_received_transfers.where(to_course_id: from_course.id).first.course_id) %>
                                  <% if contact.find_related_payment_record_details(from_course_2).each do |prd| %>
                                      <% pr = prd.payment_record %>
                                      <Row>
                                          <Cell><Data ss:Type="String"><%= contact.sex == "female" ? "[Ms]" : "[Mr]" %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= contact.name.titleize %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= contact.email %><%= (";"+contact.email_2s.join(";")).html_safe if !contact.email_2s.empty? %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= contact.mobile %><%= (";"+contact.mobile_2s.join(";")).html_safe if !contact.mobile_2s.empty? %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= contact.account_manager_name %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= course.display_name %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= format_price(prd.real_amount) %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= format_price(prd.remain_amount) %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= pr.payment_date.strftime("%d-%b-%Y") %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= pr.bank_account_name %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= pr.bank_ref %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= from_course_2.display_name %></Data></Cell>
                                      </Row>
                                      <% total += prd.real_amount %>
                                  <% end.empty? %>
                                      <Row>
                                          <Cell><Data ss:Type="String"><%= contact.sex == "female" ? "[Ms]" : "[Mr]" %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= contact.name.titleize %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= contact.email %><%= (";"+contact.email_2s.join(";")).html_safe if !contact.email_2s.empty? %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= contact.mobile %><%= (";"+contact.mobile_2s.join(";")).html_safe if !contact.mobile_2s.empty? %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= contact.account_manager_name %></Data></Cell>
                                          <Cell><Data ss:Type="String"><%= course.display_name %></Data></Cell>
                                          <Cell><Data ss:Type="String">0</Data></Cell>
                                          <Cell><Data ss:Type="String">0</Data></Cell>
                                          <Cell><Data ss:Type="String"></Data></Cell>
                                          <Cell><Data ss:Type="String"></Data></Cell>
                                          <Cell><Data ss:Type="String"></Data></Cell>
                                          <Cell><Data ss:Type="String"></Data></Cell>
                                      </Row>
                                  <% end %>
                              <% end %>
                          <% end %>
                      <% else %>
                          <Row>
                              <Cell><Data ss:Type="String"><%= contact.sex == "female" ? "[Ms]" : "[Mr]" %></Data></Cell>
                              <Cell><Data ss:Type="String"><%= contact.name.titleize %></Data></Cell>
                              <Cell><Data ss:Type="String"><%= contact.email %><%= (";"+contact.email_2s.join(";")).html_safe if !contact.email_2s.empty? %></Data></Cell>
                              <Cell><Data ss:Type="String"><%= contact.mobile %><%= (";"+contact.mobile_2s.join(";")).html_safe if !contact.mobile_2s.empty? %></Data></Cell>
                              <Cell><Data ss:Type="String"><%= contact.account_manager_name %></Data></Cell>
                              <Cell><Data ss:Type="String"><%= course.display_name %></Data></Cell>
                              <Cell><Data ss:Type="String">0</Data></Cell>
                              <Cell><Data ss:Type="String">0</Data></Cell>
                              <Cell><Data ss:Type="String"></Data></Cell>
                              <Cell><Data ss:Type="String"></Data></Cell>
                              <Cell><Data ss:Type="String"></Data></Cell>
                              <Cell><Data ss:Type="String"></Data></Cell>
                          </Row>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
      <% end %>

      <Row>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String">Total:</Data></Cell>
          <Cell><Data ss:Type="String"><%= format_price(total) %></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
