<div class="grid simple payment-record-filter">
    <div class="grid-body no-border filters">
        <%= form_tag(course_report_payment_records_path(tab_page:1)) do %>
            <div class="row order-filters">
                <!--<div class="col-md-2">
                    <h4>From Date</h4>
                    <div class="date_select_filter">
                    <div class="input-with-icon  right">
                        <div class="input-append success date col-md-10 no-padding" style="width: 100%">
                            <%= text_field_tag :from_date, (!@from_date.present? ? nil : @from_date.strftime("%d-%b-%Y")), :class => "datetime form-control" %>
                            <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
                        </div>
                        <br style="clear: both" />

                    </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <h4>To Date</h4>
                    <div class="">
                    <div class="input-with-icon  right">
                        <div class="input-append success col-md-10 no-padding" style="width: 100%">
                            <strong><%= @to_date.strftime("%d-%b-%Y") %></strong>
                        </div>
                        <br style="clear: both" />
                    </div>
                    </div>
                </div>-->
                <div class="col-md-8">
                    <h4>Course</h4>
                    <input values="<%= @the_courses %>" style="width:100%;margin-bottom: 5px;" name="the_courses" data="<%= courses_path(format: "json") %>" class="select2-ajax-courses multiple" />
                </div>
                <div class="col-md-4">
                    <h4 style="color: #fff">.</h4>
                    <button class="btn btn-primary">Export</button>
                </div>
            </div>
        <% end %>
    </div>
</div>

<% if @records.present? %>
    <div class="row">
        <div class="col-md-12">
            <div class="text-left">
                <a href="<%= course_report_payment_records_path(format: 'xls') %>" target="_blank" class="btn btn-primary">Export (Excel)</a>
            </div>
            <table class="table table-striped no-more-tables no-filter">
                <thead>
                    <tr>
                        <td>Gender</td>
                        <td>Full Name</td>
                        <!--<td>Company</td>-->
                        <!--<td>DOB</td>-->
                        <!--<td>Address</td>-->
                        <td>Email/Mobile</td>
                        <td>Course</td>
                        <td>Money</td>
                        <td>Payment Date</td>
                        <td>Bank Account</td>
                        <td>Bank Ref</td>
                        <td>Defer/Transfer From</td>
                    </tr>
                </thead>
                <tbody>
                    <% total = 0.0 %>
                    <% @records.each do |contact| %>
                        <% @courses.each do |course| %>
                            <% if (contact.active_courses_with_phrases.map {|c| c[:course].id}).include?(course.id) %>
                                <% if contact.find_related_payment_record_details(course).each do |prd| %>
                                    <% pr = prd.payment_record %>
                                    <tr>
                                        <td><%= contact.id %><%= contact.sex == "female" ? "[Ms]" : "[Mr]" %></td>
                                        <td><%= contact.name.titleize %></td>
                                        <!--<td><%= contact.referrer.name if !contact.referrer.nil? %></td>-->
                                        <!--<td><%= contact.birthday.strftime("%d-%b-%Y") if !contact.birthday.nil? %></td>-->
                                        <!--<td><%= contact.address %></td>-->
                                        <td><%= contact.email %><%= ("<br>"+contact.email_2s.join("<br>")).html_safe if !contact.email_2s.empty? %>
                                        <br><%= contact.mobile %><%= ("<br>"+contact.mobile_2s.join("<br>")).html_safe if !contact.mobile_2s.empty? %></td>
                                        <td><%= course.display_name %></td>
                                        <td><%= format_price(prd.real_amount) %></td>
                                        <td><%= pr.payment_date.strftime("%d-%b-%Y") %></td>
                                        <td><%= pr.bank_account_name %></td>
                                        <td><%= pr.bank_ref %></td>
                                        <td></td>
                                    </tr>
                                    <% total += prd.real_amount %>
                                <% end.empty? %>
                                    <% if !contact.active_received_transfers.where(to_course_id: course.id).empty? %>
                                        <% from_course = Course.find(contact.active_received_transfers.where(to_course_id: course.id).first.course_id) %>
                                        <% if contact.find_related_payment_record_details(from_course).each do |prd| %>
                                            <% pr = prd.payment_record %>
                                            <tr>
                                                <td><%= contact.id %><%= contact.sex == "female" ? "[Ms]" : "[Mr]" %></td>
                                                <td><%= contact.name.titleize %></td>
                                                <!--<td><%= contact.referrer.name if !contact.referrer.nil? %></td>-->
                                                <!--<td><%= contact.birthday.strftime("%d-%b-%Y") if !contact.birthday.nil? %></td>-->
                                                <!--<td><%= contact.address %></td>-->
                                                <td><%= contact.email %><%= ("<br>"+contact.email_2s.join("<br>")).html_safe if !contact.email_2s.empty? %>
                                                <br><%= contact.mobile %><%= ("<br>"+contact.mobile_2s.join("<br>")).html_safe if !contact.mobile_2s.empty? %></td>
                                                <td><%= course.display_name %></td>
                                                <td><%= format_price(prd.real_amount) %></td>
                                                <td><%= pr.payment_date.strftime("%d-%b-%Y") %></td>
                                                <td><%= pr.bank_account_name %></td>
                                                <td><%= pr.bank_ref %></td>
                                                <td><%= from_course.display_name %></td>
                                            </tr>
                                            <% total += prd.real_amount %>
                                        <% end.empty? %>
                                            <% if !contact.active_received_transfers.where(to_course_id: from_course.id).empty? %>
                                                <% from_course_2 = Course.find(contact.active_received_transfers.where(to_course_id: from_course.id).first.course_id) %>
                                                <% if contact.find_related_payment_record_details(from_course_2).each do |prd| %>
                                                    <% pr = prd.payment_record %>
                                                    <tr>
                                                        <td><%= contact.id %><%= contact.sex == "female" ? "[Ms]" : "[Mr]" %></td>
                                                        <td><%= contact.name.titleize %></td>
                                                        <!--<td><%= contact.referrer.name if !contact.referrer.nil? %></td>-->
                                                        <!--<td><%= contact.birthday.strftime("%d-%b-%Y") if !contact.birthday.nil? %></td>-->
                                                        <!--<td><%= contact.address %></td>-->
                                                        <td><%= contact.email %><%= ("<br>"+contact.email_2s.join("<br>")).html_safe if !contact.email_2s.empty? %>
                                                        <br><%= contact.mobile %><%= ("<br>"+contact.mobile_2s.join("<br>")).html_safe if !contact.mobile_2s.empty? %></td>
                                                        <td><%= course.display_name %></td>
                                                        <td><%= format_price(prd.real_amount) %></td>
                                                        <td><%= pr.payment_date.strftime("%d-%b-%Y") %></td>
                                                        <td><%= pr.bank_account_name %></td>
                                                        <td><%= pr.bank_ref %></td>
                                                        <td><%= from_course_2.display_name %></td>
                                                    </tr>
                                                    <% total += prd.real_amount %>
                                                <% end.empty? %>
                                                    <tr>
                                                        <td><%= contact.id %><%= contact.sex == "female" ? "[Ms]" : "[Mr]" %></td>
                                                        <td><%= contact.name.titleize %></td>
                                                        <td><%= contact.email %><%= ("<br>"+contact.email_2s.join("<br>")).html_safe if !contact.email_2s.empty? %>
                                                        <br><%= contact.mobile %><%= ("<br>"+contact.mobile_2s.join("<br>")).html_safe if !contact.mobile_2s.empty? %></td>
                                                        <td><%= course.display_name %></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                <% end %>
                                            <% end %>
                                        <% end %>
                                    <% else %>
                                        <tr>
                                            <td><%= contact.id %><%= contact.sex == "female" ? "[Ms]" : "[Mr]" %></td>
                                            <td><%= contact.name.titleize %></td>
                                            <!--<td><%= contact.referrer.name if !contact.referrer.nil? %></td>-->
                                            <!--<td><%= contact.birthday.strftime("%d-%b-%Y") if !contact.birthday.nil? %></td>-->
                                            <!--<td><%= contact.address %></td>-->
                                            <td><%= contact.email %><%= ("<br>"+contact.email_2s.join("<br>")).html_safe if !contact.email_2s.empty? %>
                                            <br><%= contact.mobile %><%= ("<br>"+contact.mobile_2s.join("<br>")).html_safe if !contact.mobile_2s.empty? %></td>
                                            <td><%= course.display_name %></td>
                                            <td>0</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <tr>
                        <td></td>
                        <td></td>
                        <!--<td></td>-->
                        <!--<td></td>-->
                        <!--<td></td>-->
                        <td></td>
                        <td>Total:</td>
                        <td><strong><%= format_price(total) %></strong></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<% elsif request.post? %>
    <div class="alert alert-warning">No records found!</div>
<% end %>

<script>
	 $(document).ready(function() {
		  $('.select2-ajax-courses').each(function() {
				  vs = JSON.parse($(this).attr('values'))
				  $(this).select2('data', vs)
		  });
	 });
</script>
