<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Gender</Data></Cell>
        <Cell><Data ss:Type="String">Full Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Mobile</Data></Cell>
        <Cell><Data ss:Type="String">Course</Data></Cell>
        <Cell><Data ss:Type="String">Money</Data></Cell>
        <Cell><Data ss:Type="String">Payment Date</Data></Cell>
        <Cell><Data ss:Type="String">Bank Account</Data></Cell>
        <Cell><Data ss:Type="String">Bank Ref</Data></Cell>
        <Cell><Data ss:Type="String">Defer/Transfer</Data></Cell>
      </Row>
      <% total = 0.0 %>
      <% @records.each do |prd| %>
        <% contact = prd.contacts_course.contact %>
        <% course = prd.contacts_course.course %>
        <% pr = prd.payment_record %>
        <Row>
            <Cell><Data ss:Type="String"><%= contact.sex == "female" ? "[Ms]" : "[Mr]" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= contact.name.titleize %></Data></Cell>
            <Cell><Data ss:Type="String"><%= contact.email %><%= (";"+contact.email_2s.join(";")).html_safe if !contact.email_2s.empty? %></Data></Cell>
            <Cell><Data ss:Type="String"><%= contact.mobile %><%= (";"+contact.mobile_2s.join(";")).html_safe if !contact.mobile_2s.empty? %></Data></Cell>
            <Cell><Data ss:Type="String"><%= course.display_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= format_price(prd.real_amount) %><% total += prd.real_amount %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pr.payment_date.strftime("%d-%b-%Y") %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pr.bank_account_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= pr.bank_ref %></Data></Cell>
            <Cell><Data ss:Type="String">Defer/Transfer</Data></Cell>
        </Row>
      <% end %>
      <Row>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String">Total:</Data></Cell>
          <Cell><Data ss:Type="String"><%= format_price(total) %></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
          <Cell><Data ss:Type="String"></Data></Cell>
      </Row>
    </Table>
  </Worksheet>
</Workbook>
