<p id="notice"><%= notice %></p>

<p>
  <strong>Contact:</strong>
  <%= @contacts_seminar.contact_id %>
</p>

<p>
  <strong>Seminar:</strong>
  <%= @contacts_seminar.seminar_id %>
</p>

<%= link_to 'Edit', edit_contacts_seminar_path(@contacts_seminar) %> |
<%= link_to 'Back', contacts_seminars_path %>
