       <div class="row new_course_register_page">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  
                  
                </div>     
                
                <div class="budget_values hidden">
					<div class="budget_money"><%= @contact.budget_money %></div>
					<% if @contact.budget_money <= 0 %>
						 <style>
							  .transfer_money_form {
								   display: none;
							  }
						 </style>
					<% end %>
					<% @contact.budget_hour.each do |val| %>
						 <div class="budget_hour budget_hour_<%= val[0] %>" rel="<%= val[0] %>"><%= val[1] %></div>
						 <% if val[1] <= 0 %>
							  <style>
								   .transfer_hour_form_<%= val[0] %> {
										display: none;
								   }
							  </style>
						 <% end %>
					<% end %>
				</div>
				<% if @contact.budget_money + @contact.budget_hour_sum <= 0 %>
					<style>
						 .transfer_form {
							  display: none;
						 }
					</style>
			   <% end %>
                
                
               <div class="grid-body no-border <%= "draft_form" if @course_register.draft? %>">
                  
                  
                  <% if @course_register.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@course_register.errors.count, "error") %> prohibited this course register from being saved:</h5>
                  
                        <ul>
                        <% @course_register.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@course_register) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
                    
					
					
					 
					<h3 class="dark_head">Course Registration</h3> 
					
					 
					<div class="phrase_box_list">
						 <% (0..9).each do |number| %>
							  <div class="row column-seperation item_box phrase_box phrase_box_<%= number.to_s %> <%= 'hidden'.html_safe if number >= 0 %>" rel="<%= number %>">
								   <div class="phrase_box_label">Course #<%= number+1 %></div>
								   <div class="phrase_box_close" rel="<%= number.to_s %>"><i class="icon icon-remove"></i></div>
								   <div class="col-md-12">
										<hr />
								   </div>
								   <div class="col-md-6">
										<div class="row">
											 <div class="col-md-12">
												  <div class="form-group">
														<label class="form-label"><%= f.label :course %></label>
														<span class="help">(required)</span>
														<div class="input-with-icon  right">                                       
															 <i class=""></i>
															 <div class="input-with_add_but">
																  <%= link_to '<i class="icon-plus"></i>'.html_safe, new_course_path(tab_page: 1), title: "New Course", :class => 'btn btn-sm btn-small btn-white tab_page' %>
																  <input style="width:100%;margin-bottom: 5px;" name="contacts_courses[<%= number %>][course_id]" data="<%= courses_path(format: "json", student_id: @contact.id) %>" class="select2-ajax-courses main_input registration_course required" box_number="<%= number %>" />
															 </div>
														</div>
												  </div>
											 </div>
										</div>
										
										<div class="registration_course_price_box_<%= number %>"></div>
								   
										
								   </div>
								  <div class="col-md-6">
									   
											 
											 <div class="registration_phrase_box_<%= number %>">                                       
												  
												  
											</div>
									   	
								  </div>						 
							  </div>
							  
						 <% end %>
						 
						 
						 <a href="#add" class="btn btn-white add-more-course-form"><i class="icon icon-plus"></i> Add Course</a>
					</div>
					
					<br />
					
					<h3 class="dark_head">Stock Registration</h3>
					
					<div class="stock_form_filter">
						 <div class="row ">
							  <div class="col-md-3">
								   <div class="form-group">
										<label class="form-label"><label>Stock Type</label></label>
										<span class="help"></span>
										<div class="input-with-icon date-group right">                                       
											 <i class=""></i>
											 <div class="">
													<%= select_tag 'stock_type_id', options_for_select(StockType.active_stock_types.collect{ |u| [u.name, u.id] }), {include_blank: "All", class: "modern_select width100", multiple: "multiple"} %>
											 </div>
										</div>
								   </div>	
							  </div>
								   
										<div class="program_paper_select_box">
											<div class="col-md-3">
												  <div class="form-group">
													   <label class="form-label"><label>Program</label></label>
													   <span class="help"></span>
													   <div class="input-with-icon date-group right">                                       
															<i class=""></i>
															<div class="input-with_add_but">					
																 <%= select_tag 'program_id', options_for_select(CourseType.active_course_types.collect{ |u| [u.short_name, u.id] }), class: "modern_select width100 program_select", multiple: "multiple", input_name: "subject_id" %>
															</div>
													   </div>
												  </div>	
											</div>
											<div class="col-md-3">
												<div class="form-group">
													   <label class="form-label"><label>Paper</label></label>
													   <span class="help"></span>
													   <div class="input-with-icon date-group right">                                       
															<i class=""></i>
															<div class="input-with_add_but">
																 <span class="paper_select_box">
																	 <%= select_tag 'subject_id', options_for_select(Subject.active_subjects.collect{ |u| [u.name, u.id] }), class: "modern_select width100", multiple: "multiple" %>
																 </span>
															</div>
													   </div>
												  </div>	
											</div>
										</div>	
							  <!--<div class="col-md-2">
								   <div class="form-group">
										<label class="form-label"><label>Program</label></label>
										<span class="help"></span>
										<div class="input-with-icon date-group right">                                       
											 <i class=""></i>
											 <div class="input-with_add_but">
													<%= link_to '<i class="icon-plus"></i>'.html_safe, new_course_type_path(tab_page: 1), title: "New Program", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
													<input style="width:100%;margin-bottom: 5px;" name="program_id" data="<%= course_types_path(format: "json") %>" class="select2-ajax-course-types" /> 
											 </div>
										</div>
								   </div>
							  </div>
							  <div class="col-md-2">
								   <div class="form-group">
										<label class="form-label"><label>Subject</label></label>
										<span class="help"></span>
										<div class="input-with-icon date-group right">                                       
											 <i class=""></i>
											 <div class="input-with_add_but">
													<%= link_to '<i class="icon-plus"></i>'.html_safe, new_subject_path(tab_page: 1), title: "New Paper", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
													<input style="width:100%;margin-bottom: 5px;" name="subject_id" data="<%= subjects_path(format: "json") %>" class="select2-ajax-subjects" /> 
											 </div>
										</div>
								   </div>	
							  </div>-->
							  <div class="col-md-3">
								   <div class="form-group">
										<label class="form-label"><%= f.label :valid_on %></label>
										
										<span class="help"></span>
										<div class="input-with-iconz  left">                                       
											 <i class=""></i>
											 <div class="input-append success date col-md-10 no-padding">
												  <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
												  <%= text_field_tag :valid_on, Time.now.strftime("%d-%b-%Y"), :class => "form-control" %>
											 </div>
											 <br style="clear: both" />
										</div>
								   </div>										
							  </div>
							  
						 </div>
							  
						 <div class="row">
							  
							  
						 </div>
							  
					</div>
					
					<div class="stock_box_list">
						 
					</div>
					
					<div class="row">
						 <div class="col-md-3">													   
							  <div class="form-group">
								   <label class="form-label"><label><i class="icon-truck"></i> Preferred mailing</label></label>
								   <span class="help">(required)</span>								   
								   <div class="input-with-icon  right">
										<select name="course_register[preferred_mailing]" class="modern_select width100 required">
											  <option <%= 'selected="selected"' if @contact.preferred_mailing == "ftms" %> value="ftms">FTMS</option>
											  <option <%= 'selected="selected"' if @contact.preferred_mailing == "home" %> value="home">Home address</option>
											  <option <%= 'selected="selected"' if @contact.preferred_mailing == "company" %> value="company">Company address</option>
											  <option <%= 'selected="selected"' if @contact.preferred_mailing == "other" %> value="other">Other</option>
										</select>
								   </div>
							  </div>																
						 </div>
						 <div class="col-md-4 mailing_address_box">
							  <div class="form-group">
										<label class="form-label"><label>Delivery Address</label></label>
										<span class="help">(required)</span>
										<div class="input-with-iconz right">                                       
											 <%= f.text_field :mailing_address, value: @contact.default_mailing_address, :class => "form-control required" %>
										</div>
							   </div>
						 </div>
					</div>
					
					<br />
					
					<h3 class="dark_head">Student Information</h3> 
					
					<div class="row column-seperation">
						 <div class="col-md-12">
							  <div class="row">
								   <div class="col-md-3">
										<div class="form-group">
										  <label class="form-label"><%= f.label :student %></label>
										  <span class="help">(required)</span>
										  <div class="input-with-iconz right">
											 <input style="width:100%;margin-bottom: 5px;" name="course_register[contact_id]" data="<%= contacts_path(is_individual: true, format: "json") %>" class="select2-ajax-contacts required" value="<%= @contact.id %>" text="<%= @contact.display_name %>" />
											 <!--<div style="margin: 0;font-size: 18px;font-weight: bold"><strong><%= @contact.display_name %></strong></div>-->
										  </div>
										</div>
										
								   </div>								   
							  </div>
						 </div>
					 </div>
					
					
					<br />
					
					<h3 class="dark_head">Summary</h3> 
					
					
					<div class="row column-seperation">
						 <div class="col-md-3">
							  <div class="row">								   	   
								   <div class="col-md-12">										
										<div class="form-group">
											 <label class="form-label"><label>Payment type</label></label>
											 <span class="help">(required)</span>
											 <div class="input-with-icon right">                                       
												  <select name="course_register[payment_type]" class="modern_select width100 required">
													   <option value="self-financed" <%= 'selected="selected"' if @contact.payment_type == 'self-financed' %>>Self-financed</option>
													   <option value="company-sponsored" <%= 'selected="selected"' if @contact.payment_type == 'company-sponsored' %>>Company-sponsored</option>
												  </select>
											 </div>
										</div>										
								   </div>
							  </div>
							  <div class="row company_sponsored_group">
								   <div class="col-md-12">													   
										<div class="form-group">
											 <label class="form-label"><%= f.label :company %></label>											 
											 <span class="help">(required)</span>
											 <div class="input-with-icon  right">                                       
												  <i class=""></i>
												  <div class="input-with_add_but">
													   <%= link_to '<i class="icon-plus"></i>'.html_safe, new_contact_path(:is_individual => false, tab_page: 1), title: "New Company", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
													   <input style="width:100%;margin-bottom: 5px;" name="course_register[sponsored_company_id]" data="<%= contacts_path(is_individual: false, format: "json") %>" class="select2-ajax-contacts required" value="<%= @contact.referrer_id %>" text="<%= @contact.referrer.name if !@contact.referrer.nil? %>" />
												  </div>
											 </div>
										</div>
								   </div>
							  </div>							  
						 </div>
						 <div class="col-md-9">
	 						  <div class="form-group">
								   <label class="form-label"><label>Total Price</label></label>
								   <span class="help"></span>
								   <div class="input-with-icon right">
										<table style="" class="table">
											 <tr>
												  <th>Type</th>
												  <th class="text-center">Count</th>
												  <th class="text-right">List Price</th>
												  <th class="text-right">Discount Program</th>
												  <th class="text-right">Other discount / credit</th>
												  <th class="text-right">Total</th>
											 </tr>
											 <tr>
												  <td class="text-left">Course</td>
												  <th class="text-center">
													   <strong class="total_course_count"></strong>
												  </th>
												  <td class="text-right">
													   <strong class="total_course_list_price"></strong>
												  </td>
												  <td class="text-right">
													   <strong class="total_course_discount_program_price"></strong>
												  </td>
												  <td class="text-right">
													   <strong class="total_course_other_discount_price"></strong>
												  </td>

												  <td class="text-right">
													   <strong class="total_course_price"></strong>
												  </td>
												  
											 </tr>
											 <tr>
												  <td class="text-left">Stock</td>
												  <th class="text-center">
													   <strong class="total_stock_count"></strong>
												  </th>
												  <td class="text-right">
													   <strong class="total_stock_list_price"></strong>
												  </td>
												  <td class="text-right">
													   <strong class="total_stock_discount_program_price"></strong>
												  </td>
												  <td class="text-right">
													   <strong class="total_stock_other_discount_price"></strong>
												  </td>

												  <td class="text-right">
													   <strong class="total_stock_price"></strong>
												  </td>
											 </tr>											 
											 <tr>
												  <td class="text-right" colspan="5">Deferred/Transferred Amount</td>
												  <td class="text-right">
													   <strong class="total_registration_transfer"></strong>
												  </td>
											 </tr>
											 <tr>
												  <td class="text-right" colspan="5">Total</td>
												  <td class="text-right">
													   <strong class="total_registration_price"></strong>													   
												  </td>
											 </tr>
										</table>
										<input type="text" name="total_valid" style="height: 1px;border: none;background: none;padding: 0;margin-top: -40px;" />
								   </div>
							  </div>										
						 </div>
					 </div>
					 
						 
					<div class="form-actions">  
						 <div class="pull-right">
						 <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
						  <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
					   </div>
					</div>
							  
						<% end %>
			   </div>
			 </div>
            </div>
			
      </div>

<script>
	 $(document).ready(function() {
		  jQuery.validator.addMethod("total", function(value, element) {
			   var total = parseFloat($('.total_registration_price').html().replace(/,/g,""))
			   return total >= 0.0
		  }, "Total amount is not valid. Please check again.");
		  
		  jQuery.validator.addMethod("total_course", function(value, element) {
			   var total = parseFloat($('.total_course_'+value).html().replace(/,/g,""))
			   return total >= 0.0
		  }, "Total amount is not valid. Please check again.");
		  
		  jQuery.validator.addMethod("item_count", function(value, element) {
			   var course_count = $(".total_course_count").html()
			   var stock_count = $(".total_stock_count").html()
			   
			   return course_count != "0" || stock_count != "0"
		  }, "You must register at least one course/stock. Please check again.");
		  
		  $("input[name='total_valid']").rules('add', {
			   total: true,
			   item_count: true
		  });
		  
		  $("#stock_type_id").select2('destroy');
	 });
</script>
	 