                <ul class="breadcrumb">
                    <li>
                        <p>YOU ARE HERE</p>
                    </li> 
                    <li><%= link_to 'Registration Management', course_registers_url, :class => "active" %></li>
                </ul>
                <div class="page-title">
                        <i class="icon-briefcase"></i>
                    	<h3>Registration - <span class="semi-bold"> Management</span></h3>	
                </div>
				
				<%= form_tag("", {class: "listing_form", method: "post", target: "_blank"}) do |f| %>
				
					<%= render "filter" %>
					
					<div class="row">
						<div class="col-md-12">
							<!--<%= link_to 'New Registration', new_course_register_path(tab_page: 1), psrc: course_registers_path(tab_page:1), title: "New Registration", :class => 'btn btn-primary btn-cons tab_page' %>-->
							<!--<%= link_to '<i class="icon icon-print"></i> Print To-Be-Delivered List'.html_safe, delivery_list_deliveries_path(format: "xls"), target: "_blank", :class => 'btn btn-white btn-cons' %>-->
							
							
							
								<div class="grid simple ">
									<div class="grid-title no-border">
										<h4>Listing  <span class="semi-bold">Registration</span></h4>
										
									</div>
									
									
									<div class="listing_box_actions">
									<div class="btn-group listing_actions"> <a href="#" data-toggle="dropdown" class="btn btn-white dropdown-toggle btn-demo-space"> List Actions (<span class="listing_checked_count">0</span>)<span class="caret"></span> </a>
										<ul class="dropdown-menu">
											<li><a href="#" rel="<%= company_pay_payment_records_path(tab_page: 1) %>" type="tab" title="Company Payment">Company Pay</a></li>
											<li><a href="#" rel="<%= print_payment_list_payment_records_path(format: "pdf") %>">Print Payment List</a></li>
											<li><a href="#" rel="<%= print_payment_list_payment_records_path(format: "xls") %>">Print Payment List (excel)</a></li>
											<li><a href="#" rel="<%= approve_all_course_registers_path %>" type="ajax">Approve All</a></li>
										</ul>
									</div>
									<div class="checkbox check-default check_all_page_but" style="display: inline-block">
										<input name="check_all_page" id="checkbox_all_page" type="checkbox" value="all_page" class="check_all_page">
										<label for="checkbox_all_page">Select All Pages</label>
									</div>
									
								</div>
								
								
								<div class="grid-body no-border">
									 
										<table class="table table-striped no-more-tables datatable-course-registers no-filter">
											<thead>
												<tr>
													<th width="1%" class="text-center">
														<div class="checkbox check-default">
															<input id="checkbox_all" type="checkbox" value="all" class="checkall">
															<label for="checkbox_all"></label>
														</div>
													</th>
													<th>Student Name</th>
													<th class="text-left">Description</th>
													<!--<th class="text-left">Stock</th>-->
													<!--<th class="text-center">Delivery Status</th>-->
													<th class="text-right">Total</th>
													<th class="text-center">Status</th>
													<th class="text-center">Created On</th>
													<th class="text-center" width="1%">Consultant</th>
													<th class="text-center" width="1%">Status</th>
													<th class="text-right" width="1%">Actions</th>
												</tr>
											</thead>                                        
										</table>
								</div>
							</div>
				
						</div>
				
					</div>
				
				<% end %>
