		<ul class="breadcrumb">
				<li>
				  <p>YOU ARE HERE</p>
				</li>
							<li>
					<%= link_to 'Registration', course_registers_url %>
							</li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
				<h3>Course Register <span class="semi-bold">Detail</span></h3>
      </div>
      

	  
        <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  
                  
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  
                    
                 
                  
                  
                  
					
					 <div class="row column-seperation">
						 <div class="col-md-12">
							  <div class="row">
								   <div class="col-md-4">
										
										<div class="form-group">
										  <label class="form-label"><label>Student</label></label>
										  <span class="help">(required)</span>
										  <div class="input-with-iconz right">
											 <div style="font-size:16px;font-weight:bold"><%= @course_register.contact.display_name %></div>
										  </div>
										</div>
										
								   </div>
							  </div>
						 </div>
					 </div>
					 
					<h3>Course Registration</h3> 
					
					 
					<div class="phrase_box_list">
                          <% number = 0 %>
                          <% @course_register.contacts_courses.each do |cc| %>
							  <div class="row phrase_box phrase_box_<%= number.to_s %> <%= 'hidden'.html_safe if number > 0 %>" rel="<%= number %>">
								   <div class="phrase_box_label">Course #<%= number+1 %></div>

								   <div class="col-md-12">
										<hr />
								   </div>
								   <div class="col-md-12">
										<div class="row column-seperation">
											 <div class="col-md-1">													   
												  <div class="form-group">
													   <label class="form-label">Upfront?</label>
													   <span class="help"></span>
													   <div class="input-with-icon right">                                       
															<strong><%= cc.upfront ? "Yes" : "No" %></strong>
													   </div>
												  </div>									
											 </div>
											 <div class="col-md-2">
												  <div class="form-group">
														<label class="form-label">Course</label>
														<span class="help"></span>
														<div class="input-with-iconz  right">                                       
															 <strong><%= cc.course.name %></strong>
														</div>
												  </div>
											 </div>
                                             <div class="col-md-3">
												  <div class="form-group">
														<label class="form-label">Phrase</label>
														<span class="help"></span>
														<div class="input-with-iconz  right">                                       
															 <%= cc.courses_phrase_list %>
														</div>
												  </div>
											 </div>
                                             <div class="col-md-2">
												  <div class="form-group">
														<label class="form-label">Price</label>
														<span class="help"></span>
														<div class="input-with-iconz  text-right">                                       
															 <strong><%= format_price(cc.price) %></strong>
														</div>
												  </div>
											 </div>
                                             <div class="col-md-2">
												  <div class="form-group">
														<label class="form-label">Discount</label>
														<span class="help"></span>
														<div class="input-with-iconz  text-right">                                       
															 <div><strong><%= format_price(cc.discount) %></strong></div>
                                                             <div><strong><%= format_price(cc.discount_program.display_name) if !cc.discount_program.nil? %></strong></div>
														</div>
												  </div>
											 </div>
                                             <div class="col-md-2">
												  <div class="form-group">
														<label class="form-label">Total</label>
														<span class="help"></span>
														<div class="input-with-iconz text-right">                                       
															 <strong style="font-size: 18px"><%= format_price(cc.total) %></strong>
														</div>
												  </div>
											 </div>
										</div>
										
										
								   </div>
								  
							  </div>
						  
                            <% number += 1 %>
                          <% end %>
						 
						 <hr />
						 
					</div>
					
					<br />
					
					<h3>Stock Registration</h3>
					
					<div class="stock_box_list">
                          <% number = 0 %>
                          <% @course_register.books_contacts.each do |bc| %>
							  <div class="row column-seperation stock_box stock_box_<%= number.to_s %>" rel="<%= number %>">
								   <div class="stock_box_label">Book #<%= number+1 %></div>
								   <div class="col-md-12">
										<hr />
								   </div>
								   <div class="col-md-12">
										<div class="row column-seperation">
                                            <div class="col-md-1" style="margin-top: 5px">
                                              <%= bc.book.cover_link %>
                                            </div>
											 <div class="col-md-2">
												  <div class="form-group">
														<label class="form-label">Book</label>
														<span class="help"></span>
														<div class="input-with-iconz  right">                                       
															 <strong><%= bc.book.name %></strong>
														</div>
												  </div>
											 </div>
                                             <div class="col-md-3">
												  <div class="form-group">
														<label class="form-label">Volumn</label>
														<span class="help"></span>
														<div class="input-with-iconz  right">                                       
															 <strong><%= bc.volumns.map(&:name).join("<br />") %></strong>
														</div>
												  </div>
											 </div>
                                             <div class="col-md-2">
												  <div class="form-group">
														<label class="form-label">Price</label>
														<span class="help"></span>
														<div class="input-with-iconz  text-right">                                       
															 <strong><%= format_price(bc.price) %></strong>
														</div>
												  </div>
											 </div>
                                             <div class="col-md-2">
												  <div class="form-group">
														<label class="form-label">Discount</label>
														<span class="help"></span>
														<div class="input-with-iconz  text-right">                                       
															 <div><strong><%= format_price(bc.discount) %></strong></div>
                                                             <div><strong><%= format_price(bc.discount_program.display_name) if !bc.discount_program.nil? %></strong></div>
														</div>
												  </div>
											 </div>
                                             <div class="col-md-2">
												  <div class="form-group">
														<label class="form-label">Total</label>
														<span class="help"></span>
														<div class="input-with-iconz text-right">                                       
															 <strong style="font-size: 18px"><%= format_price(bc.total) %></strong>
														</div>
												  </div>
											 </div>
										</div>
										
										
								   </div>
							  </div>
                              
							<% number += 1 %>
						 <% end %>
						 
						 <hr />
						 
					</div>
					
					<br />
					
					<h3>Payment Information</h3> 
					
					
					<div class="row">
						 <div class="col-md-12">
							  <div class="row column-seperation">								   
								   <div class="col-md-2">										
										<div class="form-group">
										  <label class="form-label">Receipt Date</label>
										  <span class="help"></span>
										  <div class="input-with-icon  right">                                       
                                                <i class=""></i>
                                                <strong><%= @course_register.created_date.strftime("%d-%b-%Y") %></strong>
										  </div>
										</div>
										
								   </div>							   
								   <div class="col-md-2">										
										<div class="form-group">
											 <label class="form-label">Payment type</label>
											 <span class="help"></span>
											 <div class="input-with-iconz right">                                       
												  <strong><%= @course_register.payment_type %></strong>
											 </div>
										</div>										
								   </div>
								   <div class="col-md-2">													   
										<div class="form-group">
											 <label class="form-label">Bank Account</label>
											 <span class="help"></span>
											 <div class="input-with-icon  right">                                       
												  <i class=""></i>
												  <div class="input-with_add_butz">												   													   
													   <strong><%= @course_register.bank_account.name %></strong>
												  </div>
											 </div>
										</div>					
								   </div>
								   <div class="col-md-2">										
										<div class="form-group">
											 <label class="form-label">Mailing Address</label>
											 <span class="help"></span>
											 <div class="input-with-iconz right">                                       
												 <strong><%= @course_register.mailing_address %></strong>
											 </div>
										</div>										
								   </div>

								   <div class="col-md-2">
										<div class="form-group">
											 <label class="form-label">Discount Program</label>
											 <span class="help"></span>
											 <div class="input-with-iconz right">                                       
												  <strong><%= @course_register.discount_program.display_name if !@course_register.discount_program.nil? %></strong>
											 </div>
										</div>
								   </div>
								   <div class="col-md-2">										
										<div class="form-group">
											 <label class="form-label">Total Price</label>
											 <span class="help"></span>
											 <div class="input-with-icon right">
												  <div class="text-right" style="font-size: 20px;" width="100%"><strong class=""><%= format_price(@course_register.total) %></strong></div>
												 
											 </div>
										</div>										
								   </div>
								   
								   
								   
							  </div>
							  
							  
							  	
						 </div>
					 </div>

			   </div>
			 </div>
            </div>
			
      </div>

