		<ul class="breadcrumb">
				<li>
				  <p>YOU ARE HERE</p>
				</li>
							<li>
					<%= link_to 'Registration', course_registers_url %>
							</li>
      </ul>
      <div class="page-title <%= "draft" if @course_register.draft? %>""> <i class="icon-briefcase"></i>
		  <h3 class="">Registration: <span class="semi-bold"><%= @course_register.contact.name %></span>
		  <br /><%= "Changed at: #{@course_register.created_at.strftime("%d-%b-%Y %I:%M %p")} / By: #{@course_register.user.name}" if @course_register.draft? %>
		  </h3>
		</div>
	  
		<div class="top-buts">
				<%= render_course_register_actions(@course_register, "big") if !@course_register.draft? %>
				<%= render_course_register_history_actions(@course_register) %>
		</div>
		<div>
				<%= @course_register.display_statuses if !@course_register.draft? %>
		</div>
		<br style="clear:both" />
      

	  
        <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  
                  
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  
                    
                 
                  
                  
                  
					
					 <div class="row column-seperation">
						 <div class="col-md-12">
							  <div class="row">
								   <div class="col-md-4">
										
										<div class="form-group">
										  <label class="form-label"><label>Student</label></label>
										  <span class="help">(required)</span>
										  <div class="input-with-iconz right">
											 <div style="font-size:16px;font-weight:bold"><%= @course_register.contact.display_name %></div>
										  </div>
										</div>
										
								   </div>
							  </div>
						 </div>
					 </div>
					 
					
					
						<%= render "show" %>

			   </div>
			 </div>
            </div>
			
      </div>

