       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-title no-border">
                  <h4>Paper <span class="semi-bold">Details</span></h4>
                  
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  <% if @subject.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h5>
                  
                        <ul>
                        <% @subject.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@subject) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
					
					<div class="row column-seperation">
						 <div class="col-md-6">
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :name %></label>
								<span class="help">(required)</span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_field :name, :class => "form-control required" %>
								</div>
							  </div>
							  
							  <div class="form-group">
                                    <label class="form-label"><%= f.label :programs %></label>
                                    <span class="help"></span>
                                    <div class="input-with-icon  right">                                       
                                           <i class=""></i>
                                           <div class="input-with_add_but">
                                                  <%= link_to '<i class="icon-plus"></i>'.html_safe, new_course_type_path(tab_page: 1), title: "New Course Type", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
                                                  <input style="width:100%;margin-bottom: 5px;" name="subject[course_type_ids][]" data="<%= course_types_path(format: "json") %>" class="select2-ajax-course-types multiple" values="<%= @subject.json_encode_course_type_ids_names %>" /> 
                                           </div>
                                    </div>
                               </div>
							  							  
							  
							  
							  
							  
						 </div>
						 <div class="col-md-6">
							  <div class="form-group">
								<label class="form-label"><%= f.label :description %></label>
								<span class="help"></span>
								<div class="input-with-icon  right">                                       
									<i class=""></i>
									  <%= f.text_area :description, :class => "form-control" %>
								</div>
							  </div>
						 </div>
						 
						 
					</div>
						 
					<div class="form-actions">  
						 <div class="pull-right">
						 <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
						  <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
					   </div>
					</div>
							  
						<% end %>
			   </div>
			 </div>
            </div>
			
     </div>


<script>
	 $(document).ready(function() {
		  vs = JSON.parse($('.select2-ajax-course-types').attr('values'))
		  $('.select2-ajax-course-types').select2('data', vs)
	 });
</script>