<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank_account.name %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @bank_account.bank_name %>
</p>

<p>
  <strong>Account name:</strong>
  <%= @bank_account.account_name %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @bank_account.account_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @bank_account.user_id %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
