<% if !drafts.empty? %>
  <i class="icon icon-time contact-field-history" rel="history-<%= type %>" onclick="$('.history-<%= type %>').toggle()"></i>
  <ul class="history-list history-<%= type %>" style="display: none">
    <% drafts.each do |c| %>
      
      <% if ["intake"].include?(type) %>
        <li><%= c.intake.strftime("%b-%Y") %> <span class="nowrap time-span"><%= c.created_at.strftime("%d-%b-%Y, %I:%M %p") %>, by <%= c.user.name if c.user.present? %></span></li>
      <% end %>
      <% if ["lecturer_id"].include?(type) %>
        <li><%= !c.lecturer.present? ? "[empty]" : c.lecturer.display_name %> <span class="nowrap time-span"><%= c.created_at.strftime("%d-%b-%Y, %I:%M %p") %>, by <%= c.user.name if c.user.present? %></span></li>
      <% end %>
      <% if ["program_paper"].include?(type) %>
        <li><%= c.program_paper_name %> <span class="nowrap time-span"><%= c.created_at.strftime("%d-%b-%Y, %I:%M %p") %>, by <%= c.user.name if c.user.present? %></span></li>
      <% end %>
      <% if ["for_exam"].include?(type) %>
        <li><%= c.for_exam_year %>/<%= c.for_exam_month %> <span class="nowrap time-span"><%= c.created_at.strftime("%d-%b-%Y, %I:%M %p") %>, by <%= c.user.name if c.user.present? %></span></li>
      <% end %>
      <% if ["course_price"].include?(type) %>
        <li><%= (c.all_prices.map{|p| "["+format_price(p.amount)+"/"+p.deadline.strftime("%d-%b-%Y")+"]"}).join("; ") %> <span class="nowrap time-span"><%= c.created_at.strftime("%d-%b-%Y, %I:%M %p") %>, by <%= c.user.name if c.user.present? %></span></li>
      <% end %>
      <% if ["phrases"].include?(type) %>
        <li><%= c.courses_phrase_list.html_safe %> <span class="nowrap time-span"><%= c.created_at.strftime("%d-%b-%Y, %I:%M %p") %>, by <%= c.user.name if c.user.present? %></span></li>
      <% end %>
      
    <% end %>
  </ul>
<% end %>