       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-titles no-border">
                  <h4><span class="semi-bold">Course Details</span></h4>
                  
                </div>     
                
                <div class="grid-body no-border">
                  
                  
                  <% if @course.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h5>
                  
                        <ul>
                        <% @course.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@course) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
					
					<div class="row column-seperation">
						 <div class="col-md-7">
                          
                            <div class="row">
                                  <div class="col-md-4">
                                       <div class="form-group">
                                         <label class="form-label"><%= f.label :intake %></label>
                                         <span class="help">(required)</span>
										 <%= render "field_history", drafts: @course.field_history("intake"), type: "intake" %>
                                         <div class="input-with-icon date-group right">                                       
                                              <i class=""></i>
                                              <%= f.date_select :intake, use_short_month: true %>
                                         </div>
                                       </div>
                                  </div>
								  
								  <div class="col-md-4">
										<div class="form-group">
											 <label class="form-label"><label>For Exam</label></label>
											 <span class="help">(required)</span>
											 <%= render "field_history", drafts: @course.field_history("for_exam"), type: "for_exam" %>
											 <div class="date_select_filter date_mbe">
												 <%= select_tag 'course[for_exam_year]', options_for_select(((Time.now.year-10)..(Time.now.year+10)).each { |u| [u, u] }, @course.for_exam_year), class: "modern_select" %>
												 <%= select_tag 'course[for_exam_month]', options_for_select((Course.months_with_CBE.each { |u| [u, u] }), @course.for_exam_month), class: "modern_select_none required" %>
											 </div>
										</div>
								   </div>
								  
								  <div class="col-md-4">
										<div class="form-group">
											 <label class="form-label"><label>Course</label></label>
											 <span class="help">(required)</span>
											 <%= render "field_history", drafts: @course.field_history("program_paper"), type: "program_paper" %>
											 <div class="input-with-icon date-group right">                                       
												  <i class=""></i>
												  <div class="input-with_add_but">
														 <%= link_to '<i class="icon-plus"></i>'.html_safe, new_subject_path(tab_page: 1), title: "New Paper", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
														 <input style="width:100%;margin-bottom: 5px;" name="program_paper" data="<%= course_types_subjects_path(format: "json") %>" class="select2-ajax-course-types-subjects required" value="<%= @course.program_paper_id %>" text="<%= @course.program_paper_name %>" /> 
												  </div>
											 </div>
										</div>
								  </div>
								  
                             </div>
                              
                              
							  <div class="row">
                                  
								  <div class="col-md-5">
                                       <div class="form-group">
										<label class="form-label"><%= f.label :lecturer %></label>
										<span class="help"></span>
										<%= render "field_history", drafts: @course.field_history("lecturer_id"), type: "lecturer_id" %>
										<div class="input-with-icon  right">                                       
											 <i class=""></i>
											 <div class="input-with_add_but">
												  <%= link_to '<i class="icon-plus"></i>'.html_safe, new_contact_path(contact_type_id: ContactType.lecturer.id, tab_page: 1), title: "New Lecturer", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
												  <input style="width:100%;margin-bottom: 5px;" name="course[lecturer_id]" data="<%= contacts_path(format: "json", contact_type_id: ContactType.lecturer.id) %>" class="select2-ajax-contacts" value="<%= @course.lecturer_id %>" text="<%= @course.lecturer.name if !@course.lecturer.nil? %>" />
											 </div>
										</div>
								   </div>	
                                  </div>
								  <div class="col-md-7">
										<div class="form-group">
                                         <label class="form-label"><%= f.label :course_price %></label>
                                         <span class="help">(required)</span>
										 <%= render "field_history", drafts: @course.field_history("course_price"), type: "course_price" %>
                                         <div class="input-with-iconz date-group right">                                       
											 <i class=""></i>
											 <% num = 0 %>
											 <% @course.prices.each do |number| %>
												  <div class="price_line line_<%= number %>">
													   <%= text_field_tag "course_prices[]", number, class: "width100 price_input required" %>
												  </div>
												  <% num += 1 %>
											 <% end %>
											 <% (num..9).each do |number| %>
												  <div class="price_line line_<%= number %>" <%= 'style="display: none"'.html_safe if number > num %>>
													   <%= text_field_tag "course_prices[]", "", class: "width100 price_input required" %>
												  </div>
											 <% end %>
                                         </div>
                                       </div>
								  </div>
							  </div>
								   		
							  
                              
							  
							  
							  
							  
						 </div>
						 
						 <div class="col-md-5">
							  <div class="form-group">
								   <label class="form-label"><%= f.label :phrase %></label>
								   <span class="help"></span>
								   <%= render "field_history", drafts: @course.field_history("phrases"), type: "phrases" %>
								   <% num = 0 %>
								   <% @course.courses_phrases.joins(:phrase).order("phrases.name, courses_phrases.start_at").each do |courses_phrase| %>
										<div class="row phrase_box phrase_box_<%= num %>">
											 <div class="col-md-7">
												  <div class="input-with-icon  right">                                       
													   <i class=""></i>
													   <div class="input-with_add_but">
															<%= link_to '<i class="icon-plus"></i>'.html_safe, new_phrase_path(tab_page: 1), title: "New Phrase", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
															<input style="width:100%;margin-bottom: 5px;" name="courses_phrases[<%= num.to_s %>][phrase_id]" data="<%= phrases_path(format: "json") %>" class="select2-ajax-phrases" value="<%= courses_phrase.phrase.id %>" text="<%= courses_phrase.phrase.name %>" /> 
													   </div>
												  </div>
											 </div>
											 <div class="col-md-4">											 
												  <div class="input-with-icon right">                                       
													   <i class=""></i>
													   <div class="input-append success date col-md-10 no-padding">
														 <%= text_field_tag "courses_phrases["+num.to_s+"][start_at]", courses_phrase.start_at.present? ? courses_phrase.start_at.strftime("%d-%b-%Y") : "", :class => "form-control" %>
														 <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
													   </div>
													   <br style="clear: both" />
												  </div>																 
											 </div>
										</div>
										<% num += 1 %>
								   <% end %>
								   
								   <% (num..50).each do |number| %>
										<div class="row phrase_boxx phrase_box_<%= number %>" <%= 'style="display:none"'.html_safe if number > num %>>
											 <div class="col-md-7">
												  <div class="input-with-icon  right">                                       
													   <i class=""></i>
													   <div class="input-with_add_but">
															<%= link_to '<i class="icon-plus"></i>'.html_safe, new_phrase_path(tab_page: 1), title: "New Phrase", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
															<input style="width:100%;margin-bottom: 5px;" name="courses_phrases[<%= number.to_s %>][phrase_id]" data="<%= phrases_path(format: "json") %>" class="select2-ajax-phrases main_input" values="" /> 
													   </div>
												  </div>
											 </div>
											 <div class="col-md-4">											 
												  <div class="input-with-icon  right">                                       
													   <i class=""></i>
													   <div class="input-append success date col-md-10 no-padding">
														 <%= text_field_tag "courses_phrases["+number.to_s+"][start_at]", "", :class => "form-control" %>
														 <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
													   </div>
													   <br style="clear: both" />
												  </div>																 
											 </div>
										</div>
								   <% end %>
								   
							  </div>
							  
							  
						 </div>
						 
					</div>
						 <% if !@course.draft? %>
							  <div class="form-actions">  
								   <div class="pull-right">
								   <% if !@course.statuses.include?("deleted") %>
										<button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
								   <% end %>
									<%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
								 </div>
							  </div>
						 <% end %>
							  
					<% end %>
			   </div>
			 </div>
            </div>
			
      </div>


