       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-titles no-border">
                  <h4><span class="semi-bold">Course Details</span></h4>
                  
                </div>     
                
                <div class="grid-body no-border">
                  
                  
                  <% if @course.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h5>
                  
                        <ul>
                        <% @course.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@course) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
					
					<div class="row  intake_box column-seperation <%= "draft_form" if @course.draft? %>">
						 <div class="col-md-6">
                          
                            <div class="row">
                                  <div class="col-md-2">
										<div class="form-group" style="margin-bottom: 5px;">
											 <label class="form-label">Upfront?</label>
											 <span class="help"></span>
											 <div class="input-with-icon right">                                       
												  <div class="radio radio-success" style="padding: 5px">
													   <input class="upfront_radio required" id="upfront_true" type="radio" name="course[upfront]" value="true" <%= 'checked="checked"' if @course.upfront %>>
													   <label for="upfront_true">Yes</label>
													   <input class="upfront_radio required" id="upfront_false" type="radio" name="course[upfront]" value="false" <%= 'checked="checked"' if !@course.upfront %>>
													   <label for="upfront_false">No</label>
												  </div>
											 </div>
										</div>                                       
                                  </div>
								  
								  <div class="col-md-5 intake_group">
										<div class="form-group">
											  <label class="form-label"><%= f.label :intake %></label>
											  <span class="help">(required)</span>
											  <%= render "field_history", drafts: @course.field_history("intake"), type: "intake" %>
											  <div class="input-with-icon date-group right">                                       
												  <i class=""></i>
												  <%= f.date_select :intake, use_short_month: true %>
											  </div>
										</div>
										<div class="form-group">
											 <label class="form-label"><label>For Exam</label></label>
											 <span class="help">(required)</span>
											 <%= render "field_history", drafts: @course.field_history("for_exam"), type: "for_exam" %>
											 <div class="date_select_filter date_mbe">
												 <%= select_tag 'course[for_exam_year]', options_for_select(((Time.now.year-10)..(Time.now.year+10)).each { |u| [u, u] }, @course.for_exam_year), class: "modern_select" %>
												 <%= select_tag 'course[for_exam_month]', options_for_select((Course.months_with_CBE.each { |u| [u, u] }), @course.for_exam_month), class: "modern_select_none required" %>
											 </div>
										</div>
								   </div>
								  
								  <div class="col-md-5">
										<div class="form-group">
											 <label class="form-label"><label>Paper</label></label>
											 <span class="help">(required)</span>
											 <%= render "field_history", drafts: @course.field_history("program_paper"), type: "program_paper" %>
											 <div class="input-with-icon right">                                       
												  <i class=""></i>
												  <div class="input-with_add_but">
														 <%= link_to '<i class="icon-plus"></i>'.html_safe, new_subject_path(tab_page: 1), title: "New Paper", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
														 <input course_id="<%= @course.id %>" style="width:100%;margin-bottom: 5px;" name="program_paper" data="<%= course_types_subjects_path(format: "json") %>" class="select2-ajax-course-types-subjects required" value="<%= @course.program_paper_id %>" text="<%= @course.program_paper_name %>" /> 
												  </div>
											 </div>
										</div>
								  </div>
								  
                             </div>
                              
                              
							  <div class="row">
                                  
								  <div class="col-md-5 intake_group">
                                       <div class="form-group">
										<label class="form-label"><%= f.label :lecturer %></label>
										<span class="help"></span>
										<%= render "field_history", drafts: @course.field_history("lecturer_id"), type: "lecturer_id" %>
										<div class="input-with-icon  right">                                       
											 <i class=""></i>
											 <div class="input-with_add_but">
												  <%= link_to '<i class="icon-plus"></i>'.html_safe, new_contact_path(contact_type_id: ContactType.lecturer.id, tab_page: 1), title: "New Lecturer", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
												  <input style="width:100%;margin-bottom: 5px;" name="course[lecturer_id]" data="<%= contacts_path(format: "json", contact_type_id: ContactType.lecturer.id) %>" class="select2-ajax-contacts" value="<%= @course.lecturer_id %>" text="<%= @course.lecturer.name if !@course.lecturer.nil? %>" />
												  
											 </div>
										</div>
								   </div>	
                                  </div>
								  <div class="col-md-7">										
										 <%= render "field_history", drafts: @course.field_history("course_price"), type: "course_price" %>
                                         <div class="input-with-iconz date-group left">                                       
											 <i class=""></i>
											 <% num = 0 %>
											 <% @course.prices.each do |price| %>
												  <div class="price_line line_<%= num %>">
													   <div class="row">
															<div class="col-md-5">
																 <div class="form-group">
																	  <label class="form-label"><%= f.label :price %></label>
																	  <span class="help"><%= (0 == num ? "(required)" : "") %></span>
																	  <div>
																		   <%= text_field_tag "course_prices["+num.to_s+"][amount]", format_price(price.amount), class: "width100 price_input"+(0 == num ? " required" : "") %>
																	  </div>
																 </div>
															</div>
															<div class="col-md-7">
																 <div class="form-group">
																	  <label class="form-label"><%= f.label :deadline %></label>
																	  <span class="help"></span>
																	  <div class="input-with-icon  right">                                       
																		   <i class=""></i>
																		   <div class="input-append success date col-md-10 no-padding">
																				<span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
																			 <%= text_field_tag "course_prices["+num.to_s+"][deadline]", (price.deadline.nil? ? "" : price.deadline.strftime("%d-%b-%Y")), :class => "form-control" %>
																			 
																		   </div>
																		   <br style="clear: both" />
																	  </div>
																 </div>
															</div>
													   </div>
												  </div>
												  <% num += 1 %>
											 <% end %>
											 <% (num..9).each do |number| %>
												  <div class="price_line line_<%= number %>" <%= 'style="display: none"'.html_safe if number > num %>>
													   <div class="row">
															<div class="col-md-5">
																 <div class="form-group">
																	  <label class="form-label"><%= f.label :price %></label>
																	  <span class="help"><%= (0 == number ? "(required)" : "") %></span>
																	  <div>
																		   <%= text_field_tag "course_prices["+number.to_s+"][amount]", "", class: "width100 price_input"+(number == 0 ? " required" : "") %>
																	  </div>
																 </div>
															</div>
															<div class="col-md-7">
																 <div class="form-group">
																	  <label class="form-label"><%= f.label :deadline %></label>
																	  <span class="help"></span>
																	  <div class="input-with-icon  right">                                       
																		   <i class=""></i>
																		   <div class="input-append success date col-md-10 no-padding">
																			 <%= text_field_tag "course_prices["+number.to_s+"][deadline]", "", :class => "form-control" %>
																			 <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
																		   </div>
																		   <br style="clear: both" />
																	  </div>
																 </div>
															</div>
													   </div>
												  </div>
											 <% end %>
                                       </div>
								  </div>
							  </div>
								   		
							  
                              
							  
							  
							  
							  
						 </div>
						 
						 <div class="col-md-6 course-phrases-select intake_group">
							  
							  
							  
						 </div>
						 
					</div>
						 <% if !@course.draft? %>
							  <div class="form-actions">  
								   <div class="pull-right">
								   <% if !@course.statuses.include?("deleted") %>
										<button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
								   <% end %>
									<%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
								 </div>
							  </div>
						 <% end %>
							  
					<% end %>
			   </div>
			 </div>
            </div>
			
      </div>

<script>
	 $(document).ready(function() {
		  renderPhraseSelect("<%= @course.id %>", $("input[name='program_paper']").select2("val"))
	 });
</script>
