					
					
					<div class="form-group">
						<label class="form-label"><label>
							<%= @type == "from" ? "Course Detail" : "Transferred Amount" %>
						</label>
						</label>						
						<span class="help"><%= "(required)" if @type == "to" %></span>
						<div class="input-with-iconz  right">						
								<div class="form-group <%= @type %>_phrase_list_box_hour_money">
									<div class="row">
										<div class="col-md-2">
											<h4 style="margin-top: 0" class="text-right">
												Hour:
											</h4>
										</div>
										<div class="col-md-3">
											<h4 style="margin-top: 0">
												<% if @type == "from" %>
													<strong hour="<%= @hour %>" class="total_phrase_hour"><%= @hour %></strong>
												<% else %>
													<%= text_field_tag "transfer[to_course_hour]", "", class: "form-control price_input price_discount required" %>
												<% end %>
											</h4>
										</div>
										<div class="col-md-2">
											<h4 style="margin-top: 0" class="text-right">
												Money:
											</h4>
										</div>
										<div class="col-md-4">
											<h4 style="margin-top: 0">
												<% if @type == "from" %>
													<strong per_hour="<%= @money/@hour if @hour != "N/A" %>" money="<%= @money %>" class="total_phrase_money"><%= @money == -1 ? "No Price!" : format_price(@money) %></strong>
												<% else %>
													<%= text_field_tag "transfer[to_course_money]", "", class: "form-control price_input price_discount required" %>
												<% end %>
											</h4>
										</div>										
									</div>
									<br />
									
									
									<% if @type == "from" && @remain > 0 %>						
										<div class="row">										
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-label">
														<label>
															<span class="out_of_date">Write Off Amount (Recievable Amount)</span>
														</label>
													</label>
													<h4 style="margin-top: 0">
														<span class="out_of_date"><%= format_price(@remain) %>/<%= format_price(@remain+@money) %> (remain/total)</span>
													</h4>
												</div>
											</div>
										</div>
									<% end %>
									
									
									<div class="input-with-icon right phrase_list_container">
										
										<% if !@course.upfront && !@course.courses_phrases.empty? %>
											<label class="form-label"><label>Phrase List
												<% if @type == "to" %>
													(</strong><span hour="<%= @course.total_hour %>" class="to_total_phrase_hour"><%= @course.total_hour %></span> hours</strong>)
												<% end %>
											</label></label>
											
											<% if @remain == 0 && @full_course == true %>
												<div class="checkbox check-success" style="display: inline-block; margin-bottom: -3px">
														<%= check_box_tag "transfer[full_course]", true, true, {id: "checkbox_full_course", class: "full_course_checkbox"} %>
														<label for="checkbox_full_course" style="margin: 0; font-weight: bold">
															<span>
																   Defer/Transfer Full Course
															</span>
														</label>
												</div>
											<% end %>
											
												
											
											
											<% group_name = "" %>
											<div>
												<% @courses_phrases.each do |courses_phrase| %>													
														<% if group_name != courses_phrase.phrase.name %>
															<% if group_name != "" %><br style="clear: both" /><% end %>
															<% group_name = courses_phrase.phrase.name %>
															
															<h5 style="margin-top: 0;"><strong><%= group_name %></strong></h5>
														<% end %>
	
														<% if @disable[courses_phrase.id] %>
															<div class="row-fluid phrase_checkbox" title="Registered">
																	 <div class="checkbox check-default">
																		 <%= check_box_tag "disabled", courses_phrase.id, false, {id: "checkbox_"+@type+"_"+courses_phrase.id.to_s, class: "courses_phrase_item", hour: CoursesPhrase.find(courses_phrase.id).hour, disabled: "disabled", money: (@type == "to" ? 0 : CoursesPhrase.find(courses_phrase.id).courses_phrase_money(@to_contact, @course)) } %>
																		 <label for="checkbox_<%= @type %>_<%= courses_phrase.id %>">
																			<span>
																				<%= CoursesPhrase.find(courses_phrase.id).display_name if courses_phrase.start_at.present? %>
																				
																			</span>
																		 </label>
																	 </div>
																</div>
														<% else %>
																<div class="row-fluid phrase_checkbox <%= "uncheckable" if @type == "from" && @remain > 0 %>">
																	 <div class="checkbox check-success">
																		 <%= check_box_tag @type+"_courses_phrases[]", courses_phrase.id, true, {id: "checkbox_"+@type+"_"+courses_phrase.id.to_s, class: "courses_phrase_item phrase_checkable", hour: CoursesPhrase.find(courses_phrase.id).hour, money: (@type == "to" ? 0 : CoursesPhrase.find(courses_phrase.id).courses_phrase_money(@to_contact, @course)) } %>
																		
																		 <label for="checkbox_<%= @type %>_<%= courses_phrase.id %>">
																			<span>
																				<%= CoursesPhrase.find(courses_phrase.id).display_name if courses_phrase.start_at.present? %>
																			</span>
																		 </label>
																	 </div>
																</div>
														<% end %>
												<% end %>
												
											</div>
										<% end %>
									</div>
								
								</div>
									
							
						</div>