							<% if !@course.courses_phrases.empty? %>
								<div class="form-group phrase_list_box_hour">
									
									<h4 style="margin-top: 0">
										Total Hour: <strong class="total_phrase_hour"></strong>
									</h4>
								
									<label class="form-label"><label>Phrases List</label></label>
									<div class="input-with-icon right">
									
										<% group_name = "" %>
										<div>
											<% @courses_phrases.each do |courses_phrase| %>
												
													<% if group_name != courses_phrase.phrase.name %>
														<% if group_name != "" %><br style="clear: both" /><% end %>
														<% group_name = courses_phrase.phrase.name %>
														
														<h5 style="margin-top: 0;"><strong><%= group_name %></strong></h5>
													<% end %>

													<% if @disable[courses_phrase.id] %>
														<div class="row-fluid phrase_checkbox" title="Registered">
																 <div class="checkbox check-default">
																	 <%= check_box_tag "disabled", courses_phrase.id, false, {id: "checkbox_"+@type+"_"+courses_phrase.id.to_s, class: "courses_phrase_item", hour: CoursesPhrase.find(courses_phrase.id).hour, disabled: "disabled" } %>
																	 <label for="checkbox_<%= @type %>_<%= courses_phrase.id %>">
																		<span>
																			<%= CoursesPhrase.find(courses_phrase.id).display_name if courses_phrase.start_at.present? %>
																		</span>
																	 </label>
																 </div>
															</div>
													<% else %>
															<div class="row-fluid phrase_checkbox">
																 <div class="checkbox check-success">
																	 <%= check_box_tag @type+"_courses_phrases[]", courses_phrase.id, true, {id: "checkbox_"+@type+"_"+courses_phrase.id.to_s, class: "courses_phrase_item", hour: CoursesPhrase.find(courses_phrase.id).hour } %>
																	 <label for="checkbox_<%= @type %>_<%= courses_phrase.id %>">
																		<span>
																			<%= CoursesPhrase.find(courses_phrase.id).display_name if courses_phrase.start_at.present? %>
																		</span>
																	 </label>
																 </div>
															</div>
													<% end %>
											<% end %>
											
										</div>
									</div>
								
								</div>
									
							<% end %>