<div class="row">
     <div class="col-md-5">
          <div class="form-group">
            <label class="form-label"><label>Price</label></label>
            <span class="help"></span>
            <div class="input-with-icon  right">                                       
                 <i class=""></i>
                 <div class="input-with-iconz right">
                      <select name="contacts_courses[<%= params[:number].to_s %>][price]" class="text-right modern_select width100 required price_course">
                              <% @course.prices.each do |price| %>
                                  <option value="<%= price.amount %>" class="text-right"><%= format_price(price.amount) %></option>
                              <% end %>
                              <option value="no_price" class="text-right">No Price</option>
                      </select>
                 </div>
            </div>
          </div>	                                                                                                                          
     </div>
     <div class="col-md-7 no_price_group">
          <div class="form-group">
                <label class="form-label"><label>Total</label></label>
                <span class="help"></span>
                <div class="input-with-iconz right">                                       
                    <h4 class="text-right" style="margin: 0">
                         <strong class="total_course total_course_<%= params[:number] %>"></strong>
                         
                    </h4>
                    <input type="text" value="<%= params[:number] %>" name="total_course" style="color: #fff;height: 1px;border: none;background: none;padding: 0;margin-top: -20px;" />
                </div>
          </div>
     </div>
</div>
<div class="row no_price_group">
     <div class="col-md-12">
          <div class="form-group">
                <label class="form-label"><label>Discount Program</label></label>
                <span class="help"></span>
                <div class="input-with-icon right">                                       
                         <i class=""></i>
                         
                         <% (0..9).each do |number| %>
                              <div class="row discount_program_box phrase_boxx"  <%= 'style="display: none"'.html_safe if number > 0 %>>
                                   <div class="col-md-6">                                   
                                        <div class="input-with_add_but">
                                          <%= link_to '<i class="icon-plus"></i>'.html_safe, new_discount_program_path(tab_page: 1), title: "New Discount Program", :class => 'btn btn-sm btn-small btn-white tab_page' %>                                          
                                          <%= select_tag "contacts_courses["+params[:number].to_s+"][discount_programs]["+number.to_s+"][id]", options_for_select(DiscountProgram.active_discount_programs(@course.course_type_id).collect { |dp| [dp.display_name, dp.id] }), {:include_blank => 'None', class: "modern_select width100 main_input price_discount_program"} %>
                                        </div>
                                   </div>
                                   <div class="col-md-6">
                                        <div class="input-with-icon right">                                       
                                             <div class="radio radio-success" style="">
                                                  <input class="required discount_program_type" id="discount_program_<%= params[:number].to_s %>_<%= number.to_s %>_true" type="radio" name="contacts_courses[<%= params[:number].to_s %>][discount_programs][<%= number.to_s %>][discount_program_type]" value="list_price" checked>
                                                  <label for="discount_program_<%= params[:number].to_s %>_<%= number.to_s %>_true">List price</label>
                                                  <input class="required discount_program_type" id="discount_program_<%= params[:number].to_s %>_<%= number.to_s %>_false" type="radio" name="contacts_courses[<%= params[:number].to_s %>][discount_programs][<%= number.to_s %>][discount_program_type]" value="reducing_balance">
                                                  <label for="discount_program_<%= params[:number].to_s %>_<%= number.to_s %>_false">Reducing balance</label>
                                             </div>
                                        </div>
                                   </div>
                              </div>
                         <% end %>
                              
                </div>
          </div>
     </div>
</div>
<div class="row no_price_group">
     <div class="col-md-12">
          <div class="form-group">
               <div class="row">
                    <div class="col-md-6">
                         <label class="form-label"><label>Other discount</label></label>
                    </div>
                    <div class="col-md-6">
                         <label class="form-label"><label>Description</label></label>
                    </div>
               </div>
                <span class="help"></span>
                
               <% (0..9).each do |number| %>
                    <div class="row other_discount_box phrase_boxx" <%= 'style="display: none"'.html_safe if number > 0 %>>
                         <div class="col-md-6">              
                              <div class="input-with-iconz right">                                       
                                  <%= text_field_tag "contacts_courses["+params[:number].to_s+"][other_discounts]["+number.to_s+"][amount]", "", class: "form-control price_input main_input price_other_discount" %>
                              </div>
                         </div>
                         <div class="col-md-6">
                              <div class="input-with-iconz right">                                       
                                  <%= text_field_tag "contacts_courses["+params[:number].to_s+"][other_discounts]["+number.to_s+"][description]", "", class: "form-control" %>
                              </div>
                         </div>
                    </div>
               <% end %>
          </div>
     </div>
     
</div>
          
<div class="transfer_form">
     <h5><strong>Transfer Hour/Money</strong></h5>
     <div class="row no_price_group column-seperation">
          <div class="col-md-6 transfer_hour_form_<%= @course.course_type_id %>-<%= @course.subject_id %>">
               <div class="row">
                    <div class="col-md-8">
                         <div class="form-group">
                              <label class="form-label"><label>Hour</label></label>
                              <div class="input-with-iconz right">                                       
                                   <%= text_field_tag "contacts_courses["+params[:number].to_s+"][hour]", "", class: "form-control price_input input_budget_hour input_budget_hour_"+@course.course_type_id.to_s+"-"+@course.subject_id.to_s, rel: @course.course_type_id.to_s+"-"+@course.subject_id.to_s %>
                              </div>
                         </div>
                         <div class="form-group">
                              <label class="form-label"><label>Additional Money</label></label>
                              <div class="input-with-iconz right">                                       
                                   <%= text_field_tag "contacts_courses["+params[:number].to_s+"][additional_money]", "", class: "form-control price_input" %>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4">
                         <div class="form-group">
                              <label class="form-label"><label>Remain</label></label>
                              <div class="input-with-iconz text-right">                                       
                                   <strong class="item_budget_hour_<%= @course.course_type_id %>-<%= @course.subject_id %>">0</strong>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <div class="col-md-6 transfer_money_form">
               <div class="row">
                    <div class="col-md-8">
                         <div class="form-group">
                              <label class="form-label"><label>Money</label></label>
                              <div class="input-with-iconz right">                                       
                                   <%= text_field_tag "contacts_courses["+params[:number].to_s+"][money]", "", class: "form-control price_input input_budget_money" %>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-4">
                         <div class="form-group">
                              <label class="form-label"><label>Remain</label></label>
                              <div class="input-with-iconz text-right">
                                   
                                   <strong class="item_budget_money">0</strong>
                              </div>
                         </div>
                    </div>
               </div>
               
          </div>
     </div>
</div>
    