		<% if !@phrases.empty? %>
                                
                                <div class="form-group">
									<h4 style="margin-top: 0">Total Hour: <strong class="total_phrase_hour"><%= @course.total_hour %></strong></h4>
									<div class="row">
										<div class="col-md-4">
												<label class="form-label"><label>Phrase</label></label>
										</div>
										<div class="col-md-5">
												<label class="form-label"><label>Date</label></label>
										</div>
										<div class="col-md-3">
												<label class="form-label"><label>Hour</label></label>
										</div>
									</div>
								   <span class="help"></span>
								   <%= render "field_history", drafts: @course.field_history("phrases"), type: "phrases" %>
								   <% num = 0 %>
								   <% @course.courses_phrases.joins(:phrase).order("phrases.name, courses_phrases.start_at").each do |courses_phrase| %>
										<div class="row phrase_boxx phrase_box_<%= num %>">
											 <div class="col-md-4">
												  <div class="input-with-icon  right">                                       
													   <i class=""></i>
													   <div class="input-with_add_but">
															<%= link_to '<i class="icon-plus"></i>'.html_safe, new_phrase_path(tab_page: 1), title: "New Phrase", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
															<%= select_tag "courses_phrases["+num.to_s+"][phrase_id]", options_for_select(@phrases.collect { |p| [p.name, p.id] }, courses_phrase.phrase.id), {:include_blank => '', class: "modern_select main_input width100"} %>
													   </div>
												  </div>
											 </div>
											 <div class="col-md-5">											 
												  <div class="input-with-icon right">                                       
													   <i class=""></i>
													   <div class="input-append success date col-md-10 no-padding">
														 <%= text_field_tag "courses_phrases["+num.to_s+"][start_at]", courses_phrase.start_at.present? ? courses_phrase.start_at.strftime("%d-%b-%Y") : "", :class => "form-control" %>
														 <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
													   </div>
													   <br style="clear: both" />
												  </div>																 
											 </div>
											 <div class="col-md-3">											 
												  <div class="input-with-iconz right">                                       
													   <i class=""></i>
													   <div class="">
														 <%= text_field_tag "courses_phrases["+num.to_s+"][hour]", courses_phrase.hour.present? ? courses_phrase.hour : "", :class => "form-control number_input phrase_hour" %>
														 
													   </div>
													   <br style="clear: both" />
												  </div>																 
											 </div>
										</div>
										<% num += 1 %>
								   <% end %>
								   
								   <% (num..50).each do |number| %>
										<div class="row phrase_boxx phrase_box_<%= number %>" <%= 'style="display:none"'.html_safe if number > num %>>
											 <div class="col-md-4">
												  <div class="input-with-icon  right">                                       
													   <i class=""></i>
													   <div class="input-with_add_but">
															<%= link_to '<i class="icon-plus"></i>'.html_safe, new_phrase_path(tab_page: 1), title: "New Phrase", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>															
                                                            <%= select_tag "courses_phrases["+number.to_s+"][phrase_id]", options_for_select(@phrases.collect { |p| [p.name, p.id] }), {include_blank: 'None', class: "modern_select main_input width100"} %>
													   </div>
												  </div>
											 </div>
											 <div class="col-md-5">											 
												  <div class="input-with-icon  right">                                       
													   <i class=""></i>
													   <div class="input-append success date col-md-10 no-padding">
														 <%= text_field_tag "courses_phrases["+number.to_s+"][start_at]", "", :class => "form-control" %>
														 <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
													   </div>
													   <br style="clear: both" />
												  </div>																 
											 </div>
											 <div class="col-md-3">											 
												  <div class="input-with-iconz right">                                       
													   <i class=""></i>
													   <div class="">
														 <%= text_field_tag "courses_phrases["+number.to_s+"][hour]", "", :class => "form-control number_input phrase_hour" %>
														 
													   </div>
													   <br style="clear: both" />
												  </div>																 
											 </div>
										</div>
								   <% end %>
								   
							  </div>
                              
<% end %>