                     <div class="row">
							<div class="col-md-8">
								 <div class="form-group">
									  <label class="form-label"><label>Contact</label></label>
									  <span class="help">(required)</span>							   
									  <div class="input-with-icon  right">                                       
										   <i class=""></i>
										   <div class="input-with_add_but">
												<%= link_to '<i class="icon-plus"></i>'.html_safe, new_contact_path(contact_type_id: ContactType.lecturer.id, tab_page: 1), title: "New Lecturer", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
												<input style="width:100%;margin-bottom: 5px;" name="transfer[to_contact_id]" data="<%= contacts_path(is_individual: "true", format: "json") %>" class="select2-ajax-contacts" value="<%= @transfer.to_contact_id %>" text="<%= @transfer.to_contact.display_name %>" />
										   </div>
									  </div>
								 </div>
							</div>
							<div class="col-md-4">
								 <div class="form-group">
									  <label class="form-label"><label>Type</label></label>
									  <span class="help">(required)</span>
									  <div class="input-with-icon  right">
										   <select name="transfer[to_type]" class="modern_select required width100">
												 <option value="">None</option>
												 <% if @remain == 0 %><option value="course">Course</option><% end %>
												 <% if @remain == 0 %><option value="hour">Hour</option><% end %>
												 <option value="money">Money</option>
										   </select>
									  </div>
								 </div>
							</div>
					 </div>
					 <div class="row transfer_type_box transfer_type_box_course" style="display:none">
							<div class="col-md-12 transfer_course_box to_course_box" type="">
								   <div class="form-group">
										 <label class="form-label"><label>Course</label></label>
										 <span class="help">(required)</span>
										 <div class="input-with-icon  right">                                       
											  <i class=""></i>
											  <div class="input-with_add_but">
												   <%= link_to '<i class="icon-plus"></i>'.html_safe, new_course_path(tab_page: 1), title: "New Course", :class => 'btn btn-sm btn-small btn-white tab_page' %>
												   <%= select_tag 'transfer[to_course_id]', options_for_select(@transfer.all_to_courses.collect{ |u| [u.name, u.id] }), {include_blank: "None", class: "modern_select course_select width100 to_course required"} %>
											  </div>
										 </div>
								   </div>
										 
								   <div class="course_phrases_list"></div>
							  
							</div>
					 </div>
					 <div class="row transfer_type_box transfer_type_box_hour" style="display:none">
							  <div class="col-md-6 to_hour_box">
								   <div class="form-group">
										 <label class="form-label"><label>Hour</label></label>
										 <span class="help">(required)</span>
										 <div class="input-with-iconz right">                                       
											  <i class=""></i>
											   <div class="input-with_add_butz">
												 <%= text_field_tag "transfer[hour]", "", class: "form-control price_input required" %>
											   </div>
										 </div>
								   </div>
								   
							  </div>
								   <div class="col-md-6 to_hour_box">
										  <div class="form-group">
												<label class="form-label"><label>Equating Money</label></label>
												<span class="help">(required)</span>
												<div class="input-with-iconz right">                                       
													 <i class=""></i>
													  <div class="input-with_add_butz">
														<%= text_field_tag "transfer[hour_money]", "", class: "form-control price_input required" %>
													  </div>
												</div>
										  </div>
								   </div>
					 </div>
					 <div class="row transfer_type_box transfer_type_box_money" style="display:none">
							  <div class="col-md-12 to_money_box">
								   <div class="form-group">
										 <label class="form-label"><label>Money</label></label>
										 <span class="help">(required)</span>
										 <div class="input-with-iconz right">                                       
											  <i class=""></i>
											   <div class="input-with_add_butz">
												 <%= text_field_tag "transfer[money]", "", class: "form-control price_input price_discount required" %>
											   </div>
										 </div>
								   </div>
								   
							  </div>
					 </div>