       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-titles no-border">
                  <h4>Transfer <span class="semi-bold">Course</span></h4>
                  
                </div>     
                
                <div class="grid-body no-border transfer_course_from">
                  <%= form_for(@transfer) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
					<%= f.hidden_field :contact_id %>
					
					<div class="row column-seperation">
						 <div class="col-md-6">
                            <h3>From</h3>           
                            

                            <div class="form-group">
                               <label class="form-label"><label>Contact</label></label>
                               <span class="help"></span>
                               <div class="input-with-icon right">
								   <div class="input-with_add_but">
										<%= link_to '<i class="icon-plus"></i>'.html_safe, new_contact_path(contact_type_id: ContactType.lecturer.id, tab_page: 1), title: "New Lecturer", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
										<input disabled="disabled" style="width:100%;margin-bottom: 5px;" name="transfer[contact_id]" data="<%= contacts_path(is_individual: "true", format: "json") %>" class="select2-ajax-contacts" value="<%= @transfer.contact_id %>" text="<%= @transfer.contact.display_name %>" />
								   </div>
                               </div>
                            </div>
							
							<div class="form-group transfer_course_box">
								   <div class="form-group">
											<label class="form-label"><%= f.label :course %></label>
											<span class="help">(required)</span>
											<div class="input-with-icon  right">                                       
												 <i class=""></i>
												 <div class="input-with_add_but">
													  <%= link_to '<i class="icon-plus"></i>'.html_safe, new_course_path(tab_page: 1), title: "New Course", :class => 'btn btn-sm btn-small btn-white tab_page' %>
													  <%= select_tag 'transfer[course_id]', options_for_select(@transfer.contact.active_courses_with_phrases.collect{ |u| [u[:course].name, u[:course].id] }, @transfer.course.id), {include_blank: "None", contact_id: @transfer.contact_id, class: "modern_select course_select required width100 from_course"} %>
												 </div>
											</div>
								   </div>
								   
								   <div class="course_phrases_list"></div>
	
							</div>
                           
						 </div>
						 <div class="col-md-6">
							  <h3>To</h3>
							  
							  <div class="row">
								   <div class="col-md-8">
										<div class="form-group">
											 <label class="form-label"><%= f.label :contact %></label>
											 <span class="help">(required)</span>							   
											 <div class="input-with-icon  right">                                       
												  <i class=""></i>
												  <div class="input-with_add_but">
													   <%= link_to '<i class="icon-plus"></i>'.html_safe, new_contact_path(contact_type_id: ContactType.lecturer.id, tab_page: 1), title: "New Lecturer", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
													   <input style="width:100%;margin-bottom: 5px;" name="transfer[to_contact_id]" data="<%= contacts_path(is_individual: "true", format: "json") %>" class="select2-ajax-contacts" value="<%= @transfer.contact_id %>" text="<%= @transfer.contact.display_name %>" />
												  </div>
											 </div>
										</div>
								   </div>
								   <div class="col-md-4">
										<div class="form-group">
											 <label class="form-label"><label>Type</label></label>
											 <span class="help">(required)</span>
											 <div class="input-with-icon  right">
												  <select name="transfer[to_type]" class="modern_select required width100">
													   <option value="">None</option>
													   <option value="course">Course</option>
													   <option value="hour">Hour</option>
													   <option value="money">Money</option>
												  </select>
											 </div>
										</div>
								   </div>
							  </div>
							  
							  <div class="transfer_to_box">
						 
							  
						 
							  </div>
						 
						 </div>
					</div>
					
					<hr />
					
					<div class="row">
						 <div class="col-md-6">
							  <h3>Admin Fee</h3>
							  <div class="form-group">
                                    <label class="form-label"><label>Amount</label></label>
                                    <span class="help">(required)</span>
                                    <div class="input-with-iconz right">                                       
                                         <i class=""></i>
                                          <div class="input-with_add_butz">
                                            <%= f.text_field "admin_fee", class: "form-control price_input price_discount required" %>
                                          </div>
                                    </div>
							  </div>
							  
						 </div>
					</div>
					
					
					
					
					<div class="row">
						 
					</div>
					
                      <div class="form-actions">  
                           <div class="pull-right">
                              <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>

                            <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
                         </div>
                      </div>

							  
					<% end %>
			   </div>
			 </div>
            </div>
			
      </div>

<script>
	 $(document).ready(function() {
		  jQuery.validator.addMethod("valid_transfer", function(value, element) {
			   var to_course = "";
			   if($("select[name='transfer[to_course_id]']").length) {
				 to_course = $("select[name='transfer[to_course_id]']").val();
			   }
			   var to_hour = ""
			   if($("input[name='transfer[hour]']").length) {
				 to_hour = $("input[name='transfer[hour]']").val();
			   }
			   var to_money = ""
			   if($("input[name='transfer[money]']").length) {
				 to_money = $("input[name='transfer[money]']").val();
			   }
			   return to_course != "" || to_hour != "" || to_money != "";
		  }, "Unvalid transfer details. Please check the details below.");

		  $("input[name='transfer[admin_fee]']").rules('add', {
			   valid_transfer: true
		  });
	 });
</script>
