<%= form_for(@book_price) do |f| %>
  <% if @book_price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_price.errors.count, "error") %> prohibited this book_price from being saved:</h2>

      <ul>
      <% @book_price.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.number_field :book_id %>
  </div>
  <div class="field">
    <%= f.label :prices %><br>
    <%= f.text_area :prices %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
