       <div class="row">
            <div class="col-md-12">
              <div class="grid simple">
                <div class="grid-titlea no-border">
                  <h4><span class="semi-bold">Seminar Details</span></h4>
                  
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                  <% if @seminar.errors.any? %>
                    <div class="alert alert-error">
                      <button data-dismiss="alert" class="close"></button>
                      <div id="error_explanation">
                        <h5><%= pluralize(@seminar.errors.count, "error") %> prohibited this seminar from being saved:</h5>
                  
                        <ul>
                        <% @seminar.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                        </ul>
                      </div>
                    </div>
                  <% end %>
                    
                 
                  
                  
                  <%= form_for(@seminar) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
					
					<div class="row">
						 <div class="col-md-6">
                            
                            <div class="form-group">
                                  <label class="form-label"><%= f.label :title %></label>
                                  <span class="help">(required)</span>
								  <%= render "field_history", drafts: @seminar.field_history("name"), type: "name" %>
                                  <div class="input-with-icon  right">                                       
                                    <i class=""></i>
                                    <%= f.text_field :name, :class => "form-control required" %>
                                  </div>
                            </div>
                            
                            
                         <div class="row">
							  <div class="col-md-12">
								   <%= render "field_history", drafts: @seminar.field_history("start_at"), type: "start_at" %>
							  </div>
						 </div>
						 <div class="row">
                               <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label"><%= f.label :start_date %></label>
                                        <span class="help"></span>
										
                                        <div class="input-with-icon  right">                                       
                                              <i class=""></i>
                                              <div class="input-append success date col-md-10 no-padding">
                                                <%= text_field_tag :start_date, @start_date, :class => "form-control" %>
                                                <span class="add-on"><span class="arrow"></span><i class="icon-th"></i></span>
                                              </div>
                                              <br style="clear: both" />
                                         </div>
                                    </div>
                                    
                                    
                               </div>
                              <div class="col-md-6">
                                
                                  <div class="form-group">
                                        <label class="form-label"><%= f.label :start_time %></label>
                                        <span class="help"></span>
										
                                        <div class="controls">
                                          <div class="input-append bootstrap-timepicker-component">
                                            <%= text_field_tag :start_time, @start_time, :class => "timepicker-default span12" %>
                                            <span class="add-on"><span class="arrow"></span><i class="icon-time"></i></span> </div>
                                        </div>                                
                                    </div>
                                
                              </div>
                            </div>
                            
							  
						 </div>
						 
						 <div class="col-md-6">
							
							  <div class="form-group">
								   <label class="form-label"><label>Program</label></label>
								   <span class="help">(required)</span>
								   <%= render "field_history", drafts: @seminar.field_history("course_type_id"), type: "course_type_id" %>
								   <div class="input-with-icon date-group right">                                       
										  <i class=""></i>
										  <div class="input-with_add_but">
												 <%= link_to '<i class="icon-plus"></i>'.html_safe, new_course_type_path(tab_page: 1), title: "New Program", :class => 'btn btn-sm btn-small btn-white add-agent-button tab_page' %>
												 <input style="width:100%;margin-bottom: 5px;" name="seminar[course_type_id]" data="<%= course_types_path(format: "json") %>" class="select2-ajax-course-types required" value="<%= @seminar.course_type_id %>" text="<%= @seminar.course_type.short_name if !@seminar.course_type.nil? %>" /> 
										  </div>																					
									
								   </div>
							  </div>
							
                            <div class="form-group">
                                  <label class="form-label"><%= f.label :description %></label>
                                  <span class="help"></span>
								  <%= render "field_history", drafts: @seminar.field_history("description"), type: "description" %>
                                  <div class="input-with-icon  right">                                       
                                    <i class=""></i>
                                    <%= f.text_area :description, :class => "form-control" %>
                                  </div>
                            </div>
                              
						 </div>
						 
						 
					</div>
						 
					<div class="form-actions">  
						 <div class="pull-right">
						 <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
						  <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
					   </div>
					</div>
							  
						<% end %>
			   </div>
			 </div>
            </div>
			
      </div>


