<ul class="breadcrumb">
        <li>
          <p>YOU ARE HERE</p>
        </li>
                    <li>
			<%= link_to 'Seminar Management', seminars_url %>
                    </li>
      </ul>
      <div class="page-title"> <i class="icon-edit"></i>
        <h3>Import List - <span class="semi-bold"><%= @seminar.name %></span></h3>
      </div>
      
		
		<% if !@list.nil? %>
			<%= form_for(@seminar, url: do_import_list_seminars_path, html: { multipart: true }) do |f| %>
				<%= hidden_field_tag("tab_page", 1) %>
				<%= hidden_field_tag("id", @seminar.id) %>
				<div class="row">
						<div class="col-md-12">								
								<h4><span class="semi-bold">Statistic</span></h4>
										
								<p><strong>Total: <span class="new_imported"><%= @list[:total] %></span></strong></p>
								<p><strong>New Imported: <span class="new_imported"><%= @list[:new_count] %></span></strong></p>
								<p><strong>Old Imported: <span class="new_imported"><%= @list[:old_count] %></span></strong></p>
								<p><strong>Not Sure: <span class="price_outdated"><%= @list[:waiting_count] %></span></strong></p>
								<br />
								
								
								<div class="row">
										<div class="col-md-6">
												<h4>Default Education Consultant</h4>
												<div class="">
													<%= select_tag 'user', options_for_select(User.main_users.collect{ |u| [u.name, u.id] }, @default_ec) , {:include_blank => 'None', class: "modern_select width100 required"} %>
												</div>
												<br />
										</div>
								</div>
								
								<h4><span class="semi-bold">Listing Result</span></h4>
								<table class="table seminar_import_box">
										<tr>
												<th>Name</th>
												<th>Company</th>
												<th>Mobile</th>
												<th>Email</th>
												<th>Background</th>
												<th class="text-center">Present?</th>
												<th class="text-center">Status</th>
												<th class="text-right" width="1%">Actions</th>
												<th class="text-left" width="1%">
														<!--<div class="checkbox check-default">
																<input checked="checked" id="checkbox_all" type="checkbox" value="all" class="checkall">
																<label for="checkbox_all"></label>
														</div>-->
												</th>
										</tr>
										<% @list[:list].each_with_index do |row,index| %>
												<tr class=" raw_rol row_<%= row[:status] %> main_row seminar_import_row seminar_group seminar_group_<%= index %>">
														<td>
																<%= text_area_tag "rows["+index.to_s+"][name]", row[:name], class: "form-control" %>
														</td>
														<td>
																<%= text_area_tag "rows["+index.to_s+"][company]", row[:company], class: "form-control" %>
														</td>
														<td>
																<%= text_area_tag "rows["+index.to_s+"][mobile]", row[:mobiles].join(";"), class: "form-control" %>
														</td>
														<td>
																<%= text_area_tag "rows["+index.to_s+"][email]", row[:emails].join(";"), class: "form-control" %>
														</td>
														<td>
																<%= text_area_tag "rows["+index.to_s+"][note]", row[:background], class: "form-control" %>
														</td>
														<td class="text-center">
																<% if row[:present].present? %>
																		<a class="check-radio ajax-check-radio" href="#"><i class="true icon-check"></i></a>
																<% else %>
																		<a class="check-radio ajax-check-radio" href="#"><i class="false icon-check-empty"></i></a>
																<% end %>
																<%= hidden_field_tag "rows["+index.to_s+"][present]", row[:present].present?, class: "form-control" %>
														</td>
														<td class="text-center">
																<% if ["not_sure"].include?(row[:status]) %>
																		<span class="<%= row[:status] %>">Not Sure</span>
																<% end %>
																<% if ["new_imported"].include?(row[:status]) %>
																		<span class="<%= row[:status] %>">New</span>
																<% end %>
														</td>
														<td>
																
														</td>
														<td>
															<% if !["old_imported"].include?(row[:status]) %>
																		<div class="checkbox check-success pull-right">
																			<input <%= 'checked=checked' if row[:contacts].empty? %> group="<%= index %>" name="rows[<%= index %>][check]" id="checkbox_<%= index %>" type="checkbox" value="true" class="checkall">
																			<label for="checkbox_<%= index %>"></label>
																		</div>																	
															<% end %>
														</td>
														
												</tr>
												<tr class="row_<%= row[:status] %>">
														<td colspan="5" align="right">
																Change Default Education Consultant:
														</td>
														<td colspan="4">
																<%= select_tag "rows["+index.to_s+"][ec]", options_for_select(User.main_users.collect{ |u| [u.name, u.id] }) , {:include_blank => 'Default Education Consultant', class: "modern_select width100"} %>
														</td>
												</tr>
												<% row[:contacts].each do |contact| %>
														
													<% if true %>
															<tr class="dark_row row_<%= row[:status] %> seminar_group seminar_group_<%= index %>" >
																	<td>
																			<i class="icon-long-arrow-right"></i> <%= contact.contact_link %>
																			<%= hidden_field_tag "contacts["+contact.id.to_s+"][id]", contact.id, class: "form-control" %>
																	</td>
																	<td>
																			<%= contact.referrer_link %>																		
																	</td>
																	<td>
																		<% contact.all_mobiles.each do |m| %>
																				<div>
																						<span class="<%= "label_color_green" if row[:mobiles].include?(m) %>">
																								<%= m %>
																						</span>
																				</div>
																		<% end %>
																	</td>
																	<td>
																		<% contact.all_emails.each do |m| %>
																				<div>
																						<span class="<%= "label_color_green" if row[:emails].include?(m) %>">
																								<%= m %>
																						</span>
																				</div>
																		<% end %>
																	</td>
																	<td>
																				<%= contact.display_note %>
																		</td>
																	<td class="text-center">
																		<% if row[:present].present? %>
																			<a class="check-radio ajax-check-radio" href="#"><i class="true icon-check"></i></a>
																		<% else %>
																				<a class="check-radio ajax-check-radio" href="#"><i class="false icon-check-empty"></i></a>
																		<% end %>
																		<%= hidden_field_tag "contacts["+contact.id.to_s+"][present]", row[:present].present?, class: "form-control" %>
																			<!--<% if row[:selected_id] == contact.id && ["new_imported","old_imported"].include?(row[:status]) %>
																					<a class="check-radio ajax-check-radio" href="#"><i class="true icon-check"></i></a>
																			<% elsif ["new_imported","old_imported"].include?(row[:status]) %>
																					<a class="check-radio ajax-check-radio" href="#"><i class="false icon-check-empty"></i></a>
																			<% end %>-->
																	</td>
																	<td class="text-center">
																			<%= "<span class=\"#{row[:status]}\">Existing</span>".html_safe if contact.seminars.include?(@seminar) %>
																	</td>
																	<td class="text-center">

																				<%= contact.contact_link("<span class=\"btn btn-mini btn-primary\">Update Info</span>".html_safe) %>

																	</td>
																	<td>
																		<% if !["new_imported"].include?(row[:status]) && !contact.seminars.include?(@seminar) %>
																			<div class="checkbox check-success pull-right">
																				<input <%= 'checked=checked' if !contact.seminars.include?(@seminar) && row[:selected_id] == contact.id %> group="<%= index %>" name="contacts[<%= contact.id %>][check]" id="checkbox_c_<%= index %>_<%= contact.id %>" type="checkbox" value="true" class="checkall">
																				<label for="checkbox_c_<%= index %>_<%= contact.id %>"></label>
																			</div>
																		<% end %>
																	</td>
															</tr>
													<% end %>
												<% end %>
												
										<% end %>
								</table>
								
								<!--<div class="form-actions">  
										<div class="pull-right">
										<button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Save</button>
										 <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
									  </div>
								</div>-->
								
						</div>
						<div class="form-actions">  
							<div class="pull-right">
							<button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Import</button>
							 <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
						  </div>
					   </div>
				</div>
				
							  
			<% end %>
				
		<% end %>
		
	  
        <div class="row">
            <div class="col-md-6">
              <div class="grid simple">
                <div class="grid-titlez no-border">
                  <h4>Upload <span class="semi-bold">List</span></h4>
                  
                </div>     
                
                
                
                
                <div class="grid-body no-border">
                  
                  
                               
                  
                  
                  <%= form_for(@seminar, url: import_list_seminars_path, html: { multipart: true }) do |f| %>
					
					<%= hidden_field_tag("tab_page", 1) if params[:tab_page] %>
					<%= hidden_field_tag("id", @seminar.id) %>
					
					<div class="row column-seperation">
						 <div class="col-md-12">
							  
							  <div class="form-group">
								<label class="form-label"><%= f.label :file %></label>
								<span class="help">(required)</span>
								<div class="input-with-icon nice right">                                       
									<i class=""></i>
									<%= file_field_tag :file, class: "required width100" %>
								</div>
							  </div>
							  
							  							  
							  
							  
							  
							  
						 </div>
						 
						 
						 
					</div>
						 
					<div class="form-actions">  
						 <div class="pull-right">
						 <button type="submit" class="btn btn-success btn-cons"><i class="icon-ok"></i> Upload</button>
						  <%= link_to 'Cancel', users_path, :class => "btn btn-white btn-cons cancel-but" %>
					   </div>
					</div>
							  
						<% end %>
			   </div>
			 </div>
            </div>
			
		</div>
		
		
			  
