<script>
	
	function updateStockPriceForm(input) {
		
		var url = "<%= stock_price_form_books_path %>"
		var book_id = input.select2("val")
		var number = input.attr("box_number")
		var full_url = url+'?id='+book_id+'&number='+number
		var box = $('.form_stock_price_'+number)
		
		if (book_id == "") {
			box.html("")
			return
		}
		
		$.ajax({
			url : full_url,
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{
				box.html(data)
				box.find(".modern_select").select2()
				
				//ajax select2 for contacts		
				box.find('.select2-ajax-discount-programs').select2({
					placeholder: "Search for a discount program",
					minimumInputLength: 1,
					allowClear: true,
					multiple: $('.select2-ajax-discount-programs').hasClass("multiple"),
					ajax: {
					  url: $('.select2-ajax-discount-programs').attr("data"),
					  dataType: 'json',
					  data: function (term, page) { // page is the one-based page number tracked by Select2
						return {
						  q: term, //search term
						};
					  },
					  results: function (data, page) {
						return {results: data};
					  }
					},
					initSelection: function (element, callback) {				      
					  callback({ id: element.val(), text: element.attr('text') });
					}
				});
				
				format_price(box.find('input.price_input'))
				
				calculateStockPriceForm()
			}
		});
	}
	
	function updateVolumnForm(input) {
		
		var url = "<%= volumn_checkboxs_books_path %>"
		var book_id = input.select2("val")
		var number = input.attr("box_number")
		var full_url = url+'?id='+book_id+'&number='+number
		var box = $('.form_volumn_list_'+number)
		
		if (book_id == "") {
			box.html("")
			return
		}
		
		$.ajax({
			url : full_url,
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{
				box.html(data)
			}
		});
	}
	
	function updateBookForm(program, subject, number) {
		var url = "<%= stock_select_books_path %>"
		var program_id = ""
		var subject_id = ""
		
		if (program && program.val() != "") {
			program_id = program.val()
		}		
		if (subject && subject.val() != "") {
			subject_id = subject.val()
		}
		
		var full_url = url+'?program_id='+program_id+'&subject_id='+subject_id+'&number='+number
		var box = $('.form_stock_list_'+number)
		
		$.ajax({
			url : full_url,
			type: "GET",
			success: function(data, textStatus, jqXHR)
			{
				box.html(data)
				box.find(".modern_select").select2()
			}
		});
	}
	
	function updateTotalRegistration() {
		$(total_registration_price)
	}
	
	function calculateStockPriceForm() {
		var total = 0
		var total_list =  0
		var total_program = 0
		var total_discount = 0
		var count = 0
		$('.stock_box_list .stock_box').each(function() {	
			var number = $(this).attr("rel")
			var box = $(this)
			if (!$(this).hasClass("hidden") && box.find('input[name="contacts_courses['+number+'][course_id]"]').val() != "") {
				
				var line_total = 0
				var price = 0
				var price_discount_program = 0
				var price_discount = 0
        
				if(box.find('select[name="books_contacts['+number+'][price]"]').length) {
				  price = parseFloat(box.find('select[name="books_contacts['+number+'][price]"]').val())
				}        
				if(box.find('input[name="books_contacts['+number+'][discount]"]').length && box.find('input[name="books_contacts['+number+'][discount]"]').val() != "") {
				  price_discount = parseFloat(box.find('input[name="books_contacts['+number+'][discount]"]').val().replace(/,/g,""))
				}       
				if(box.find('input[name="books_contacts['+number+'][discount_program_id]"]').length && box.find('input[name="books_contacts['+number+'][discount_program_id]"]').val() != "") {
				  var text = box.find('input[name="books_contacts['+number+'][discount_program_id]"]').select2("data").text
				  var dd_v = parseFloat(text.split("[")[1].split("]")[0].split(" ")[0].replace(/,/g,""))
				  var pp_type = text.split("[")[1].split("]")[0].split(" ")[1]
				  price_discount_program = parseFloat(box.find('input[name="books_contacts['+number+'][discount_program_id]"]').select2("data").text.split("[")[1].split("]")[0].replace(/,/g,""))
				  
				  if(pp_type=="%") {
					price_discount_program = (price_discount_program/100)*price
				  }
				}
				
				line_total = price - price_discount - price_discount_program
				
				box.find(".total_stock").html(ReplaceNumberWithDots(line_total.toFixed(0)))
				
				
				total = total + line_total
				total_list = total_list + price
				total_program = total_program + price_discount_program
				total_discount = total_discount + price_discount
				
				count = count + 1
			}
			
		})
		$(".total_stock_price").html(ReplaceNumberWithDots(total.toFixed(0)))
		$(".total_stock_list_price").html(ReplaceNumberWithDots(total_list.toFixed(0)))
		$(".total_stock_discount_program_price").html(ReplaceNumberWithDots(total_program.toFixed(0)))
		$(".total_stock_other_discount_price").html(ReplaceNumberWithDots(total_discount.toFixed(0)))
		$(".total_stock_count").html(count)
		
		updateTotalRegsitrationPrice()
		return total
	}
	
	function updateTotalRegsitrationPrice() {
		
		if ($(".total_course_price").length == 0) {
			return false
		}
		
		var course = parseFloat($(".total_course_price").html().replace(/,/g,""))
		var stock = parseFloat($(".total_stock_price").html().replace(/,/g,""))
		var price_discount_program = 0
		var price_discount = 0
		
		if($('input[name="course_register[discount_program_id]"]').length && $('input[name="course_register[discount_program_id]"]').val() != "") {
			var text = $('input[name="course_register[discount_program_id]"]').select2("data").text
			var dd_v = parseFloat(text.split("[")[1].split("]")[0].split(" ")[0].replace(/,/g,""))
			var pp_type = text.split("[")[1].split("]")[0].split(" ")[1]
			price_discount_program = parseFloat($('input[name="course_register[discount_program_id]"]').select2("data").text.split("[")[1].split("]")[0].replace(/,/g,""))
			
			if(pp_type=="%") {
				price_discount_program = (price_discount_program/100)*(course + stock)
			}
		}
		
		if($('input[name="course_register[discount]"]').length && $('input[name="course_register[discount]"]').val() != "") {
			price_discount = parseFloat($('input[name="course_register[discount]"]').val().replace(/,/g,""))
		}
		
		var total = course + stock - price_discount_program - price_discount
		
		$(".total_registration_discount_program").html(ReplaceNumberWithDots(price_discount_program.toFixed(0)))
		$(".total_registration_discount").html(ReplaceNumberWithDots(price_discount.toFixed(0)))
		$(".total_registration_price").html(ReplaceNumberWithDots(total.toFixed(0)))
		
		
	}
	
	function calculateCoursePriceForm() {
		var total = 0
		var total_list =  0
		var total_program = 0
		var total_discount = 0
		var count = 0
		
		$('.phrase_box_list .phrase_box').each(function() {	
			var number = $(this).attr("rel")
			var box = $(this)
			if (!$(this).hasClass("hidden") && box.find('input[name="contacts_courses['+number+'][course_id]"]').val() != "") {
				
				var line_total = 0
				var price = 0
				var price_discount_program = 0
				var price_discount = 0
        
				if(box.find('select[name="contacts_courses['+number+'][price]"]').length) {
				  price = parseFloat(box.find('select[name="contacts_courses['+number+'][price]"]').val())
				}        
				if(box.find('input[name="contacts_courses['+number+'][discount]"]').length && box.find('input[name="contacts_courses['+number+'][discount]"]').val() != "") {
				  price_discount = parseFloat(box.find('input[name="contacts_courses['+number+'][discount]"]').val().replace(/,/g,""))
				}       
				if(box.find('input[name="contacts_courses['+number+'][discount_program_id]"]').length && box.find('input[name="contacts_courses['+number+'][discount_program_id]"]').val() != "") {
				  var text = box.find('input[name="contacts_courses['+number+'][discount_program_id]"]').select2("data").text
				  var dd_v = parseFloat(text.split("[")[1].split("]")[0].split(" ")[0].replace(/,/g,""))
				  var pp_type = text.split("[")[1].split("]")[0].split(" ")[1]
				  price_discount_program = parseFloat(box.find('input[name="contacts_courses['+number+'][discount_program_id]"]').select2("data").text.split("[")[1].split("]")[0].replace(/,/g,""))
				  
				  if(pp_type=="%") {
					price_discount_program = (price_discount_program/100)*price
				  }
				}
				
				line_total = price - price_discount - price_discount_program
				total_list = total_list + price
				total_program = total_program + price_discount_program
				total_discount = total_discount + price_discount
				
				box.find(".total_course").html(ReplaceNumberWithDots(line_total.toFixed(0)))
				
				
				total = total + line_total
				count = count + 1
			}
			
			
		})
		$(".total_course_price").html(ReplaceNumberWithDots(total.toFixed(0)))
		$(".total_course_list_price").html(ReplaceNumberWithDots(total_list.toFixed(0)))
		$(".total_course_discount_program_price").html(ReplaceNumberWithDots(total_program.toFixed(0)))
		$(".total_course_other_discount_price").html(ReplaceNumberWithDots(total_discount.toFixed(0)))
		$(".total_course_count").html(count)
		updateTotalRegsitrationPrice()
		return total
	}
	
	function updateCoursePriceForm(input) {
		var url = "<%= course_price_select_courses_path %>"
		var course_id = input.val()
		var number = input.attr("box_number")
		var full_url = url+'?id='+course_id+'&number='+number
		var box = $('.registration_course_price_box_'+number)
		
		if (course_id == "") {
			box.html("")
			return
		}
		
		$.ajax({
			url : full_url,
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{
				box.html(data)
				box.find(".modern_select").select2()
				
				//ajax select2 for contacts		
				box.find('.select2-ajax-discount-programs').select2({
					placeholder: "Search for a discount program",
					minimumInputLength: 1,
					allowClear: true,
					multiple: $('.select2-ajax-discount-programs').hasClass("multiple"),
					ajax: {
					  url: $('.select2-ajax-discount-programs').attr("data"),
					  dataType: 'json',
					  data: function (term, page) { // page is the one-based page number tracked by Select2
						return {
						  q: term, //search term
						};
					  },
					  results: function (data, page) {
						return {results: data};
					  }
					},
					initSelection: function (element, callback) {				      
					  callback({ id: element.val(), text: element.attr('text') });
					}
				});
				
				format_price(box.find('input.price_input'));
				
				calculateCoursePriceForm()
			}
		});
	}
	
	function updateCoursePhraseForm(input) {
		var url = "<%= courses_phrases_checkboxs_courses_path %>"
		var course_id = input.val()
		var number = input.attr("box_number")
		var full_url = url+'?id='+course_id+'&number='+number
		var box = $('.registration_phrase_box_'+number)
		
		if (course_id == "") {
			box.html("")
			return
		}
		
		$.ajax({
			url : full_url,
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{
				box.html(data)
			}
		});
	}
	
	function toggleLinePrice() {
		$('.line_price').each(function() {
			
		})
	}
	
	function updateProgramsBox() {
		var types = $('input[name="contact[contact_type_ids][]"]:checked').map(function(){
			return $(this).val();
		}).get();

		$('.programs_box').hide()
		
		$('.programs_box').each(function() {
			$(this).select2("val","")
		})
		
		types.forEach(function(a){
		  $('.programs_box_'+a).show()
		});
	}
	
	function changeMailingPreferred(input) {		
		if (input.val() == "company" && $('input[name="contact[referrer_id]"]').val() == "") {
			alert("Must choose company first!")
			input.select2("val", 'home');
		}
		
		if (input.val() == "company" || input.val() == "home" || input.val() == "ftms") {
			$('.mailing_address_box').hide()
			$('.mailing_address_box').val("")
		} else {
			$('.mailing_address_box').show()
		}
	}
	
	function changeComanyTrigger(input) {
		if (input.val() == "") {
			$('select[name="contact[payment_type]"]').select2("val","self-financed")
			if ($('select[name="contact[preferred_mailing]"]').val() == "company") {
				$('select[name="contact[preferred_mailing]"]').select2("val", 'home');
			}
		}
	}
	
	function updateSeminarContactsCount() {
		var total = $('.datatable-seminar-students').dataTable().fnSettings().fnRecordsTotal()				
		$('.seminar_students_count').html(total)
	}
	
	function removeContactToSeminar(seminar_id, contact_ids) {		
		$.ajax({
			url : '<%= remove_contacts_seminars_path %>?id='+seminar_id+'&contact_ids='+contact_ids.join(","),
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{
				$('.datatable-seminar-students').dataTable().fnFilter();
				clearListCheck()
				
			}
		});
	}
	
	function addContactToSeminar(seminar_id, contact_ids) {		
		$.ajax({
			url : '<%= add_contacts_seminars_path %>?id='+seminar_id+'&contact_ids='+contact_ids.join(","),
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{
				$('.datatable-seminar-students').dataTable().fnFilter();
				clearListCheck()
				$('input[name="contacts"]').select2("val","")
			}
		});
	}
	
	var related_info_input
	function checkRelatedInfo(input) {
		var url = input.attr("rel")
		var value = input.val()
		var box = input.parent().find(".related_info_box")
		var msg = input.parent().find(".related_info_msg")
			
		if(typeof(related_info_input) != "undefined") {
			related_info_input.abort()
		}			
		related_info_input = $.ajax({
			url : url,
			type: "GET",
			data: "value="+value,
			success:function(data, textStatus, jqXHR)
			{
				if(data.trim() != "") {
					box.html(data)
					box.show()
					msg.show()
					input.addClass("has_related_info")
				} else {
					box.hide()
					msg.hide()
					input.removeClass("has_related_info")
				}
			}
		});
	}
	
	function clearListCheck() {
		$('.listing_form table input[type="checkbox"]').attr("checked",false);
		$('.check_all_page').attr("checked",false);
		
		$('.listing_form table tr').removeClass("row_selected")
		
		$('.listing_box_actions .listing_checked_count').html("0")
	}
	
	function allListCheck() {		
		$('.check_all_page').attr("checked",true);
		$('.listing_form table input[type="checkbox"]').attr("checked",true);
		$('.listing_form table tr').addClass("row_selected")
		
		var total = $('.dataTable ').dataTable().fnSettings().fnRecordsTotal()
		
		$('.listing_box_actions .listing_checked_count').html(total)
	}
	
	function updateSubjectsFilterBox() {
		var box = $('.subjects-filter-box')
		var program_val = ""
		if ($('select[name="filter[course_types[]]"]').val() != null) {
			program_val = $('select[name="filter[course_types[]]"]').val().join(",")
		}
		$.ajax({
			url : '<%= ajax_quick_info_contacts_path %>?id='+cid,
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{
				box.html(data);
			}
		});
	}
	
	function ajaxQuickContactInfo(cid,box) {		
		if (typeof(cid) == "undefined" || typeof(box) == "undefined") {
			return
		}
		
		if (cid == "") {
			box.html("")
			return
		}
		$.ajax({
			url : '<%= ajax_quick_info_contacts_path %>?id='+cid,
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{
				box.html(data);
			}
		});
	}
	
	function updateContactTag(c_id, t_id) {
		$.ajax({
			url : '<%= update_tag_contacts_path %>?id='+c_id+'&tag_id='+t_id,
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{
				
				$('.contact_tag_box[rel="'+c_id+'"]').html(data);
			}
		});
	}
	
	function checkContactType() {
		if($('input[name="contact[is_individual]"]:checked').val() == "true" || $('select[name="is_individual"]').val() == "true") {
			$(".personal-box").show();
			$(".company-box").hide();
		} else {
			$(".personal-box").hide();
			$(".company-box").show();
		}
	}
	
	function checkInvoiceRequired() {
		if($('.invoice_required:checked').val() == "true") {
			$(".invoice-info-box").show();
		} else {
			$(".invoice-info-box").hide();
		}
	}
	
	function reloadTab(tid, force) {
		if (typeof(force) == "undefined") {
			force = false
		}
		
		//if ($(".main-frame").length && !force) {
		//	$(".main-frame")[0].contentWindow.reloadDatatable()
		//} else {
			$('iframe#'+tid).attr("src",$('iframe#'+tid).attr("src"))
		//}		
	}
	function closeTab(tid) {
		//open parent		
		var pname = $("#main-tab li.active a").attr("pname")
		var psrc = $("#main-tab li.active a").attr("psrc")
		
		if (typeof(pname) != 'undefined') {
		  openTab(psrc,pname)
		}
		
		//close current
		var active = $('#main-tab a[rel="'+tid+'"]').parent().hasClass("active")		
        $('#main-tab a[rel="'+tid+'"]').parent().remove()
		$('.tab-content div#'+tid).remove()
		
		if(active) {
          $('#main-tab li:last-child a').tab('show')
        }
        
        $(document).scrollTop(0);
		
		clearInterval(tabs[tid])
	}
	var tabs = Array()
	function openTab(tsrc, tname, psrc, pname) {
		if (typeof(tname) == 'undefined' || tname == 'undefined') {
			tname = $('a[href="'+tsrc+'"]').html().trim();
		}
		
		var tid = "tab_"+tname.replace(/\s/g, "_").replace(/[^a-zA-Z0-9\_]/g, "").toLowerCase();
		
		if($('a[tsrc="'+tsrc+'"]').length == 0) {
			
			var parent = ""
			if (psrc) {
				parent = ' psrc="'+psrc+'" pname="'+pname+'" '
			}
			
		  $('#main-tab').append('<li class=""><a tsrc="'+tsrc+'" tname="'+tname+'" '+parent+' rel="'+tid+'" href="#'+tid+'">'+tname+'<i class="but but-reload icon-refresh"></i><i class="but but-del icon-remove-sign"></i></a></li>')
		  $('.tab-content').append('<div id="'+tid+'" class="tab-pane"><iframe class="main-frame" id="'+tid+'" seamless="seamless" scrolling="yes" src="'+tsrc+'"></iframe></div>')
			$('#main-tab a').click(function (e) {
				  e.preventDefault();
				  $(this).tab('show');
			});
		  $('#main-tab a[rel="'+tid+'"]').tab('show')
			tabs[tid] = resizeIframe(tid)
		  
			$('#main-tab a[rel="'+tid+'"]').parent().find(".but-del").click(function (e) {
                closeTab(tid)
			});
			$('#main-tab a[rel="'+tid+'"]').parent().find(".but-reload").click(function (e) {
                reloadTab(tid, true)
			});
			
			

			$('iframe#'+tid).load(function(){
				$(document).scrollTop(0);
			});


		} else {
		  $('#main-tab a[rel="'+tid+'"]').tab('show')
		  
		  reloadTab(tid)
		}
		$(document).scrollTop(0);
		if($(window).width() <= 750 && $('.page-sidebar').css("display") == "block") {
			$('#main-menu-toggle').trigger("click");
		}
	}
	
	function resizeIframe(tid) {
		
		var obj = $('iframe#'+tid)
		var lastHeight = 0, curHeight = 0, $frame = obj;
		iid = setInterval(function(){
		  curHeight = $frame.contents().find('body').height();
		  if ( curHeight != lastHeight ) {
			$frame.css('height', ((lastHeight = curHeight)+85) + 'px' );
		  }
		},500);
		
		return iid
    }
	
	function readURL(input, image) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();	
			reader.onload = function (e) {
				image.attr('src', e.target.result);
			}	
			reader.readAsDataURL(input.files[0]);
		}
	}
	
	function updateBoxesOrder() {
		var ord = 1
		$('.image-boxes .image-box').each(function() {
			$(this).find(".display_order").val(ord)
			ord++
		})
	}
	
	function uploaderBoxes() {
		$('.image-boxes .image-box a').click(function(e) {
			e.preventDefault();
			$(this).parent().find("input[type='file']").trigger("click")
		})		
		$('.image-boxes .image-box input[type="file"]').change(function() {
			img = $(this).parents('.image-box').find("img.new_picture")
			icon = $(this).parents('.image-box').find(".current_img")
			del_icon = $(this).parents('.image-box').find(".delete-but")
			readURL(this, img);
			img.removeClass("hidden");
			icon.addClass("hidden");
			del_icon.removeClass("hidden");
			
			$(this).parents('.image-box').find(".destroy_tag").val("")
		});
		$('.image-boxes .image-box .delete-but').click(function(e) {
			img = $(this).parents('.image-box').find("img.new_picture")
			icon = $(this).parents('.image-box').find(".current_img")
			$(this).parent().find("input[type='file']").val("")
			img.addClass("hidden");
			icon.removeClass("hidden");
			
			$(this).parents('.image-box').find(".current_image_pic").addClass("hidden");
			$(this).parents('.image-box').find(".current_image_icon").removeClass("hidden");
			
			$(this).addClass("hidden");
			
			$(this).parents('.image-box').find(".destroy_tag").val(1)
		})
	}
	
	function format_price(element) {
		element.inputmask("decimal", { radixPoint: ".", autoGroup: true, groupSeparator: ",", digits: 2, groupSize: 3 });
	}
	
	function show_city_select_tag() {
		state = ""
		if($('#state_id').length > 0) {
			state = "?state_id="+$('#state_id').val()
		}
		$.ajax({
			url : '<%= select_tag_cities_url %>'+state,
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{		    
				$(".city_select_box").html(data);
				$(".city_select_tag").select2();
			}
		});
	}
	
	function read_notification() {
		$.ajax({
			url : '<%= read_notification_notifications_url %>',
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{		    
				//update_notification();
			}
		});
	}
	
	function update_notification() {
		$.ajax({
			url : '<%= update_notification_notifications_url %>',
			type: "GET",
			success:function(data, textStatus, jqXHR)
			{		    
				$('.top_notification').html(data);				
				$('.notification_count').html($('<div>').html(data).find('.notification_count').html().trim());
			}
		});
	}	
    
    function ReplaceNumberWithDots(yourNumber) {
		yourNumber = yourNumber.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		return yourNumber
    }
    
      
      
    $(document).ready(function() {
  
		////TABLES
		//Too Small for new file - Helps the to tick all options in the table 
		$('table .checkbox input').click( function() {			
			if($(this).is(':checked')){			
				$(this).parent().parent().parent().toggleClass('row_selected');					
			}
			else{	
			$(this).parent().parent().parent().toggleClass('row_selected');		
			}
		});
		// Demo charts - not required 
		$('.customer-sparkline').each(function () {	
			$(this).sparkline('html', { type:$(this).attr("data-sparkline-type"), barColor:$(this).attr("data-sparkline-color") , enableTagOptions: true });	
		});
	
		//Multiselect for all
		$(".multi_select").select2();
		$(".modern_select").select2({
			allowClear: true,
			placeholder: "All"
		});
		$(".datetime select").select2();
	
		//filter table
		$('table').not('.no-filter').filterTable();
	
		//prevent submit while submitting form
		$('.btn-submitting').live("click", function(e){ e.preventDefault(); });
	
	    //format typping price
	    //$('input.price_input').number( true, 2 );
		format_price($('input.price_input'));
	    
	    //show order
	    //action for add agent button
	    $('.ajax_iframe').fancybox({
		    width: "100%",
		    height: "100%",
		    autoSize: false,
		    ajax: {
			complete: function(jqXHR, textStatus) {
			    //$(".ajax_outer .modern_select").select2();
			}
		    }
	    });
	    
	    //NICE FILE INPUT
	    $("input[type=file]").nicefileinput();
	    
	    //Datatable products
	    $('.datatable-users').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_users_path %>",
				"data": function ( d ) {
					
				}
			},
			"columnDefs": [ { "targets": [0,2,4], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable contacts
	    $('.datatable-contacts').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_contacts_path %>",
				"data": function ( d ) {
					var types = $(".contact-filter .contact_types input:checkbox:checked").map(function(){
						return $(this).val();
					}).get();
					
					if($(".contact-filter select[name=is_individual]").select2("val") == "true") {						
						d.contact_types = types;
					}
					
					d.is_individual = $(".contact-filter select[name=is_individual]").select2("val");
					
					if($(".contact-filter select[name='tags[]'").val()) {
						d.tags = $(".contact-filter select[name='tags[]'").val()
					}
					
					if($(".contact-filter select[name='course_types[]']").val()) {
						d.course_types = $(".contact-filter select[name='course_types[]']").val()
					}
					
					if($(".contact-filter select[name='subjects[]']").val()) {
						d.subjects = $(".contact-filter select[name='subjects[]']").val()
					}
					
					if($(".contact-filter select[name='filter[intake(2i)]']").val()) {
						d.intake_month =  $(".contact-filter select[name='filter[intake(2i)]']").val()
					}
					
					if($(".contact-filter select[name='filter[intake(1i)]']").val()) {
						d.intake_year =  $(".contact-filter select[name='filter[intake(1i)]']").val()
					}
					
					if($(".contact-filter input[name='courses']").val()) {
						d.courses =  $(".contact-filter input[name='courses']").val()
					}
					
					if($(".contact-filter input[name='seminars']").val()) {
						d.seminars =  $(".contact-filter input[name='seminars']").val()
					}
					
					if($(".contact-filter input[name='courses_phrases']").val()) {
						d.courses_phrases =  $(".contact-filter input[name='courses_phrases']").val()
					}
				}
			},
			"columnDefs": [ { "targets": [0,1,3,4,5,6,7,8,9], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable contacts
	    $('.datatable-seminar-students').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= seminar_students_contacts_path %>",
				"data": function ( d ) {
					var types = $(".contact-filter .contact_types input:checkbox:checked").map(function(){
						return $(this).val();
					}).get();
					
					if($(".contact-filter select[name=is_individual]").select2("val") == "true") {						
						d.contact_types = types;
					}
					
					d.is_individual = $(".contact-filter select[name=is_individual]").select2("val");
					
					if($(".contact-filter select[name='tags[]'").val()) {
						d.tags = $(".contact-filter select[name='tags[]'").val()
					}
					
					if($(".contact-filter select[name='course_types[]']").val()) {
						d.course_types = $(".contact-filter select[name='course_types[]']").val()
					}
					
					if($(".contact-filter select[name='subjects[]']").val()) {
						d.subjects = $(".contact-filter select[name='subjects[]']").val()
					}
					
					if($(".contact-filter select[name='filter[intake(2i)]']").val()) {
						d.intake_month =  $(".contact-filter select[name='filter[intake(2i)]']").val()
					}
					
					if($(".contact-filter select[name='filter[intake(1i)]']").val()) {
						d.intake_year =  $(".contact-filter select[name='filter[intake(1i)]']").val()
					}
					
					if($(".contact-filter input[name='courses']").val()) {
						d.courses =  $(".contact-filter input[name='courses']").val()
					}
					
					if($(".contact-filter input[name='seminars']").val()) {
						d.seminars =  $(".contact-filter input[name='seminars']").val()
					}
					
					if($(".contact-filter input[name='courses_phrases']").val()) {
						d.courses_phrases =  $(".contact-filter input[name='courses_phrases']").val()
					}
				}				
			},
			"columnDefs": [ { "targets": [0,1,3,4,5,6,7,8], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25,
			"fnDrawCallback": function () {
				updateSeminarContactsCount()
			}
	    });
		
		//Datatable contacts
	    $('.datatable-course-students').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= course_students_contacts_path %>",
				"data": function ( d ) {
					var types = $(".contact-filter .contact_types input:checkbox:checked").map(function(){
						return $(this).val();
					}).get();
					
					if($(".contact-filter select[name=is_individual]").select2("val") == "true") {						
						d.contact_types = types;
					}
					
					d.is_individual = $(".contact-filter select[name=is_individual]").select2("val");
					
					if($(".contact-filter select[name='tags[]'").val()) {
						d.tags = $(".contact-filter select[name='tags[]'").val()
					}
					
					if($(".contact-filter select[name='course_types[]']").val()) {
						d.course_types = $(".contact-filter select[name='course_types[]']").val()
					}
					
					if($(".contact-filter select[name='subjects[]']").val()) {
						d.subjects = $(".contact-filter select[name='subjects[]']").val()
					}
					
					if($(".contact-filter select[name='filter[intake(2i)]']").val()) {
						d.intake_month =  $(".contact-filter select[name='filter[intake(2i)]']").val()
					}
					
					if($(".contact-filter select[name='filter[intake(1i)]']").val()) {
						d.intake_year =  $(".contact-filter select[name='filter[intake(1i)]']").val()
					}
					
					if($(".contact-filter input[name='courses']").val()) {
						d.courses = $(".contact-filter input[name='courses']").val()
					}
					
					if($(".contact-filter input[name='seminars']").val()) {
						d.seminars =  $(".contact-filter input[name='seminars']").val()
					}
					
					if($(".contact-filter input[name='courses_phrases']").val()) {
						d.courses_phrases =  $(".contact-filter input[name='courses_phrases']").val()
					}
				}
			},
			"columnDefs": [ { "targets": [0,1,3,4,5,6,7,8], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		
		//Datatable course types
	    $('.datatable-course-types').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_course_types_path %>",
				"data": function ( d ) {
					
				}
			},
			"columnDefs": [ { "targets": [3,4], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable subjects
	    $('.datatable-subjects').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_subjects_path %>",
				"data": function ( d ) {
					d.course_types = $("select[name='filter[course_types[]]']").val()
				}
			},
			"columnDefs": [ { "targets": [1,3,4], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable courses
	    $('.datatable-courses').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_courses_path %>",
				"data": function ( d ) {
					d.intake_month =  $(".course-filter select[name='filter[intake(2i)]']").val(),
					d.intake_year =  $(".course-filter select[name='filter[intake(1i)]']").val(),
					d.course_types = $(".course-filter select[name='filter[course_types[]]']").val()
					d.subjects = $(".course-filter select[name='filter[subjects[]]']").val()
					d.students = $(".course-filter input[name='filter[students[]]']").val()
					d.lecturers = $(".course-filter input[name='filter[lecturers[]]']").val()
				}
			},
			"columnDefs": [ { "targets": [2,3,4,5,7,8], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable courses
	    $('.datatable-student-courses').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= student_courses_courses_path %>",
				"data": function ( d ) {
					d.intake_month =  $(".course-filter select[name='filter[intake(2i)]']").val(),
					d.intake_year =  $(".course-filter select[name='filter[intake(1i)]']").val(),
					d.course_types = $(".course-filter select[name='filter[course_types[]]']").val()
					d.subjects = $(".course-filter select[name='filter[subjects[]]']").val()
					d.students = $(".course-filter input[name='filter[students[]]']").val()
					d.lecturers = $(".course-filter input[name='filter[lecturers[]]']").val()
				}
			},
			"columnDefs": [ { "targets": [2,3,5], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable books
	    $('.datatable-books').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_books_path %>",
				"data": function ( d ) {
					d.program_id = $(".book-filter select[name='filter[course_types[]]']").val()
					d.subject_id = $(".book-filter select[name='filter[subjects[]]']").val()
					
					if($(".book-filter input[name='student']").val()) {
						d.student =  $(".book-filter input[name='student']").val()
					}
				}
			},
			"columnDefs": [ { "targets": [0,2,3,4,6,7,9,10], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable books
	    $('.datatable-student-books').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= student_books_books_path %>",
				"data": function ( d ) {
					d.program_id = $(".book-filter select[name='filter[course_types[]]']").val()
					d.subject_id = $(".book-filter select[name='filter[subjects[]]']").val()
					
					if($(".book-filter input[name='student']").val()) {
						d.student =  $(".book-filter input[name='student']").val()
					}
				}
			},
			"columnDefs": [ { "targets": [0,1,2,3,4,5,6,7,8,9], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable courses
	    $('.datatable-contact-tags').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_contact_tags_path %>",
				"data": function ( d ) {
					
				}
			},
			"columnDefs": [ { "targets": [1,2,3], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
	    
		//Datatable seminars
	    $('.datatable-seminars').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_seminars_path %>",
				"data": function ( d ) {
					d.course_types = $("select[name='filter[course_types[]]']").val()
				}
			},
			"columnDefs": [ { "targets": [1,2,3,5], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable subjects
	    $('.datatable-phrases').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_phrases_path %>",
				"data": function ( d ) {
					d.subjects = $("select[name='filter[subjects[]]']").val()
					d.course_types = $("select[name='filter[course_types[]]']").val()
				}
			},
			"columnDefs": [ { "targets": [1,2,4,5], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable subjects
	    $('.datatable-bank-accounts').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_bank_accounts_path %>",
				"data": function ( d ) {
					
				}
			},
			"columnDefs": [ { "targets": [1,2,3,5,6], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable subjects
	    $('.datatable-course-registers').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_course_registers_path %>",
				"data": function ( d ) {
					if($(".course-register-filter select[name='course_types[]']").val()) {
						d.course_types = $(".course-register-filter select[name='course_types[]']").val()
					}
					
					if($(".course-register-filter select[name='subjects[]']").val()) {
						d.subjects = $(".course-register-filter select[name='subjects[]']").val()
					}
					
					if($(".course-register-filter select[name='filter[intake(2i)]']").val()) {
						d.intake_month =  $(".course-register-filter select[name='filter[intake(2i)]']").val()
					}
					
					if($(".course-register-filter select[name='filter[intake(1i)]']").val()) {
						d.intake_year =  $(".course-register-filter select[name='filter[intake(1i)]']").val()
					}
					
					if($(".course-register-filter input[name='courses']").val()) {
						d.courses =  $(".course-register-filter input[name='courses']").val()
					}
					
					if($(".course-register-filter input[name='courses_phrases']").val()) {
						d.courses_phrases =  $(".course-register-filter input[name='courses_phrases']").val()
					}
					
					if($(".course-register-filter input[name='student']").val()) {
						d.student =  $(".course-register-filter input[name='student']").val()
					}
					
					d.delivery_statuses = $(".course-register-filter select[name='delivery_statuses']").val()
					d.payment_statuses = $(".course-register-filter select[name='payment_statuses']").val()
				}
			},
			"columnDefs": [ { "targets": [0,1,2,3,4,5,6,7], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable subjects
	    $('.datatable-student-course-registers').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= student_course_registers_course_registers_path %>",
				"data": function ( d ) {
					if($(".course-register-filter select[name='course_types[]']").val()) {
						d.course_types = $(".course-register-filter select[name='course_types[]']").val()
					}
					
					if($(".course-register-filter select[name='subjects[]']").val()) {
						d.subjects = $(".course-register-filter select[name='subjects[]']").val()
					}
					
					if($(".course-register-filter select[name='filter[intake(2i)]']").val()) {
						d.intake_month =  $(".course-register-filter select[name='filter[intake(2i)]']").val()
					}
					
					if($(".course-register-filter select[name='filter[intake(1i)]']").val()) {
						d.intake_year =  $(".course-register-filter select[name='filter[intake(1i)]']").val()
					}
					
					if($(".course-register-filter input[name='courses']").val()) {
						d.courses =  $(".course-register-filter input[name='courses']").val()
					}
					
					if($(".course-register-filter input[name='courses_phrases']").val()) {
						d.courses_phrases =  $(".course-register-filter input[name='courses_phrases']").val()
					}
					
					if($(".course-register-filter input[name='student']").val()) {
						d.student =  $(".course-register-filter input[name='student']").val()
					}
					
					d.delivery_statuses = $(".payment-record-filter select[name='delivery_statuses']").val()
					d.payment_statuses = $(".payment-record-filter select[name='payment_statuses']").val()
				}
			},
			"columnDefs": [ { "targets": [0,1,2,3,4,5,6,7,8], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable books
	    $('.datatable-payment-records').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_payment_records_path %>",
				"data": function ( d ) {
					d.students = $(".payment-record-filter input[name='filter[students[]]']").val()
					
				}
			},
			"columnDefs": [ { "targets": [0,1,3,4,5,6,7], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
		//Datatable contacts
	    $('.datatable-activities').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_activities_path %>",
				"data": function ( d ) {
					d.contact_id = $(".activity-filter input[name='activity[contact_id]']").val()
				}
			},
			"columnDefs": [ { "targets": [0,1,2,3], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
		
	    $('select[name="DataTables_Table_0_length"]').select2({allowClear: true});
		
		//ajax select2 for contacts
	    $('.select2-ajax-contacts').select2({
			placeholder: "Search for a contact",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-contacts').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-contacts').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term				  
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		//ajax select2 for contacts
	    $('.select2-ajax-lecturers').select2({
			placeholder: "Search for a contact",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-lecturers').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-lecturers').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term				  
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		//ajax select2 for contacts
	    $('.select2-ajax-students').select2({
			placeholder: "Search for a contact",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-students').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-students').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term				  
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		//ajax select2 for state
	    $('.select2-ajax-states').select2({
			placeholder: "Search for a state",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-states').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-states').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		//ajax select2 for contacts
	    $('.select2-ajax-course-types').select2({
			placeholder: "Search for a program",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-course-types').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-course-types').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  if (!element.hasClass("multiple")) {
				callback({ id: element.val(), text: element.attr('text') });
			  } else {
				
			  }
			}
	    });
		
		//ajax select2 for contacts
	    $('.select2-ajax-bases').select2({
			placeholder: "Search for a program",
			minimumInputLength: 1,
			allowClear: true,
			ajax: {
			  url: $('.select2-ajax-bases').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  if (!element.hasClass("multiple")) {
				callback({ id: element.val(), text: element.attr('text') });
			  } else {
				
			  }
			}
	    });
		
		//ajax select2 for contacts		
	    $('.select2-ajax-subjects').select2({
			placeholder: "Search for a subject",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-subjects').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-subjects').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		//ajax select2 for contacts
	    $('.select2-ajax-course-types-subjects').select2({
			placeholder: "Search for a Program - Paper",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-course-types-subjects').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-course-types-subjects').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		//ajax select2 for contact tags
	    $('.select2-ajax-contact-tags').select2({
			placeholder: "Search for a tag",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-contact-tags').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-contact-tags').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		//ajax select2 for contacts
	    $('.select2-ajax-courses').select2({
			placeholder: "Search for a course",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-courses').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-courses').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term				  
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		//ajax select2 for contacts
	    $('.select2-ajax-books').select2({
			placeholder: "Search for a book",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-books').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-books').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term				  
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		
		//ajax select2 for contacts		
	    $('.select2-ajax-phrases').select2({
			placeholder: "Search for a phrase",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-phrases').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-phrases').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		//ajax select2 for contacts		
	    $('.select2-ajax-discount-programs').select2({
			placeholder: "Search for a discount program",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-discount-programs').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-discount-programs').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		//ajax select2 for bank
	    $('.select2-ajax-bank-accounts').select2({
			placeholder: "Search for a bank account",
			minimumInputLength: 1,
			allowClear: true,
			multiple: $('.select2-ajax-bank-accounts').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-bank-accounts').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term				  
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val(), text: element.attr('text') });
			}
	    });
		
		//Datatable subjects
	    $('.datatable-discount-programs').dataTable( {
			"processing": true,
			"serverSide": true,
			"ajax": {
				"url": "<%= datatable_discount_programs_path %>",
				"data": function ( d ) {
					d.course_types = $("select[name='filter[course_types[]]']").val()
				}
			},
			"columnDefs": [ { "targets": [1,5,6], "orderable": false } ],
			"order": [],
			"aLengthMenu": [[10, 25, 50, 75, 100], [10, 25, 50, 75, 100]],
			"iDisplayLength": 25
	    });
	    
	    $('.dataTables_length select').select2({allowClear: true});
	    
	    $('.date_select_filter select[name="filter[intake(1i)]"]').select2({
			allowClear: true,
			placeholder: "year"
	    });
	    
	    $('.date_select_filter  select[name="filter[intake(2i)]"]').select2({
			allowClear: true,
			placeholder: "month"
	    });
	    
	    $('.date_select_filter  select[name="filter[intake(3i)]"]').select2({
			allowClear: true,
			placeholder: "day"
	    });
	    
	    $('.select2-ajax-users').select2({
			placeholder: "Search for a user",
			allowClear: true,
			minimumInputLength: 1,
			ajax: {
			  url: $('.select2-ajax-users').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
			  callback({ id: element.val, text: element.attr('text') });
			}
	    });
		
		$('.select2-ajax-seminars').select2({
			placeholder: "Search for a seminar",
			allowClear: true,
			minimumInputLength: 1,
			//multiple: $('.select2-ajax-seminars').hasClass("multiple"),
			ajax: {
			  url: $('.select2-ajax-seminars').attr("data"),
			  dataType: 'json',
			  data: function (term, page) { // page is the one-based page number tracked by Select2
				return {
				  q: term, //search term
				};
			  },
			  results: function (data, page) {
				return {results: data};
			  }
			},
			initSelection: function (element, callback) {				      
				callback({ id: element.val, text: element.attr('text') });
			}
	    });
	    
		//number input
	    $('input.number_input').number(true, 2);
		$('input.number_input_0').number(true, 0);
		
		//select2 for datatable
		setTimeout("$('.dataTables_wrapper select').select2();", 2000);
		
		//fancybox link
		$('.fancybox_link').fancybox({width: "100%",'autoDimensions': false, 'autoSize':false});
		
		//contact filter
		$(document).on("change", "#contact_filter input, #contact_filter select", function() {
			$('.datatable-contacts').dataTable().fnFilter();
			$('.datatable-course-students').dataTable().fnFilter();
			$('.datatable-seminar-students').dataTable().fnFilter();
			
			clearListCheck()
	    });		
		
		$('#tab-01 a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
		
		$('#avatar_capture a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
		
		updateBoxesOrder()
		$( "#sortable" ).sortable({
			helper : 'clone',
			update: function( event, ui ) {
				updateBoxesOrder()
			}
		});
		$( "#sortable" ).disableSelection();

		
		//upload image boxes
		uploaderBoxes()
		
		//form validation
		$('form').validate();
		
		$('#main-tab a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		});
		
		$(document).on("click",".tab_page", function(e) {
			e.preventDefault()
			
			pname = false
			psrc = false
			if (typeof($(this).attr("psrc")) != 'undefined') {
				pname = $(this).attr("pname")
				psrc = $(this).attr("psrc")
			}
			
			if($('body.main-frame-page').length) {
              openTab($(this).attr("href"), $(this).attr("title"),psrc,pname)
            } else {
              parent.openTab($(this).attr("href"), $(this).attr("title"),psrc,pname)
            }
		})
        
        $(document).on("click",".main-content-frame .cancel-but",function(e) {
			e.preventDefault()			
			parent.closeTab(window.parent.$("#main-tab li.active a").attr("href").replace("#",""))
		})
		
		$('.date-group select').select2();
		
		$('.payment-record-filter select, .payment-record-filter input, .course-filter select, .course-filter input, .book-filter input, .book-filter select, .course-register-filter input, .course-register-filter select').change(function() {
			$('.datatable-courses').dataTable().fnFilter();
			$('.datatable-student-courses').dataTable().fnFilter();
			$('.datatable-subjects').dataTable().fnFilter();
			$('.datatable-seminars').dataTable().fnFilter();
			$('.datatable-phrases').dataTable().fnFilter();
			$('.datatable-books').dataTable().fnFilter();
			$('.datatable-student-books').dataTable().fnFilter();
			$('.datatable-course-registers').dataTable().fnFilter();
			$('.datatable-student-course-registers').dataTable().fnFilter();
			$('.datatable-payment-records').dataTable().fnFilter();
		});
		
		checkContactType()
		$('input[name="contact[is_individual]"], select[name="is_individual"]').change(function() {
			checkContactType()
		});
		
		checkInvoiceRequired()
		$('.invoice_required').change(function() {
			checkInvoiceRequired()
		});
		
		$(document).on("click",".contact_tag_item",function() {
			updateContactTag($(this).attr("rel"), $(this).attr("tag_id"))
		})
		
		ajaxQuickContactInfo($('input[name="contact[referrer_id]"]').val(),$('.selected_company_info'))
		$('input[name="contact[referrer_id]"]').change(function() {
			ajaxQuickContactInfo($(this).val(),$('.selected_company_info'))
			changeComanyTrigger($(this))
		})
		
		ajaxQuickContactInfo($('input[name="contact[invoice_info_id]"]').val(),$('.selected_invoice_info'))
		$('input[name="contact[invoice_info_id]"]').change(function() {
			ajaxQuickContactInfo($(this).val(),$('.selected_invoice_info'))
		})
		
		$(document).on("click",".refresh_contact_info",function() {
			ajaxQuickContactInfo($(this).attr("rel"),$(this).parent().parent())
		})
		
		$('select[name="contact[payment_type]"]').change(function() {
			if ($(this).val() == "company-sponsored" && $('input[name="contact[referrer_id]"]').val() == "") {
				alert("Must choose company first!")
				$(this).select2("val", 'self-financed');
			}
		})
		
		$(document).on("change","table .checkbox input",function() {
			if($(this).is(":checked")) {
				$(this).parents("tr").addClass("row_selected")
			} else {
				$(this).parents("tr").removeClass("row_selected")
			}
			var count = $('input[name="ids[]"]:checked').length
			$('.listing_box_actions .listing_checked_count').html(count)
			
			$('.check_all_page').attr("checked",false)
		})
		
		$(document).on("click",".listing_actions li a",function() {
			if ($(this).attr("rel").trim() == "") {
				return
			}
			var count = $('input[name="ids[]"]:checked').length
			if (count > 0) {
				$(".listing_form").attr("action", $(this).attr("rel"))
				$(".listing_form").submit()
			} else {
				alert("Need to choose contact(s) first!")
			}
			
		})
		
		$(document).on("change",".check_all_page",function() {
			if($(this).is(":checked")) {
				allListCheck()
			} else {
				clearListCheck()
			}
		})
		
		
		$(document).on("keyup",".related_info_input",function() {			
			checkRelatedInfo($(this))
		})
		$('.related_info_input').focus( function() {
			checkRelatedInfo($(this))
		});		  
		$(document).click( function() {
			$(".related_info_box").hide()
		});
		$('.related_info_input').click( function() {
			checkRelatedInfo($(this))
		});
		$('.related_info_input').change( function() {
			checkRelatedInfo($(this))
		});
		
		$('.datetimepicker').datetimepicker();
		
		
		
		$(document).on("click",".add_contact_to_seminar_but",function() {			
			var contact_ids = $('input[name="contacts"]').select2("val")
			
			if (contact_ids.length > 0) {
				addContactToSeminar($(this).attr("rel"), contact_ids)
			} else {
				alert("Contact box is empty! Let's find contact(s) first.")
			}
		})
		
		$(document).on("click",".remove_contact_from_seminar_but",function() {			
			var contact_ids = [$(this).attr("contact_ids")]
			
			if (contact_ids.length > 0) {
				removeContactToSeminar($(this).attr("rel"), contact_ids)
			}
		})
		
		$(document).on("click",".remove_contacts_from_seminar_but",function() {			
			var contact_ids = $('table input[name="ids[]"]:checked').map(function(){
						return $(this).val();
					}).get();
			var count = $('table input[name="ids[]"]:checked').length
			if (count > 0) {
				if (contact_ids.length > 0) {
					removeContactToSeminar($(this).attr("sid"), contact_ids)
				}
			} else {
				alert("Need to choose contact(s) first!")
			}
		})
		
		$('.fancybox').fancybox();
		
		changeMailingPreferred($('select[name="contact[preferred_mailing]"]'))
		$('select[name="contact[preferred_mailing]"]').change(function() {
			changeMailingPreferred($(this))
		})
		
		
		$('.phrase_boxx .main_input').change(function() {
			var value = $(this).val()
			var next_box = $(this).parents(".phrase_boxx").next()
			if (value != "") {
				next_box.show()
			} else if (next_box.find(".main_input").val() == "") {
				next_box.hide()
			}
		})
		
		$('.base_box .main_input').change(function() {
			var value = $(this).select2("val")
			var next_box = $(this).parents(".base_box").next()
			if (value != "") {
				next_box.show()
			} else if (next_box.find(".main_input").val() == "") {
				next_box.hide()
			}
		})
		
		$('.add-more-course-form').click(function() {
			$('.phrase_box_list .phrase_box').each(function() {
				if ($(this).hasClass("hidden")) {
					$(this).removeClass("hidden")
					return false
				}				
			})
		});
		
		$(document).on("click", ".phrase_box_close", function(e) {			
			var val = $(this).attr("rel")
			$('.phrase_box_'+val).find(".main_input").select2("val","")
			$('.phrase_box_'+val).find(".main_input").trigger("change")
			$('.phrase_box_'+val).addClass("hidden")
		});
		
		$('.registration_course').change(function() {
			updateCoursePhraseForm($(this))
			updateCoursePriceForm($(this))
			
		})
		
		$(document).on("click", ".ajax-check-radio", function(e) {
			e.preventDefault();
			
			var box = $(this).parent()
			var url = $(this).attr("href")
			
			$.ajax({
				url : url,
				type: "GET",
				success:function(data, textStatus, jqXHR)
				{
					box.html(data)
				}
			});
		});
		
		updateProgramsBox()
		$(document).on("change", "input[name='contact[contact_type_ids][]']", function(e) {
			updateProgramsBox()
		});
		
		$('.price_line input').keyup(function() {
			var val = $(this).val()
			var next = $(this).parent().next()
			if (val != "" || parseInt(val) > 0) {
				next.show()
			} else {
				next.hide()
			}
		})
		
		calculateCoursePriceForm()
		$(document).on("change", ".phrase_box input, .phrase_box select", function(e) {
			calculateCoursePriceForm()
		});
		$(document).on("keyup", ".phrase_box input", function(e) {
			calculateCoursePriceForm()
		});
		
		
		$('.add-more-stock-form').click(function() {
			$('.stock_box_list .stock_box').each(function() {
				if ($(this).hasClass("hidden")) {
					$(this).removeClass("hidden")
					updateBookForm(false, false, $(this).attr("rel"))
					return false
				}
			})
		});
		
		$(document).on("click", ".stock_box_close", function(e) {			
			var val = $(this).attr("rel")
			$('.stock_box_'+val).find("select[name=book_id]").select2("val","")
			$('.stock_box_'+val).find("select[name=book_id]").trigger("change")
			$('.stock_box_'+val).addClass("hidden")
		});
		
		updateBookForm(false, false, 0)		
		$('input[name="program_id"]').change(function() {
			updateBookForm($(this),false, $(this).attr("box_number"))
		})
		$('input[name="subject_id"]').change(function() {
			updateBookForm(false, $(this),$(this).attr("box_number"))
		})
		
		$(document).on("change", 'select.stock_select', function() {			
			updateVolumnForm($(this))
			updateStockPriceForm($(this))
		})
		
		calculateStockPriceForm()
		$(document).on("change", ".stock_box input, .stock_box select", function(e) {
			calculateStockPriceForm()
		});
		$(document).on("keyup", ".stock_box input", function(e) {
			calculateStockPriceForm()
		});
		$('input[name="course_register[discount_program_id]"], input[name="course_register[discount]"]').change(function() {
			updateTotalRegsitrationPrice()
		})
		$('input[name="course_register[discount]"]').keyup(function() {
			updateTotalRegsitrationPrice()
		})
		
		
		$(document).on("change", "input[name=courses]", function(e) {
			var course_id = $(this).val()
			var box = $(".courses_phrases_select")
			if (course_id == "") {
				box.html("")
				return
			}

			$.ajax({
				url : "<%= courses_phrases_select_courses_phrases_path %>?course_id="+course_id,
				type: "GET",
				success:function(data, textStatus, jqXHR)
				{
					box.html(data)
					box.find(".modern_select").select2()
				}
			});
		});
		
		$(document).on("click", "#new_activity .submit", function(e) {
			e.preventDefault()
			
			if (!$("#new_activity").valid()) {
				return
			}
			
			$( "#new_activity" ).addClass("loading")
			
			var data = $( "#new_activity" ).serialize();
			var url = $( "#new_activity" ).attr("action");
			
			$.ajax({
				url : url,
				type: "POST",
				data: data,
				success:function(data, textStatus, jqXHR)
				{
					$( "#new_activity textarea" ).val("")
					$( "#new_activity" ).removeClass("loading")
					$('.datatable-activities').dataTable().fnFilter();
				}
			});
		});
		
		$(document).on("click", ".activity_destroy", function(e) {
			e.preventDefault()
			
			var url = $(this).attr("href")
			
			if(confirm("Are you sure!")) {
				$.ajax({
					url : url,
					type: "DELETE",
					success:function(data, textStatus, jqXHR)
					{
						$('.datatable-activities').dataTable().fnFilter();
					}
				});
			}
			
			//if (!$("#new_activity").valid()) {
			//	return
			//}
			//
			//$( "#new_activity" ).addClass("loading")
			//
			//var data = $( "#new_activity" ).serialize();
			//var url = $( "#new_activity" ).attr("action");
			//
			//$.ajax({
			//	url : url,
			//	type: "POST",
			//	data: data,
			//	success:function(data, textStatus, jqXHR)
			//	{
			//		$( "#new_activity textarea" ).val("")
			//		$( "#new_activity" ).removeClass("loading")
			//		$('.datatable-activities').dataTable().fnFilter();
			//	}
			//});
		});
	})
	

</script>